{% load navigation_tags %}
<div class="p-4 flex items-center justify-between">
    <h1 class="heading heading--one">Styleguide</h1>
    <div class="flex items-center gap-2">
        <label for="theme-chooser">Choose a theme:</label>
        <select name="theme-chooser" id="theme-chooser" class="p-2 text-black select" onchange="changeTheme(this.value)">
            <option value="theme-coral">Coral</option>
            <option value="theme-lagoon">Lagoon</option>
            <option value="theme-banana">Banana</option>
        </select>
    </div>
</div>

<div class="p-4 flex flex-col gap-y-16">
    <div>
        <h2 class="underline mb-2">Letter Motif</h2>
        {% include "patterns/atoms/motif-heading/motif-heading.html" with classes="motif-heading--one" %}
    </div>

    <div>
        <h2 class="underline mb-2">Letter Motif without animation</h2>
        {% include "patterns/atoms/motif-heading/motif-heading.html" with heading_level=2 classes="motif-heading--two motif-heading--static" %}
    </div>

    <div>
        <h2 class="underline mb-2">Avatar</h2>
        {% include "patterns/atoms/avatar/avatar.html" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Avatar (small)</h2>
        {% include "patterns/atoms/avatar/avatar.html" with classes="avatar--small" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Pullquote (person)</h2>
        {% include "patterns/molecules/streamfield/blocks/pullquote_block.html" with value=blockquote_person_data %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Pullquote (client)</h2>
        {% include "patterns/molecules/streamfield/blocks/pullquote_block.html" with value=blockquote_client_data %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Breadcrumb</h2>
        {% include "patterns/navigation/components/breadcrumbs.html" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Image (renders smaller in a page)</h2>
        {% include "patterns/molecules/streamfield/blocks/image_block.html" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Wide image</h2>
        {% include "patterns/molecules/streamfield/blocks/wide_image_block.html" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Listing item with image</h2>
        {% include "patterns/molecules/listing/listing--image.html" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Listing item with avatar</h2>
        {% include "patterns/molecules/listing/listing--avatar.html" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Simple listing item</h2>
        {% include "patterns/molecules/listing/listing--simple.html" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Simple CTA</h2>
        {% include "patterns/molecules/streamfield/blocks/call_to_action.html" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Title with filters</h2>
        {% include "patterns/molecules/title-filters/title-filters.html" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Team title with filters</h2>
        {% include "patterns/molecules/title-filters/title-filters--team.html" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Contact Call To Action</h2>
        {% include "patterns/molecules/streamfield/blocks/contact_call_to_action.html" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Stats block numeric</h2>
        {% include "patterns/molecules/streamfield/blocks/stats_numeric.html" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Stats block textual</h2>
        {% include "patterns/molecules/streamfield/blocks/stats_textual.html" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Promo block</h2>
        {% include "patterns/molecules/streamfield/blocks/promo_block.html" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Pagination</h2>
        {% include "patterns/molecules/pagination/pagination.html" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Showcase Paragraph</h2>
        {% include "patterns/molecules/streamfield/blocks/showcase_block.html" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Featured Case Study</h2>
        {% include "patterns/molecules/streamfield/blocks/featured_case_study.html" %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Partners block</h2>
        {% include "patterns/molecules/streamfield/blocks/partners_block.html" with value=partners_data  %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Photo collage block</h2>
        {% include "patterns/molecules/streamfield/blocks/photo_collage_block.html"  %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Footer CTA</h2>
        {% include "patterns/molecules/footer-cta/footer-cta.html" with value=partners_data  %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Footer links</h2>
        {% footerlinks  %}
    </div>

    <div>
        <h2 class="underline mt-8 mb-2">Cookie banner</h2>
        {% include "patterns/molecules/cookie-message/cookie-message.html" with classes="cookie-message--unfixed" %}
    </div>
</div>

<script>
    // JS to change the theme of the styleguide
    function changeTheme(theme) {
        document.documentElement.className = 'mode-dark';
        document.documentElement.classList.add(theme);
    }
</script>
