<h1 class="heading--one">Styleguide</h1>
<div class="p-4">
    <h2 class="underline mb-2">Avatar</h2>
    {% include "patterns/atoms/avatar/avatar.html" %}

    <h2 class="underline mt-8 mb-2">Avatar (small)</h2>
    {% include "patterns/atoms/avatar/avatar.html" with classes="avatar--small" %}

    <p class="underline mt-8 mb-2">Pullquote (person)</p>
    {% include "patterns/molecules/streamfield/blocks/pullquote_block.html" with value=blockquote_person_data %}

    <p class="underline mt-8 mb-2">Pullquote (client)</p>
    {% include "patterns/molecules/streamfield/blocks/pullquote_block.html" with value=blockquote_client_data %}
</div>

<div class="p-4">
    <h2 class="underline mb-2">Breadcrumb</h2>
    {% include "patterns/navigation/components/breadcrumbs.html" %}
</div>
