{% extends "patterns/styleguide_base.html" %}
{% load navigation_tags %}


{% block content %}
    <div class="p-4 flex flex-col gap-y-16">
        <div>
            <h2 class="underline mb-2">Mode switcher</h2>
            {% include "patterns/molecules/mode_switcher/mode_switcher.html" %}
        </div>

        <div>
            <h2 class="underline mb-2">Avatar</h2>
            {% include "patterns/atoms/avatar/avatar.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Avatar (footer cta)</h2>
            {% include "patterns/atoms/avatar/avatar.html" with classes="avatar--footer-cta" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Avatar (small)</h2>
            {% include "patterns/atoms/avatar/avatar.html" with classes="avatar--small" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Avatar (tiny)</h2>
            {% include "patterns/atoms/avatar/avatar.html" with classes="avatar--tiny" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Pullquote (person)</h2>
            {% include "patterns/molecules/streamfield/blocks/pullquote_block.html" with value=blockquote_person_data %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Pullquote (client)</h2>
            {% include "patterns/molecules/streamfield/blocks/pullquote_block.html" with value=blockquote_client_data %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Breadcrumb</h2>
            {% include "patterns/navigation/components/breadcrumbs.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Image (renders smaller in a page)</h2>
            {% include "patterns/molecules/streamfield/blocks/image_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Wide image</h2>
            {% include "patterns/molecules/streamfield/blocks/wide_image_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Listing item with image</h2>
            {% include "patterns/molecules/listing/listing--image.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Listing item with avatar</h2>
            {% include "patterns/molecules/listing/listing--avatar.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Listing item for event</h2>
            {% include "patterns/molecules/listing/listing--event.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Listing item for event, with no image</h2>
            {% include "patterns/molecules/listing/listing--event.html" with listing_image=None %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Simple listing item</h2>
            {% include "patterns/molecules/listing/listing--simple.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Simple CTA</h2>
            {% include "patterns/molecules/streamfield/blocks/call_to_action.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Title with filters</h2>
            {% include "patterns/molecules/title-filters/title-filters.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Team title with filters</h2>
            {% include "patterns/molecules/title-filters/title-filters--team.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Contact Call To Action</h2>
            {% include "patterns/molecules/streamfield/blocks/contact_call_to_action.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Stats block numeric</h2>
            {% include "patterns/molecules/streamfield/blocks/stats_numeric.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Stats block textual</h2>
            {% include "patterns/molecules/streamfield/blocks/stats_textual.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Numeric stats group block</h2>
            {% include "patterns/molecules/streamfield/blocks/numeric_stats_group_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Event block</h2>
            {% include "patterns/molecules/streamfield/blocks/event_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Promo block</h2>
            {% include "patterns/molecules/streamfield/blocks/promo_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Pagination</h2>
            {% include "patterns/molecules/pagination/pagination.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Showcase Paragraph</h2>
            {% include "patterns/molecules/streamfield/blocks/showcase_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Homepage Showcase</h2>
            {% include "patterns/molecules/streamfield/blocks/showcase_block.html" with is_homepage_showcase=True %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Icon keypoints</h2>
            {% include "patterns/molecules/streamfield/blocks/icon_keypoints_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Featured Case Study</h2>
            {% include "patterns/molecules/streamfield/blocks/featured_case_study.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Partners block</h2>
            {% include "patterns/molecules/streamfield/blocks/partners_block.html" with value=partners_data  %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Photo collage block</h2>
            {% include "patterns/molecules/streamfield/blocks/photo_collage_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Four photo collage block</h2>
            {% include "patterns/molecules/streamfield/blocks/four_photo_collage_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Introduction with images block</h2>
            {% include "patterns/molecules/streamfield/blocks/introduction_with_images_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Tabbed paragraph block</h2>
            {% include "patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Home page hero</h2>
            {% include "patterns/molecules/home-page-hero/home-page-hero.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Values block</h2>
            {% include "patterns/molecules/streamfield/blocks/values_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Code block</h2>
            {% include "patterns/molecules/streamfield/blocks/markdown_block.html" with value=markdown %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Impact report heading block</h2>
            {% include "patterns/molecules/streamfield/blocks/impact_report_heading_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Impact report instagram block</h2>
            {% include "patterns/molecules/streamfield/blocks/instagram_gallery_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Impact report small image with text block</h2>
            {% include "patterns/molecules/streamfield/blocks/small_image_with_text_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Table block</h2>
            {% include "patterns/molecules/streamfield/blocks/typed_table_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Division signpost block</h2>
            {% include "patterns/molecules/streamfield/blocks/division_signpost_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Featured services block</h2>
            {% include "patterns/molecules/streamfield/blocks/featured_services_block.html" %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Footer CTA</h2>
            {% include "patterns/molecules/footer-cta/footer-cta.html" with value=partners_data  %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Footer links</h2>
            {% footerlinks  %}
        </div>

        <div>
            <h2 class="underline mt-8 mb-2">Cookie banner</h2>
            {% include "patterns/molecules/cookie-message/cookie-message.html" with classes="cookie-message--unfixed" %}
        </div>
    </div>
{% endblock %}
