{% load wagtailcore_tags wagtailimages_tags %}

{% if item.image %}
    {% image item.image width-1280 as related_item_image %}
{% elif item.homepage_image %}
    {% image item.homepage_image width-1280 as related_item_image %}
{% elif item.feed_image %}
    {% image item.feed_image width-1280 as related_item_image %}
{% endif %}

{% if item.url %}
    <a href="{{ item.url }}">
{% else %}
    <div>
{% endif %}
{% if item.subtitle or item.client %}
    {% firstof item.subtitle item.client %}
{% endif %}

<h2>{{ item.title }}</h2>

{% if item.description or item.listing_summary %}
    <p>{% firstof item.description item.listing_summary %}</p>
{% endif %}

{% if item.url %}
    </a>
{% else %}
    </div>
{% endif %}
