{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="grid">
        {% include "patterns/molecules/title-filters/title-filters.html" with item=page tags=related_taxonomies %}

        <ul class="page-listing page-listing--work">
            {% for post in works %}
                {% include "patterns/molecules/listing/listing--image.html" with title=post.title name=post.client link=post.url date=post.date reading_time=post.read_time tags=post.related_taxonomies listing_image=post.listing_image tag_link_base="." tags_screenreader_text="See more work posts in this category" base_class="page-listing__item" %}
            {% endfor %}
        </ul>

        <div class="page-listing__pagination">
            {% include "patterns/molecules/pagination/pagination.html" with pages=works %}
        </div>
    </div>
{% endblock %}
