{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {% include "patterns/molecules/title-block/title-block.html" with item=page tags=related_services %}

    {% include "patterns/organisms/work-listing/work-listing.html" with works=works %}

    {% if works.has_next %}
        {% include "patterns/atoms/see-more/see-more.html" with text="See more case studies" %}
    {% endif %}

    {% include_block page.call_to_action %}

{% endblock %}
