{% extends "patterns/pages/work/work_page_base.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block intro %}
    {% if page.intro %}
        <div class="streamfield__intro heading heading--four">
            {{ page.intro|richtext }}
        </div>
    {% endif %}
{% endblock %}

{% block main_image %}
    <div class="grid">
        <div class="grid__work-image">

            {% srcset_image page.header_image format-webp saturation-0.6 fill-{400x225,800x450,1600x900,1280x720} sizes="(max-width: 1799px) 90vw, (min-width: 1800px) 1680px" loading="lazy" %}

            {% if page.header_caption %}
                <p class="image__caption supporting">{{ page.header_caption }}</p>
            {% endif %}

            {% if page.header_attribution %}
                <p class="image__attribution supporting">{{ page.header_attribution }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block body_streamfield %}
    {# see work_section_block.html #}
    {% include_block page.body %}
{% endblock %}
