
{% include "patterns/molecules/streamfield/blocks/impact_report_heading_block.html" with value=image_heading_block_1 %}
{% include "patterns/molecules/streamfield/blocks/paragraph_block.html" %}
{% include "patterns/molecules/streamfield/blocks/typed_table_block.html" %}
{% include "patterns/molecules/streamfield/blocks/small_image_with_text_block.html" %}
{% include "patterns/molecules/streamfield/blocks/stats_numeric.html" %}
{% include "patterns/molecules/streamfield/blocks/stats_textual.html" %}
{% include "patterns/molecules/streamfield/blocks/impact_report_heading_block.html" with value=image_heading_block_2 %}
{% include "patterns/molecules/streamfield/blocks/heading3_block.html" %}
{% include "patterns/molecules/streamfield/blocks/small_image_with_text_block.html" %}
{% include "patterns/molecules/streamfield/blocks/instagram_gallery_block.html" %}
{% include "patterns/molecules/streamfield/blocks/impact_report_heading_block.html" with value=image_heading_block_3 %}
{% include "patterns/molecules/streamfield/blocks/paragraph_block.html" %}
{% include "patterns/molecules/streamfield/blocks/image_block.html" %}
{% include "patterns/molecules/streamfield/blocks/impact_report_heading_block.html" with value=image_heading_block_4 %}
{% include "patterns/molecules/streamfield/blocks/wide_image_block.html" %}
{% include "patterns/molecules/streamfield/blocks/impact_report_heading_block.html" with value=image_heading_block_5 %}
{% include "patterns/molecules/streamfield/blocks/paragraph_block.html" %}

