{% include "patterns/molecules/streamfield/blocks/intro_block.html" %}
{% include "patterns/molecules/streamfield/blocks/featured_case_study.html" %}
{% include "patterns/molecules/streamfield/blocks/heading2_block.html" %}
{% include "patterns/molecules/streamfield/blocks/paragraph_block.html" %}
{% include "patterns/molecules/streamfield/blocks/showcase_block.html" %}
{% include "patterns/molecules/streamfield/blocks/tabbed_paragraph_block.html" %}
{% include "patterns/molecules/streamfield/blocks/paragraph_block.html" %}
{% include "patterns/molecules/streamfield/blocks/heading3_block.html" %}
{% include "patterns/molecules/streamfield/blocks/paragraph_block.html" %}
{% include "patterns/molecules/streamfield/blocks/image_block.html" %}
{% include "patterns/molecules/streamfield/blocks/wide_image_block.html" %}
{% include "patterns/molecules/streamfield/blocks/paragraph_block.html" %}
{% include "patterns/molecules/streamfield/blocks/blog_chooser_block.html" %}
{% include "patterns/molecules/streamfield/blocks/work_chooser_block.html" %}
{% include "patterns/molecules/streamfield/blocks/photo_collage_block.html" %}
