{% include "patterns/molecules/streamfield/blocks/stats_numeric.html" %}
{% include "patterns/molecules/streamfield/blocks/stats_textual.html" %}
{% include "patterns/molecules/streamfield/blocks/paragraph_block.html" %}
{% include "patterns/molecules/streamfield/blocks/heading3_block.html" %}
{% include "patterns/molecules/streamfield/blocks/paragraph_block.html" %}
{% include "patterns/molecules/streamfield/blocks/image_block.html" %}
{% include "patterns/molecules/streamfield/blocks/wide_image_block.html" %}
{% include "patterns/molecules/streamfield/blocks/paragraph_block.html" %}

