{# <form class="site-switcher" data-mode-switcher method="GET" action="{% url 'switch_mode' %}"> #}
<form class="site-switcher" data-mode-switcher method="GET" action="">
    <fieldset class="site-switcher__layout">
        <legend class="sr-only">Toggle light or dark mode</legend>
        <label for="id-site-switcher-light" class="site-switcher__label site-switcher__label--light" aria-label="Switch to light mode">
            {% include "patterns/atoms/icons/icon.html" with name="light-mode-icon" classname="site-switcher__icon site-switcher__icon--light" %}
        </label>
        <div class="site-switcher__button">
            <input
                type="radio"
                name="switch_mode"
                value="light"
                class="site-switcher__checkbox"
                id="id-site-switcher-light"
                data-mode-switch
                {% if MODE == 'light' %}checked="checked"{% endif %}
            >
            <input
                type="radio"
                name="switch_mode"
                value="dark"
                class="site-switcher__checkbox"
                id="id-site-switcher-dark"
                data-mode-switch
                {% if MODE == 'dark' %}checked="checked"{% endif %}
            >
        </div>
        <label for="id-site-switcher-dark" class="site-switcher__label site-switcher__label--dark" aria-label="Switch to dark mode">
            {% include "patterns/atoms/icons/icon.html" with name="dark-mode-icon" classname="site-switcher__icon site-switcher__icon--dark" %}
        </label>
        <input type="hidden" name="next_url" value="{{ request.get_full_path }}">
        <noscript>
            <input type="submit" class="button" value="Switch mode" />
        </noscript>
    </fieldset>
</form>
