@use 'sass:list';
@use 'sass:map';
@use 'functions' as *;
@use 'variables' as *;

/* ============================================
    Media queries
*/
@mixin media-query($queries...) {
    @each $query in $queries {
        @each $breakpoint in $breakpoints {
            $name: list.nth($breakpoint, 1);
            $declaration: list.nth($breakpoint, 2);

            @if $query == $name and $declaration {
                @media only screen and #{$declaration} {
                    @content;
                }
            }
        }
    }
}

/* ============================================
    z-index
*/

@mixin z-index($key) {
    z-index: z-index($key);
}

/* ============================================
  Placeholder text
*/
@mixin placeholder-text() {
    &.placeholder {
        @content;
    }

    &::placeholder {
        @content;
    }
}

/* ============================================
  iOS Native vertical scroll
*/
@mixin native-vertical-scroll() {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

/* ============================================
    Output a rem and px fallback value for the given property
*/
@mixin rem($property, $values) {
    $px: ();
    $rem: ();

    @each $value in $values {
        @if $value == 0 or $value == auto or $value == inherit {
            $px: list.append($px, $value);
            $rem: list.append($rem, $value);
        } @else {
            $px: list.append($px, $value);
            $rem: list.append($rem, rem(strip-unit($value)));
        }
    }
    #{$property}: $px;
    #{$property}: $rem;
}

/* ============================================
    Output a `font-size: [x]rem;` declaration for the given px value
*/
@mixin rem-font-size($font-size) {
    @include rem(font-size, $font-size);
}

/* ============================================
    Font sizes
*/
@mixin font-size($keyword) {
    // Assuming each value in the font-size maps is a list of (size, line-height)
    $small-values: map-get($small-font-sizes, $keyword);
    $large-values: map-get($large-font-sizes, $keyword);

    // Access the font size and line height from the list
    $small-size: nth($small-values, 1);
    $small-line-height: nth($small-values, 2);

    $large-size: nth($large-values, 1);
    $large-line-height: nth($large-values, 2);

    @if $small-size == null or $large-size == null {
        @warn 'Font size `#{$keyword}` does not exist in the map.';
    } @else {
        @include rem-font-size($small-size);
        line-height: $small-line-height;

        @include media-query(large) {
            @include rem-font-size($large-size);
            line-height: $large-line-height;
        }
    }
}

/* ============================================
    Drop cap - used for heading one, heading one-b and heading two
*/
@mixin drop-cap($small-size, $large-size) {
    @include rem-font-size($small-size);
    line-height: 1; // Reset line height to 1 to avoid spacing issues
    font-weight: $weight--semibold;

    @include media-query(large) {
        @include rem-font-size($large-size);
    }
}

@mixin focus-style(
    $color: var(--color--link),
    $shadow: false,
    $underline-hover-color: $color,
    $keyboard-only: false,
    $outline-color: var(--color--theme-primary)
) {
    outline: $focus-width solid $outline-color;
    text-decoration-thickness: $link-underline-thickness-interaction;
    text-decoration-color: $underline-hover-color;

    @if $shadow {
        text-shadow: 0 0 0.4px $color, 0 0 0.4px $color;
    }

    @if $keyboard-only {
        &:focus:not(:focus-visible) {
            outline-color: transparent;
        }
    }
}

@mixin arrow-focus-style() {
    transform: translate3d($link-transition-gap, 0, 0);
    color: var(--color--link-interaction);

    @include reduced-motion() {
        transform: none;
    }
}

/* ============================================
    Link styles - set to be the same colour as the text by default
    but can be overridden by passing in a resting colour and interaction colour
*/
@mixin link-styles(
    $color: var(--color--text),
    $interaction-color: var(--color--text),
    $shadow: false,
    $offset: 2px,
    $underline-color: var(--color--link-underline),
    $underline-hover-color: $interaction-color
) {
    color: $color;
    text-decoration: underline;
    text-decoration-thickness: $link-underline-thickness;
    text-underline-offset: $offset;
    text-decoration-color: $underline-color;

    &:hover {
        color: $interaction-color;
        text-decoration-thickness: $link-underline-thickness-interaction;
        text-decoration-color: $underline-hover-color;

        @if $shadow {
            text-shadow: 0 0 0.4px $color, 0 0 0.4px $color;
        }
    }

    &:focus {
        @include focus-style(
            $color,
            $shadow: $shadow,
            $underline-hover-color: $underline-hover-color
        );
    }
}

/* ============================================
    Arrow icon styles - Translates on hover
*/
@mixin arrow-link-icon-styles(
    $mobile-hidden: false,
    $color: var(--color--decoration),
    $interaction-color: var(--color--link-interaction)
) {
    // Apply all common styles regardless of mobile-hidden
    display: inline-block;
    color: $color;
    width: 72px;
    height: 22px;
    transition: transform, $transition-quick;

    @include reduced-motion() {
        transition: none;
    }

    // If mobile-hidden is true, hide on mobile
    @if $mobile-hidden {
        display: none;

        @include media-query(medium) {
            display: inline-block;
        }
    }

    a:hover & {
        color: $interaction-color;
        transform: translateX(8px);

        @include reduced-motion() {
            transform: none;
        }

        @include high-contrast-mode() {
            color: var(--color--decoration);
        }
    }
}

/* ============================================
    Card hover styles - used for division and services cards
*/
@mixin card-hover-style($color, $interaction-color) {
    background-color: $color;

    &:has(a:hover) {
        background-color: $interaction-color;
    }
}

/* ============================================
    High Contrast mode in dark mode
    prefers-color-scheme: dark + forced-colors: active

    Note that this is unrelated to the 'dark mode' option on the site.
*/
@mixin high-contrast-dark-mode() {
    @media (prefers-color-scheme: dark) and (forced-colors: active) {
        @content;
    }
}

/* ============================================
    High Contrast mode in light mode
    prefers-color-scheme: light + forced-colors: active

    Note that this is unrelated to the 'light mode' option on the site.
*/
@mixin high-contrast-light-mode() {
    @media (prefers-color-scheme: light) and (forced-colors: active) {
        @content;
    }
}

/* ============================================
    High Contrast mode (forced-colors: active)
*/

@mixin high-contrast-mode() {
    @media (forced-colors: active) {
        @content;
    }
}

/* ============================================
    Prefers reduced motion
*/
@mixin reduced-motion() {
    @media (prefers-reduced-motion) {
        @content;
    }
}

/* ============================================
    Spacing for h2, h3 and h4 inside rich text
*/
@mixin rich-text-heading-spacing() {
    margin: $spacer-small 0 $spacer-mini;

    @include media-query(large) {
        margin: $spacer-medium 0 $spacer-mini;
    }
}

/* =============================================
    Navigaiton mixins
*/

@mixin nav-fixed-position($header-height: $header-height, $full-height: true) {
    width: 100%;
    @if $full-height {
        height: calc(100vh - #{$header-height});
        // use dvh if supported
        height: calc(100dvh - #{$header-height});
    } @else {
        // using max-height to allow for scrolling
        max-height: calc(100vh - #{$header-height});
        // use dvh if supported
        max-height: calc(100dvh - #{$header-height});
    }
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: $header-height;
    left: 0;
    overflow: hidden;
    overflow-y: visible; // allow scrolling within the nav
    transition: visibility 0ms ease-out 50ms, opacity 250ms ease-out 50ms;

    @include reduced-motion() {
        transition: none;
    }
}

@mixin reset-nav-fixed-position() {
    position: static;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
    opacity: 1;
    transition: none;
    overflow: visible;
    visibility: visible;
}

/* =============================================
    Ring styles re-used across a few components
*/

@mixin rings($width: 40px) {
    position: relative;
    width: $width;
    flex-shrink: 0;
}

@mixin ring($diameter: 32px, $opacity: 0.5) {
    position: absolute;
    inset: 0;
    width: $diameter;
    height: $diameter;
    opacity: $opacity;
    transition: color $transition-quick, opacity $transition-quick;

    @include reduced-motion() {
        transition: none;
    }
}

@mixin ring-one($top: 8px, $color: var(--color--theme-secondary)) {
    top: $top;
    color: $color;
}

@mixin ring-two($top: 8px, $color: var(--color--theme-primary)) {
    left: $top;
    color: $color;
}

@mixin ring-one-hover() {
    opacity: 1;
}

@mixin ring-two-hover() {
    opacity: 1;
}

/* =============================================
    Button styles
*/
@mixin button-styles() {
    @include font-size('size-six');
    @include high-contrast-text-decoration();
    display: inline-block;
    text-align: center;
    border: 1px solid var(--color--link);
    color: var(--color--link);
    background-color: transparent;
    padding: 12px $spacer-small-plus;
    transition: color $transition-quick, background-color $transition-quick;
    font-weight: $weight--semibold;

    &:focus,
    &:hover {
        color: var(--color--background);
        background-color: var(--color--link);
    }

    &:focus {
        @include focus-style();
    }
}

@mixin high-contrast-text-decoration() {
    @include high-contrast-mode() {
        text-decoration: underline;
        text-decoration-thickness: $link-underline-thickness;

        &:focus,
        &:hover {
            text-decoration-thickness: $link-underline-thickness-interaction;
        }
    }
}
