@use "sass:color";
// --------------------------------- Colors ------------------------------------

$color--black: #000;
$color--off-black: #171c1d;
$color--coral: #fd5765;
$color--coral-light: #fc8698;
$color--pink: #fe7eec;
$color--white: #fff;
$color--purple: #5e1998;
$color--purple-light: #7045ff;
$color--lagoon: #0c829b;
$color--lagoon-light: #6bd8ef;
$color--blue: #2828ef;
$color--light-blue: #659ff2;
$color--dark-blue: #481cd9;
$color--grey: #ccc;
$color--dark-grey: #1d2325;
$color--grey-50: #808080;
$color--grey-60: #4e5152;
$color--mid-grey: #282e30;

// Coral dark by default
:root,
.theme-coral-dark {
    --color--background: #{$color--dark-grey};
    --color--heading: #{$color--white};
    --color--text: #{$color--grey};
    --color--link: #{$color--white};
    --color--link-interaction: #{$color--white};
    --color--footer-background: #{$color--off-black};
    --color--focus-ring: #{$color--coral-light};
    --color--streamfield-background: #{$color--mid-grey};
    --color--accent-one: #{$color--dark-grey};
    --color--accent-two: #{$color--purple-light};
    --color--accent-three: #{$color--coral-light};
    --color--accent-four: #{$color--purple};
    --color--accent-five: #{$color--white};
    --color--decoration: #{$color--grey-50};
    --color--border: #{$color--grey-60};
    // Motif heading flames
    // - The 'fill' colour is inlined with the '#' of the hex being replaced with '%23' e.g. #ff0000 becomes %23ff0000
    // - The hex colours used should be the same as --color--accent-two and --color--accent-three
    --letter-motif-one: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="71" height="81" viewBox="0 0 71 81"><path d="M66.805 52.031c-.374.779-1.505.626-1.67-.22-.945-5.06-3.055-9.834-5.006-11.73l-.154.457C49.657 69.905 23.035 78.79 13.979 80.956c-.861.22-1.465-.83-.855-1.473 8.336-8.564 9.757-18.821 4.668-30.974-.988-2.251-1.957-5.061-2.673-7.786 0 0-.9-3.182-1.376-7.295l-.135.067c-5.13 4.045-7.97 9.986-9.265 13.338-.324.795-1.438.761-1.688 0C1.52 43.177-.11 35.966 1.535 29.23 5.546 12.947 20.346-.12 37.883.947c.827.051 1.11 1.05.434 1.558-2.168 1.76-4.085 4.62-5.45 8.682-3.157 9.394 2.166 27.048 2.166 27.048S49.943 27.352 53.1 17.96c1.382-4.113 1.58-7.55.914-10.258-.183-.795.647-1.421 1.287-.981 14.266 9.293 16.738 26.219 14.865 35.477-.808 4.08-2.323 7.583-3.36 9.834z" fill="%237045ff" style="opacity: 0.9"/></svg>');
    --letter-motif-two: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="58" height="62" viewBox="0 0 58 62"><path d="M6.825 14.11c.45-.571 1.35-.24 1.332.486-.15 4.33.712 8.638 1.969 10.552l.21-.347C24.18 2.56 47.676.125 55.512 0c.748-.024 1.052.949.434 1.366-8.415 5.512-11.457 13.68-9.497 24.595.4 2.03.683 4.515.774 6.885 0 0 .158 2.779-.204 6.245l.124-.031c4.953-2.386 8.373-6.748 10.05-9.264.41-.595 1.32-.363 1.386.308.265 3.211.285 9.433-2.297 14.667-6.27 12.645-20.818 20.675-35.03 16.593-.671-.192-.722-1.065-.072-1.358 2.102-1.05 4.2-3.05 6.064-6.138 4.31-7.14 3.164-22.618 3.164-22.618s-14.24 6.216-18.55 13.357c-1.888 3.127-2.678 5.913-2.626 8.26.004.687-.791 1.05-1.237.571-10.022-10.242-8.96-24.6-5.729-31.864 1.41-3.204 3.295-5.805 4.559-7.465z" fill="%23fc8698" style="opacity: 0.9"/></svg>');
}

.theme-lagoon-dark {
    --color--background: #{$color--dark-grey};
    --color--heading: #{$color--white};
    --color--text: #{$color--white};
    --color--link: #{$color--white};
    --color--link-interaction: #{$color--white};
    --color--footer-background: #{$color--lagoon};
    --color--focus-ring: #{$color--lagoon-light};
    --color--streamfield-background: #{$color--mid-grey};
    --color--accent-one: #{$color--dark-grey};
    --color--accent-two: #{$color--purple-light};
    --color--accent-three: #{$color--lagoon-light};
    --color--accent-four: #{$color--blue};
    --color--accent-five: #{$color--white};
    --color--decoration: #{$color--grey-50};
    --color--border: #{$color--grey-60};
    --letter-motif-one: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="71" height="81" viewBox="0 0 71 81"><path d="M66.805 52.031c-.374.779-1.505.626-1.67-.22-.945-5.06-3.055-9.834-5.006-11.73l-.154.457C49.657 69.905 23.035 78.79 13.979 80.956c-.861.22-1.465-.83-.855-1.473 8.336-8.564 9.757-18.821 4.668-30.974-.988-2.251-1.957-5.061-2.673-7.786 0 0-.9-3.182-1.376-7.295l-.135.067c-5.13 4.045-7.97 9.986-9.265 13.338-.324.795-1.438.761-1.688 0C1.52 43.177-.11 35.966 1.535 29.23 5.546 12.947 20.346-.12 37.883.947c.827.051 1.11 1.05.434 1.558-2.168 1.76-4.085 4.62-5.45 8.682-3.157 9.394 2.166 27.048 2.166 27.048S49.943 27.352 53.1 17.96c1.382-4.113 1.58-7.55.914-10.258-.183-.795.647-1.421 1.287-.981 14.266 9.293 16.738 26.219 14.865 35.477-.808 4.08-2.323 7.583-3.36 9.834z" fill="%237045ff" style="opacity: 0.9"/></svg>');
    --letter-motif-two: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="58" height="62" viewBox="0 0 58 62"><path d="M6.825 14.11c.45-.571 1.35-.24 1.332.486-.15 4.33.712 8.638 1.969 10.552l.21-.347C24.18 2.56 47.676.125 55.512 0c.748-.024 1.052.949.434 1.366-8.415 5.512-11.457 13.68-9.497 24.595.4 2.03.683 4.515.774 6.885 0 0 .158 2.779-.204 6.245l.124-.031c4.953-2.386 8.373-6.748 10.05-9.264.41-.595 1.32-.363 1.386.308.265 3.211.285 9.433-2.297 14.667-6.27 12.645-20.818 20.675-35.03 16.593-.671-.192-.722-1.065-.072-1.358 2.102-1.05 4.2-3.05 6.064-6.138 4.31-7.14 3.164-22.618 3.164-22.618s-14.24 6.216-18.55 13.357c-1.888 3.127-2.678 5.913-2.626 8.26.004.687-.791 1.05-1.237.571-10.022-10.242-8.96-24.6-5.729-31.864 1.41-3.204 3.295-5.805 4.559-7.465z" fill="%236bd8ef" style="opacity: 0.9"/></svg>');
}

// --------------------------------- Fonts -------------------------------------

$font--primary: 'Outfit', sans-serif;

// Font weights
$weight--semibold: 600;
$weight--medium: 500;
$weight--normal: 400;
$weight--light: 300;

// Font sizes
$base-font-size: 16px;
$base-line-height: 25px;

// Font sizes and line heights
$large-font-sizes: (
    heading-one: (
        80px,
        1.2,
    ),
    heading-one-b: (
        66px,
        1.3,
    ),
    heading-two: (
        54px,
        1.3,
    ),
    heading-two-b: (
        38px,
        1.4,
    ),
    heading-three: (
        32px,
        1.4,
    ),
    heading-four: (
        24px,
        1.5,
    ),
    heading-five: (
        20px,
        1.6,
    ),
    heading-six: (
        18px,
        1.6,
    ),
    body: (
        20px,
        1.6,
    ),
    body-one: (
        18px,
        1.6,
    ),
    body-two: (
        16px,
        1.5,
    ),
    supporting: (
        14px,
        1.5,
    ),
    stat: (
        80px,
        1.2,
    ),
    stat-text: (
        32px,
        1.4,
    ),
);

$small-font-sizes: (
    heading-one: (
        50px,
        1.2,
    ),
    heading-one-b: (
        42px,
        1.3,
    ),
    heading-two: (
        36px,
        1.3,
    ),
    heading-two-b: (
        32px,
        1.4,
    ),
    heading-three: (
        28px,
        1.4,
    ),
    heading-four: (
        24px,
        1.4,
    ),
    heading-five: (
        20px,
        1.4,
    ),
    heading-six: (
        18px,
        1.5,
    ),
    body: (
        16px,
        1.6,
    ),
    body-one: (
        18px,
        1.5,
    ),
    body-two: (
        16px,
        1.5,
    ),
    supporting: (
        14px,
        1.5,
    ),
    stat: (
        80px,
        1.2,
    ),
    stat-text: (
        32px,
        1.4,
    ),
);

// --------------------------------- Sizing ------------------------------------

$breakpoints: (
    'medium' '(min-width: 599px)',
    'large' '(min-width: 1023px)',
    'x-large' '(min-width: 1280px)'
);

// Layout
$site-width: 1800px;
$streamfield-content-width: 720px;

// Grid setup - update any changes here in the grid.md docs file too
$grid: 30px;
$grid-gutters: $grid;
$grid-gutters-large: 80px;
$grid-gutters-x-large: 120px;

// Vertical spacing
// Any changes here will also need to be made in tailwind.config.js
$spacer-mini: 15px;
$spacer-mini-plus: 20px;
$spacer-small: ($spacer-mini * 2); // 30px
$spacer-medium: ($spacer-mini * 4); // 60px
$spacer-large: ($spacer-mini * 8); // 120px
$spacer: 160px;
$spacer-half: ($spacer * 0.5); // 80px
$spacer-x-large: ($spacer-mini * 16); // 240px
$spacer-massive: ($spacer-mini * 24); // 360px

// --------------------------------- Misc --------------------------------------

$transition-quick: 0.15s ease-out;
$transition: 0.25s ease-out;
$link-transition-gap: 10px; // The gap between the link and the arrow
$link-underline-thickness: 1px; // The thickness of the underline for links
$link-underline-thickness-interaction: 2px; // The thickness of the underline for links on hover/focus

$z-index: (
    under: -1,
    base: 10,
    overlap: 20,
    header: 30,
    footer: 40,
    nav: 50,
    cookie-message: 100,
    modal: 110,
    modal-controls: 120,
);

// --------------------------------- Accessibility -----------------------------

$focus-color: var(--color--focus-ring);
$focus-width: 3px;

// --------------------------------- Specific styles ---------------------------
$avatar-size-145: 145px;
$avatar-size-120: 120px;
$avatar-size-100: 100px;
$avatar-size-72: 72px;
