@use "sass:color";
// --------------------------------- Colors ------------------------------------

$color--off-black: #171c1d;
$color--coral: #fd5765;
$color--coral-light: #fc8698;
$color--pink: #fe7eec;
$color--white: #fff;
$color--purple: #5e1998;
$color--purple-light: #7045ff;
$color--lagoon: #0c829b;
$color--lagoon-light: #6bd8ef;
$color--blue: #2828ef;
$color--light-blue: #659ff2;
$color--dark-blue: #481cd9;
$color--grey: #ccc;
$color--dark-grey: #1d2325;
$color--grey-50: #808080;
$color--mid-grey: #282e30;

// Coral dark by default
:root,
.theme-coral-dark {
    --color--background: #{$color--dark-grey};
    --color--heading: #{$color--white};
    --color--text: #{$color--grey};
    --color--link: #{$color--white};
    --color--link-interaction: #{$color--white};
    --color--footer-background: #{$color--off-black};
    --color--focus-ring: #{$color--coral-light};
    --color--streamfield-background: #{$color--mid-grey};
    --color--accent-one: #{$color--dark-grey};
    --color--accent-two: #{$color--purple-light};
    --color--accent-three: #{$color--coral-light};
    --color--accent-four: #{$color--purple};
    --color--accent-five: #{$color--white};
    --color--decoration: #{$color--grey-50};
}

.theme-lagoon-dark {
    --color--background: #{$color--dark-grey};
    --color--heading: #{$color--white};
    --color--text: #{$color--white};
    --color--link: #{$color--white};
    --color--link-interaction: #{$color--white};
    --color--footer-background: #{$color--lagoon};
    --color--focus-ring: #{$color--lagoon-light};
    --color--streamfield-background: #{$color--mid-grey};
    --color--accent-one: #{$color--dark-grey};
    --color--accent-two: #{$color--purple-light};
    --color--accent-three: #{$color--lagoon-light};
    --color--accent-four: #{$color--blue};
    --color--accent-five: #{$color--white};
    --color--decoration: #{$color--grey-50};
}

// --------------------------------- Fonts -------------------------------------

$font--primary: 'Outfit', sans-serif;

// Font weights
$weight--semibold: 600;
$weight--normal: 400;
$weight--light: 300;

// Font sizes
$base-font-size: 16px;
$base-line-height: 25px;

// Font sizes and line heights
$large-font-sizes: (
    heading-one: (
        80px,
        1.2,
    ),
    heading-one-b: (
        66px,
        1.3,
    ),
    heading-two: (
        54px,
        1.3,
    ),
    heading-three: (
        38px,
        1.4,
    ),
    heading-four: (
        32px,
        1.4,
    ),
    heading-five: (
        24px,
        1.5,
    ),
    heading-six: (
        20px,
        1.6,
    ),
    body: (
        20px,
        1.6,
    ),
    body-one: (
        18px,
        1.6,
    ),
    body-two: (
        16px,
        1.5,
    ),
    supporting: (
        14px,
        1.5,
    ),
    stat: (
        80px,
        1.2,
    ),
    stat-text: (
        32px,
        1.4,
    ),
);

$small-font-sizes: (
    heading-one: (
        50px,
        1.2,
    ),
    heading-one-b: (
        42px,
        1.3,
    ),
    heading-two: (
        36px,
        1.3,
    ),
    heading-three: (
        32px,
        1.4,
    ),
    heading-four: (
        28px,
        1.4,
    ),
    heading-five: (
        24px,
        1.4,
    ),
    heading-six: (
        20px,
        1.6,
    ),
    body: (
        16px,
        1.6,
    ),
    body-one: (
        18px,
        1.5,
    ),
    body-two: (
        16px,
        1.5,
    ),
    supporting: (
        14px,
        1.5,
    ),
    stat: (
        80px,
        1.2,
    ),
    stat-text: (
        32px,
        1.4,
    ),
);

// --------------------------------- Sizing ------------------------------------

$breakpoints: (
    'medium' '(min-width: 599px)',
    'large' '(min-width: 1023px)',
    'x-large' '(min-width: 1280px)'
);

// Layout
$site-width: 1500px;
$streamfield-content-width: 720px;

// Grid setup - update any changes here in the grid.md docs file too
$grid: 30px;
$grid-gutters: $grid;
$grid-gutters-large: 80px;
$grid-gutters-x-large: 120px;

// Vertical spacing
// Any changes here will also need to be made in tailwind.config.js
$spacer-mini: 15px;
$spacer-mini-plus: 20px;
$spacer-small: ($spacer-mini * 2); // 30px
$spacer-medium: ($spacer-mini * 4); // 60px
$spacer-large: ($spacer-mini * 8); // 120px
$spacer: 160px;
$spacer-half: ($spacer * 0.5); // 80px
$spacer-x-large: ($spacer-mini * 16); // 240px
$spacer-massive: ($spacer-mini * 24); // 360px

// --------------------------------- Misc --------------------------------------

$transition-quick: 0.15s ease-out;
$transition: 0.25s ease-out;
$link-transition-gap: 10px; // The gap between the link and the arrow
$link-underline-thickness: 1px; // The thickness of the underline for links
$link-underline-thickness-interaction: 2px; // The thickness of the underline for links on hover/focus

$z-index: (
    under: -1,
    base: 10,
    overlap: 20,
    header: 30,
    footer: 40,
    nav: 50,
    cookie-message: 100,
    modal: 110,
    modal-controls: 120,
);

// --------------------------------- Accessibility -----------------------------

$focus-color: var(--color--focus-ring);
$focus-width: 3px;

// --------------------------------- Specific styles ---------------------------
$avatar-size-large: 145px;
$avatar-size-medium: 120px;
$avatar-size-small: 72px;
