@use 'sass:color';
// --------------------------------- Colors ------------------------------------

// See https://torchbox.github.io/torchbox.com/front-end/themes_and_modes/#css-variables

// Charity coral theme
$color--coral: #ee5276;
$color--coral-dark: #be425e;
$color--coral-light: #f9f1f6;
$color--coral-lighter: #fcf8fb;
$color--sky: #659ff2;
$color--sky-dark: #498ef0;

// Public nebuline theme
$color--nebuline: #6f60d0;
$color--nebuline-dark: #594da6;
$color--nebuline-light: #f1edff;
$color--nebuline-lighter: #f8f6ff;
$color--spearmint: #6cd9bf;
$color--spearmint-dark: #2aa487;

// Wagtail lagoon theme
$color--lagoon: #0096a8;
$color--lagoon-dark: #007886;
$color--lagoon-light: #ecf2ed;
$color--lagoon-lighter: #f5f9f6;
$color--coolmint: #b6e2df;
$color--coolmint-dark: #40a29b;

// About green theme
$color--green: #398078;
$color--green-dark: #2e6660;
$color--green-light: #f0eeea;
$color--green-lighter: #f7f7f5;
$color--banana: #fde05f;
$color--banana-dark: #ae8f02;

$color--white: #fff;
$color--grey-5: #efefef;
$color--grey-10: #e6e6e6;
$color--grey-20: #ccc;
$color--grey-50: #808080;
$color--grey-70: #4d4d4d;
$color--mid-grey: #282e30; // in figma this colour is created with a very transparent white, but this is used on the cookie banner where it needs to be a solid colour
$color--eclipse-light: #f7f7f7;
$color--eclipse: #1d2325;
$color--eclipse-dark: #14191a;
$color--black: #000;

// Dark mode by default
:root,
.mode-dark {
    // The following base variables do not change with the theme
    --color--dark-background: #{$color--eclipse-dark};
    --color--background: #{$color--eclipse};
    --color--light-background-text: #{$color--eclipse};
    --color--heading: #{$color--white};
    --color--text: #{$color--grey-20};
    --color--link: #{$color--white};
    --color--link-underline: #{color.adjust($color--white, $alpha: -0.5)};
    --color--link-interaction: #{$color--white};
    --color--button-link-interaction: #{$color--eclipse};
    --color--streamfield-background: #{$color--mid-grey};
    --color--decoration: #{$color--grey-50};
    --color--border: #{color.adjust($color--grey-50, $alpha: -0.5)};
    --color--light-border: #{$color--mid-grey};
    --color--overlay: #{color.adjust($color--black, $alpha: -0.6)};
    --color--background--overlay: #{color.adjust($color--eclipse, $alpha: -1)};
    --color--background-swirls-one: #{$color--black};
    --color--background-swirls-two: #{$color--white};
    // The following base variables do not change with either theme or mode
    --color--white: #{$color--white};
    --color--grey-10: #{$color--grey-10};
    --color--grey-20: #{$color--grey-20};
    --color--grey-50: #{$color--grey-50};
    --color--grey-70: #{$color--grey-70};
    --color--eclipse-light: #{$color--eclipse-light};
    --color--eclipse: #{$color--eclipse};
    --color--eclipse-dark: #{$color--eclipse-dark};
    --color--black: #{$color--black};
    --color--coral: #{$color--coral};
    --color--coral-dark: #{$color--coral-dark};
    --color--nebuline: #{$color--nebuline};
    --color--nebuline-dark: #{$color--nebuline-dark};
    --color--lagoon: #{$color--lagoon};
    --color--lagoon-dark: #{$color--lagoon-dark};
    --color--sky: #{$color--sky};
}

// Coral theme, dark mode
:root,
.theme-coral.mode-dark {
    --color--theme-primary: #{$color--coral};
    --color--theme-primary-muted: #{color.adjust($color--coral, $alpha: -0.5)};
    --color--theme-primary-dark: #{$color--coral-dark};
    --color--theme-primary-light: #{$color--coral-light};
    --color--theme-secondary: #{$color--sky};
    --color--theme-secondary-dark: #{$color--sky-dark};
    // Motif heading flames
    // - The 'fill' colour is inlined with the '#' of the hex being replaced with '%23' e.g. #ff0000 becomes %23ff0000
    // - The hex colours used should be the same as --color--theme-primary ee5276 and --color--theme-secondary 659ff2
    --motif-heading: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="178" height="51" viewBox="0 0 178 51"><g opacity="0.9"><path d="M65.4127 15.8014C64.8263 16.5484 63.6488 16.1166 63.6717 15.1688C63.859 9.51194 62.7264 3.88728 61.0813 1.38911L60.808 1.84324C42.7632 30.9187 12.078 34.1398 1.84206 34.3161C0.864765 34.3478 0.465381 33.0779 1.27287 32.5323C12.2541 25.3169 16.2133 14.6433 13.6344 0.389755C13.108 -2.2613 12.7344 -5.50747 12.6122 -8.60276C12.6122 -8.60276 12.4008 -12.2323 12.867 -16.7603L12.7057 -16.7197C6.23924 -13.5946 1.78033 -7.89119 -0.405032 -4.60093C-0.941171 -3.82376 -2.12908 -4.12451 -2.21726 -5.0016C-2.56805 -9.19561 -2.60547 -17.3224 0.758574 -24.1636C8.92526 -40.6915 27.9148 -51.2056 46.4868 -45.8989C47.3625 -45.6481 47.4298 -44.5088 46.5825 -44.1245C43.8384 -42.7492 41.1008 -40.1337 38.6716 -36.0969C33.0539 -26.7619 34.5783 -6.54775 34.5783 -6.54775C34.5783 -6.54775 53.1682 -14.6918 58.7859 -24.0268C61.2455 -28.114 62.2733 -31.7554 62.2014 -34.8205C62.1939 -35.7179 63.2329 -36.1933 63.8154 -35.569C76.9245 -22.2081 75.5617 -3.45176 71.3539 6.04249C69.5186 10.2296 67.061 13.6312 65.4127 15.8014Z" fill="%23659ff2" style="mix-blend-mode:screen"/></g><g opacity="0.8"><path d="M8.90762 43.5501C9.81925 43.1847 9.72075 41.8026 8.76782 41.5084C3.06619 39.8064 -2.23038 36.7285 -4.26012 34.1614L-3.72942 34.0267C30.4032 24.826 42.2902 -6.33453 45.3586 -17.0305C45.6664 -18.0467 44.5111 -18.8926 43.7381 -18.2273C33.4302 -9.11098 21.6532 -8.53365 8.1488 -16.0277C5.6503 -17.4707 2.51436 -18.9529 -0.541962 -20.1202C-0.541962 -20.1202 -4.10661 -21.5606 -8.75978 -22.5907L-8.67368 -22.7465C-3.72587 -28.492 3.2293 -31.2627 7.13233 -32.4545C8.05989 -32.757 8.09523 -34.1061 7.24431 -34.4931C3.15544 -36.2695 -4.94915 -39.0367 -12.7311 -37.7983C-31.5429 -34.7651 -47.4077 -18.3415 -47.3564 2.95379C-47.3534 3.95815 -46.2348 4.41127 -45.6115 3.64999C-43.4628 1.22833 -40.0775 -0.770149 -35.3601 -1.96766C-24.4512 -4.7369 -4.69676 3.6499 -4.69676 3.6499C-4.69676 3.6499 -18.0819 20.4492 -28.9909 23.2184C-33.7672 24.4309 -37.6939 24.2886 -40.7343 23.1842C-41.6283 22.875 -42.3966 23.8072 -41.9378 24.6288C-32.3002 42.8876 -13.1857 47.7514 -2.5161 46.5171C2.18361 45.9941 6.27475 44.5535 8.90762 43.5501Z" fill="%23ee5276" style="mix-blend-mode:screen"/></g></svg>');
}

// Nebuline theme, dark mode
.theme-nebuline.mode-dark {
    --color--theme-primary: #{$color--nebuline};
    --color--theme-primary-muted: #{color.adjust($color--nebuline, $alpha: -0.5)};
    --color--theme-primary-dark: #{$color--nebuline-dark};
    --color--theme-primary-light: #{$color--nebuline-light};
    --color--theme-secondary: #{$color--spearmint};
    --color--theme-secondary-dark: #{$color--spearmint-dark};
    // Motif heading flames
    // - The 'fill' colour is inlined with the '#' of the hex being replaced with '%23' e.g. #ff0000 becomes %23ff0000
    // - The hex colours used should be the same as --color--theme-primary 6f60d0 and --color--theme-secondary 6cd9bf
    --motif-heading: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="178" height="51" viewBox="0 0 178 51"><g opacity="0.9"><path d="M65.4127 15.8014C64.8263 16.5484 63.6488 16.1166 63.6717 15.1688C63.859 9.51194 62.7264 3.88728 61.0813 1.38911L60.808 1.84324C42.7632 30.9187 12.078 34.1398 1.84206 34.3161C0.864765 34.3478 0.465381 33.0779 1.27287 32.5323C12.2541 25.3169 16.2133 14.6433 13.6344 0.389755C13.108 -2.2613 12.7344 -5.50747 12.6122 -8.60276C12.6122 -8.60276 12.4008 -12.2323 12.867 -16.7603L12.7057 -16.7197C6.23924 -13.5946 1.78033 -7.89119 -0.405032 -4.60093C-0.941171 -3.82376 -2.12908 -4.12451 -2.21726 -5.0016C-2.56805 -9.19561 -2.60547 -17.3224 0.758574 -24.1636C8.92526 -40.6915 27.9148 -51.2056 46.4868 -45.8989C47.3625 -45.6481 47.4298 -44.5088 46.5825 -44.1245C43.8384 -42.7492 41.1008 -40.1337 38.6716 -36.0969C33.0539 -26.7619 34.5783 -6.54775 34.5783 -6.54775C34.5783 -6.54775 53.1682 -14.6918 58.7859 -24.0268C61.2455 -28.114 62.2733 -31.7554 62.2014 -34.8205C62.1939 -35.7179 63.2329 -36.1933 63.8154 -35.569C76.9245 -22.2081 75.5617 -3.45176 71.3539 6.04249C69.5186 10.2296 67.061 13.6312 65.4127 15.8014Z" fill="%236cd9bf" style="mix-blend-mode:screen"/></g><g opacity="0.8"><path d="M8.90762 43.5501C9.81925 43.1847 9.72075 41.8026 8.76782 41.5084C3.06619 39.8064 -2.23038 36.7285 -4.26012 34.1614L-3.72942 34.0267C30.4032 24.826 42.2902 -6.33453 45.3586 -17.0305C45.6664 -18.0467 44.5111 -18.8926 43.7381 -18.2273C33.4302 -9.11098 21.6532 -8.53365 8.1488 -16.0277C5.6503 -17.4707 2.51436 -18.9529 -0.541962 -20.1202C-0.541962 -20.1202 -4.10661 -21.5606 -8.75978 -22.5907L-8.67368 -22.7465C-3.72587 -28.492 3.2293 -31.2627 7.13233 -32.4545C8.05989 -32.757 8.09523 -34.1061 7.24431 -34.4931C3.15544 -36.2695 -4.94915 -39.0367 -12.7311 -37.7983C-31.5429 -34.7651 -47.4077 -18.3415 -47.3564 2.95379C-47.3534 3.95815 -46.2348 4.41127 -45.6115 3.64999C-43.4628 1.22833 -40.0775 -0.770149 -35.3601 -1.96766C-24.4512 -4.7369 -4.69676 3.6499 -4.69676 3.6499C-4.69676 3.6499 -18.0819 20.4492 -28.9909 23.2184C-33.7672 24.4309 -37.6939 24.2886 -40.7343 23.1842C-41.6283 22.875 -42.3966 23.8072 -41.9378 24.6288C-32.3002 42.8876 -13.1857 47.7514 -2.5161 46.5171C2.18361 45.9941 6.27475 44.5535 8.90762 43.5501Z" fill="%236f60d0" style="mix-blend-mode:screen"/></g></svg>');
}

// Lagoon theme, dark mode
.theme-lagoon.mode-dark {
    --color--theme-primary: #{$color--lagoon};
    --color--theme-primary-muted: #{color.adjust($color--lagoon, $alpha: -0.5)};
    --color--theme-primary-dark: #{$color--lagoon-dark};
    --color--theme-primary-light: #{$color--lagoon-light};
    --color--theme-secondary: #{$color--coolmint};
    --color--theme-secondary-dark: #{$color--coolmint-dark};
    // Motif heading flames
    // - The 'fill' colour is inlined with the '#' of the hex being replaced with '%23' e.g. #ff0000 becomes %23ff0000
    // - The hex colours used should be the same as --color--theme-primary 0096a8 and --color--theme-secondary b6e2df
    --motif-heading: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="178" height="51" viewBox="0 0 178 51"><g opacity="0.9"><path d="M65.4127 15.8014C64.8263 16.5484 63.6488 16.1166 63.6717 15.1688C63.859 9.51194 62.7264 3.88728 61.0813 1.38911L60.808 1.84324C42.7632 30.9187 12.078 34.1398 1.84206 34.3161C0.864765 34.3478 0.465381 33.0779 1.27287 32.5323C12.2541 25.3169 16.2133 14.6433 13.6344 0.389755C13.108 -2.2613 12.7344 -5.50747 12.6122 -8.60276C12.6122 -8.60276 12.4008 -12.2323 12.867 -16.7603L12.7057 -16.7197C6.23924 -13.5946 1.78033 -7.89119 -0.405032 -4.60093C-0.941171 -3.82376 -2.12908 -4.12451 -2.21726 -5.0016C-2.56805 -9.19561 -2.60547 -17.3224 0.758574 -24.1636C8.92526 -40.6915 27.9148 -51.2056 46.4868 -45.8989C47.3625 -45.6481 47.4298 -44.5088 46.5825 -44.1245C43.8384 -42.7492 41.1008 -40.1337 38.6716 -36.0969C33.0539 -26.7619 34.5783 -6.54775 34.5783 -6.54775C34.5783 -6.54775 53.1682 -14.6918 58.7859 -24.0268C61.2455 -28.114 62.2733 -31.7554 62.2014 -34.8205C62.1939 -35.7179 63.2329 -36.1933 63.8154 -35.569C76.9245 -22.2081 75.5617 -3.45176 71.3539 6.04249C69.5186 10.2296 67.061 13.6312 65.4127 15.8014Z" fill="%23b6e2df" style="mix-blend-mode:screen"/></g><g opacity="0.8"><path d="M8.90762 43.5501C9.81925 43.1847 9.72075 41.8026 8.76782 41.5084C3.06619 39.8064 -2.23038 36.7285 -4.26012 34.1614L-3.72942 34.0267C30.4032 24.826 42.2902 -6.33453 45.3586 -17.0305C45.6664 -18.0467 44.5111 -18.8926 43.7381 -18.2273C33.4302 -9.11098 21.6532 -8.53365 8.1488 -16.0277C5.6503 -17.4707 2.51436 -18.9529 -0.541962 -20.1202C-0.541962 -20.1202 -4.10661 -21.5606 -8.75978 -22.5907L-8.67368 -22.7465C-3.72587 -28.492 3.2293 -31.2627 7.13233 -32.4545C8.05989 -32.757 8.09523 -34.1061 7.24431 -34.4931C3.15544 -36.2695 -4.94915 -39.0367 -12.7311 -37.7983C-31.5429 -34.7651 -47.4077 -18.3415 -47.3564 2.95379C-47.3534 3.95815 -46.2348 4.41127 -45.6115 3.64999C-43.4628 1.22833 -40.0775 -0.770149 -35.3601 -1.96766C-24.4512 -4.7369 -4.69676 3.6499 -4.69676 3.6499C-4.69676 3.6499 -18.0819 20.4492 -28.9909 23.2184C-33.7672 24.4309 -37.6939 24.2886 -40.7343 23.1842C-41.6283 22.875 -42.3966 23.8072 -41.9378 24.6288C-32.3002 42.8876 -13.1857 47.7514 -2.5161 46.5171C2.18361 45.9941 6.27475 44.5535 8.90762 43.5501Z" fill="%230096a8" style="mix-blend-mode:screen"/></g></svg>');
}

// Green theme, dark mode
.theme-green.mode-dark {
    --color--theme-primary: #{$color--green};
    --color--theme-primary-muted: #{color.adjust($color--green, $alpha: -0.5)};
    --color--theme-primary-dark: #{$color--green-dark};
    --color--theme-primary-light: #{$color--green-light};
    --color--theme-secondary: #{$color--banana};
    --color--theme-secondary-dark: #{$color--banana-dark};
    // Motif heading flames
    // - The 'fill' colour is inlined with the '#' of the hex being replaced with '%23' e.g. #ff0000 becomes %23ff0000
    // - The hex colours used should be the same as --color--theme-primary 398078 and --color--theme-secondary fde05f
    --motif-heading: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="178" height="51" viewBox="0 0 178 51"><g opacity="0.9"><path d="M65.4127 15.8014C64.8263 16.5484 63.6488 16.1166 63.6717 15.1688C63.859 9.51194 62.7264 3.88728 61.0813 1.38911L60.808 1.84324C42.7632 30.9187 12.078 34.1398 1.84206 34.3161C0.864765 34.3478 0.465381 33.0779 1.27287 32.5323C12.2541 25.3169 16.2133 14.6433 13.6344 0.389755C13.108 -2.2613 12.7344 -5.50747 12.6122 -8.60276C12.6122 -8.60276 12.4008 -12.2323 12.867 -16.7603L12.7057 -16.7197C6.23924 -13.5946 1.78033 -7.89119 -0.405032 -4.60093C-0.941171 -3.82376 -2.12908 -4.12451 -2.21726 -5.0016C-2.56805 -9.19561 -2.60547 -17.3224 0.758574 -24.1636C8.92526 -40.6915 27.9148 -51.2056 46.4868 -45.8989C47.3625 -45.6481 47.4298 -44.5088 46.5825 -44.1245C43.8384 -42.7492 41.1008 -40.1337 38.6716 -36.0969C33.0539 -26.7619 34.5783 -6.54775 34.5783 -6.54775C34.5783 -6.54775 53.1682 -14.6918 58.7859 -24.0268C61.2455 -28.114 62.2733 -31.7554 62.2014 -34.8205C62.1939 -35.7179 63.2329 -36.1933 63.8154 -35.569C76.9245 -22.2081 75.5617 -3.45176 71.3539 6.04249C69.5186 10.2296 67.061 13.6312 65.4127 15.8014Z" fill="%23fde05f" style="mix-blend-mode:screen"/></g><g opacity="0.8"><path d="M8.90762 43.5501C9.81925 43.1847 9.72075 41.8026 8.76782 41.5084C3.06619 39.8064 -2.23038 36.7285 -4.26012 34.1614L-3.72942 34.0267C30.4032 24.826 42.2902 -6.33453 45.3586 -17.0305C45.6664 -18.0467 44.5111 -18.8926 43.7381 -18.2273C33.4302 -9.11098 21.6532 -8.53365 8.1488 -16.0277C5.6503 -17.4707 2.51436 -18.9529 -0.541962 -20.1202C-0.541962 -20.1202 -4.10661 -21.5606 -8.75978 -22.5907L-8.67368 -22.7465C-3.72587 -28.492 3.2293 -31.2627 7.13233 -32.4545C8.05989 -32.757 8.09523 -34.1061 7.24431 -34.4931C3.15544 -36.2695 -4.94915 -39.0367 -12.7311 -37.7983C-31.5429 -34.7651 -47.4077 -18.3415 -47.3564 2.95379C-47.3534 3.95815 -46.2348 4.41127 -45.6115 3.64999C-43.4628 1.22833 -40.0775 -0.770149 -35.3601 -1.96766C-24.4512 -4.7369 -4.69676 3.6499 -4.69676 3.6499C-4.69676 3.6499 -18.0819 20.4492 -28.9909 23.2184C-33.7672 24.4309 -37.6939 24.2886 -40.7343 23.1842C-41.6283 22.875 -42.3966 23.8072 -41.9378 24.6288C-32.3002 42.8876 -13.1857 47.7514 -2.5161 46.5171C2.18361 45.9941 6.27475 44.5535 8.90762 43.5501Z" fill="%23398078" style="mix-blend-mode:screen"/></g></svg>');
}

.mode-light {
    // redeclare any base variables that are different in light mode (these ones don't change with the theme)
    --color--dark-background: #{$color--eclipse-light};
    --color--background: #{$color--white};
    --color--heading: #{$color--eclipse};
    --color--text: #{$color--grey-70};
    --color--decoration: #{$color--eclipse};
    --color--light-border: #{$color--grey-5};
    --color--link: #{$color--eclipse};
    --color--link-underline: #{color.adjust($color--eclipse, $alpha: -0.5)};
    --color--link-interaction: #{$color--eclipse};
    --color--button-link-interaction: #{$color--white};
    --color--streamfield-background: #{$color--grey-5};
    --color--background-swirls-one: #{$color--grey-5};
    --color--background-swirls-two: #{$color--grey-50};
    // The following base variables are only used in light mode
    --color--coral-lighter: #{$color--coral-lighter};
    --color--nebuline-lighter: #{$color--nebuline-lighter};
    --color--lagoon-lighter: #{$color--lagoon-lighter};
    --color--green-lighter: #{$color--green-lighter};
}

// Coral theme, light mode
.mode-light,
.theme-coral.mode-light {
    --color--theme-primary: #{$color--coral};
    --color--theme-primary-muted: #{color.adjust($color--coral, $alpha: -0.5)};
    --color--theme-primary-dark: #{$color--coral-dark};
    --color--theme-primary-light: #{$color--coral-light};
    --color--theme-primary-lighter: #{$color--coral-lighter};
    --color--theme-secondary: #{$color--sky};
    // Motif heading flames
    // - The 'fill' colour is inlined with the '#' of the hex being replaced with '%23' e.g. #ff0000 becomes %23ff0000
    // - The hex colours used should be the same as --color--theme-primary-dark be425e and --color--theme-secondary-dark 498ef0
    --motif-heading: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="178" height="51" viewBox="0 0 178 51"><g opacity="0.9"><path d="M65.4127 15.8014C64.8263 16.5484 63.6488 16.1166 63.6717 15.1688C63.859 9.51194 62.7264 3.88728 61.0813 1.38911L60.808 1.84324C42.7632 30.9187 12.078 34.1398 1.84206 34.3161C0.864765 34.3478 0.465381 33.0779 1.27287 32.5323C12.2541 25.3169 16.2133 14.6433 13.6344 0.389755C13.108 -2.2613 12.7344 -5.50747 12.6122 -8.60276C12.6122 -8.60276 12.4008 -12.2323 12.867 -16.7603L12.7057 -16.7197C6.23924 -13.5946 1.78033 -7.89119 -0.405032 -4.60093C-0.941171 -3.82376 -2.12908 -4.12451 -2.21726 -5.0016C-2.56805 -9.19561 -2.60547 -17.3224 0.758574 -24.1636C8.92526 -40.6915 27.9148 -51.2056 46.4868 -45.8989C47.3625 -45.6481 47.4298 -44.5088 46.5825 -44.1245C43.8384 -42.7492 41.1008 -40.1337 38.6716 -36.0969C33.0539 -26.7619 34.5783 -6.54775 34.5783 -6.54775C34.5783 -6.54775 53.1682 -14.6918 58.7859 -24.0268C61.2455 -28.114 62.2733 -31.7554 62.2014 -34.8205C62.1939 -35.7179 63.2329 -36.1933 63.8154 -35.569C76.9245 -22.2081 75.5617 -3.45176 71.3539 6.04249C69.5186 10.2296 67.061 13.6312 65.4127 15.8014Z" fill="%23498ef0" style="mix-blend-mode:screen"/></g><g opacity="0.8"><path d="M8.90762 43.5501C9.81925 43.1847 9.72075 41.8026 8.76782 41.5084C3.06619 39.8064 -2.23038 36.7285 -4.26012 34.1614L-3.72942 34.0267C30.4032 24.826 42.2902 -6.33453 45.3586 -17.0305C45.6664 -18.0467 44.5111 -18.8926 43.7381 -18.2273C33.4302 -9.11098 21.6532 -8.53365 8.1488 -16.0277C5.6503 -17.4707 2.51436 -18.9529 -0.541962 -20.1202C-0.541962 -20.1202 -4.10661 -21.5606 -8.75978 -22.5907L-8.67368 -22.7465C-3.72587 -28.492 3.2293 -31.2627 7.13233 -32.4545C8.05989 -32.757 8.09523 -34.1061 7.24431 -34.4931C3.15544 -36.2695 -4.94915 -39.0367 -12.7311 -37.7983C-31.5429 -34.7651 -47.4077 -18.3415 -47.3564 2.95379C-47.3534 3.95815 -46.2348 4.41127 -45.6115 3.64999C-43.4628 1.22833 -40.0775 -0.770149 -35.3601 -1.96766C-24.4512 -4.7369 -4.69676 3.6499 -4.69676 3.6499C-4.69676 3.6499 -18.0819 20.4492 -28.9909 23.2184C-33.7672 24.4309 -37.6939 24.2886 -40.7343 23.1842C-41.6283 22.875 -42.3966 23.8072 -41.9378 24.6288C-32.3002 42.8876 -13.1857 47.7514 -2.5161 46.5171C2.18361 45.9941 6.27475 44.5535 8.90762 43.5501Z" fill="%23be425e" style="mix-blend-mode:screen"/></g></svg>');
}

// Nebuline theme, light mode
.theme-nebuline.mode-light {
    --color--theme-primary: #{$color--nebuline};
    --color--theme-primary-muted: #{color.adjust($color--nebuline, $alpha: -0.5)};
    --color--theme-primary-dark: #{$color--nebuline-dark};
    --color--theme-primary-light: #{$color--nebuline-light};
    --color--theme-primary-lighter: #{$color--nebuline-lighter};
    --color--theme-secondary: #{$color--spearmint};
    // Motif heading flames
    // - The 'fill' colour is inlined with the '#' of the hex being replaced with '%23' e.g. #ff0000 becomes %23ff0000
    // - The hex colours used should be the same as --color--theme-primary-dark 594da6 and --color--theme-secondary-dark 2aa487
    --motif-heading: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="178" height="51" viewBox="0 0 178 51"><g opacity="0.9"><path d="M65.4127 15.8014C64.8263 16.5484 63.6488 16.1166 63.6717 15.1688C63.859 9.51194 62.7264 3.88728 61.0813 1.38911L60.808 1.84324C42.7632 30.9187 12.078 34.1398 1.84206 34.3161C0.864765 34.3478 0.465381 33.0779 1.27287 32.5323C12.2541 25.3169 16.2133 14.6433 13.6344 0.389755C13.108 -2.2613 12.7344 -5.50747 12.6122 -8.60276C12.6122 -8.60276 12.4008 -12.2323 12.867 -16.7603L12.7057 -16.7197C6.23924 -13.5946 1.78033 -7.89119 -0.405032 -4.60093C-0.941171 -3.82376 -2.12908 -4.12451 -2.21726 -5.0016C-2.56805 -9.19561 -2.60547 -17.3224 0.758574 -24.1636C8.92526 -40.6915 27.9148 -51.2056 46.4868 -45.8989C47.3625 -45.6481 47.4298 -44.5088 46.5825 -44.1245C43.8384 -42.7492 41.1008 -40.1337 38.6716 -36.0969C33.0539 -26.7619 34.5783 -6.54775 34.5783 -6.54775C34.5783 -6.54775 53.1682 -14.6918 58.7859 -24.0268C61.2455 -28.114 62.2733 -31.7554 62.2014 -34.8205C62.1939 -35.7179 63.2329 -36.1933 63.8154 -35.569C76.9245 -22.2081 75.5617 -3.45176 71.3539 6.04249C69.5186 10.2296 67.061 13.6312 65.4127 15.8014Z" fill="%232aa487" style="mix-blend-mode:screen"/></g><g opacity="0.8"><path d="M8.90762 43.5501C9.81925 43.1847 9.72075 41.8026 8.76782 41.5084C3.06619 39.8064 -2.23038 36.7285 -4.26012 34.1614L-3.72942 34.0267C30.4032 24.826 42.2902 -6.33453 45.3586 -17.0305C45.6664 -18.0467 44.5111 -18.8926 43.7381 -18.2273C33.4302 -9.11098 21.6532 -8.53365 8.1488 -16.0277C5.6503 -17.4707 2.51436 -18.9529 -0.541962 -20.1202C-0.541962 -20.1202 -4.10661 -21.5606 -8.75978 -22.5907L-8.67368 -22.7465C-3.72587 -28.492 3.2293 -31.2627 7.13233 -32.4545C8.05989 -32.757 8.09523 -34.1061 7.24431 -34.4931C3.15544 -36.2695 -4.94915 -39.0367 -12.7311 -37.7983C-31.5429 -34.7651 -47.4077 -18.3415 -47.3564 2.95379C-47.3534 3.95815 -46.2348 4.41127 -45.6115 3.64999C-43.4628 1.22833 -40.0775 -0.770149 -35.3601 -1.96766C-24.4512 -4.7369 -4.69676 3.6499 -4.69676 3.6499C-4.69676 3.6499 -18.0819 20.4492 -28.9909 23.2184C-33.7672 24.4309 -37.6939 24.2886 -40.7343 23.1842C-41.6283 22.875 -42.3966 23.8072 -41.9378 24.6288C-32.3002 42.8876 -13.1857 47.7514 -2.5161 46.5171C2.18361 45.9941 6.27475 44.5535 8.90762 43.5501Z" fill="%23594da6" style="mix-blend-mode:screen"/></g></svg>');
}

// Lagoon theme, light mode
.theme-lagoon.mode-light {
    --color--theme-primary: #{$color--lagoon};
    --color--theme-primary-muted: #{color.adjust($color--lagoon, $alpha: -0.5)};
    --color--theme-primary-dark: #{$color--lagoon-dark};
    --color--theme-primary-light: #{$color--lagoon-light};
    --color--theme-primary-lighter: #{$color--lagoon-lighter};
    --color--theme-secondary: #{$color--coolmint};
    // Motif heading flames
    // - The 'fill' colour is inlined with the '#' of the hex being replaced with '%23' e.g. #ff0000 becomes %23ff0000
    // - The hex colours used should be the same as --color--theme-primary-dark 007886 and --color--theme-secondary-dark 40a29b
    --motif-heading: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="178" height="51" viewBox="0 0 178 51"><g opacity="0.9"><path d="M65.4127 15.8014C64.8263 16.5484 63.6488 16.1166 63.6717 15.1688C63.859 9.51194 62.7264 3.88728 61.0813 1.38911L60.808 1.84324C42.7632 30.9187 12.078 34.1398 1.84206 34.3161C0.864765 34.3478 0.465381 33.0779 1.27287 32.5323C12.2541 25.3169 16.2133 14.6433 13.6344 0.389755C13.108 -2.2613 12.7344 -5.50747 12.6122 -8.60276C12.6122 -8.60276 12.4008 -12.2323 12.867 -16.7603L12.7057 -16.7197C6.23924 -13.5946 1.78033 -7.89119 -0.405032 -4.60093C-0.941171 -3.82376 -2.12908 -4.12451 -2.21726 -5.0016C-2.56805 -9.19561 -2.60547 -17.3224 0.758574 -24.1636C8.92526 -40.6915 27.9148 -51.2056 46.4868 -45.8989C47.3625 -45.6481 47.4298 -44.5088 46.5825 -44.1245C43.8384 -42.7492 41.1008 -40.1337 38.6716 -36.0969C33.0539 -26.7619 34.5783 -6.54775 34.5783 -6.54775C34.5783 -6.54775 53.1682 -14.6918 58.7859 -24.0268C61.2455 -28.114 62.2733 -31.7554 62.2014 -34.8205C62.1939 -35.7179 63.2329 -36.1933 63.8154 -35.569C76.9245 -22.2081 75.5617 -3.45176 71.3539 6.04249C69.5186 10.2296 67.061 13.6312 65.4127 15.8014Z" fill="%2340a29b" style="mix-blend-mode:screen"/></g><g opacity="0.8"><path d="M8.90762 43.5501C9.81925 43.1847 9.72075 41.8026 8.76782 41.5084C3.06619 39.8064 -2.23038 36.7285 -4.26012 34.1614L-3.72942 34.0267C30.4032 24.826 42.2902 -6.33453 45.3586 -17.0305C45.6664 -18.0467 44.5111 -18.8926 43.7381 -18.2273C33.4302 -9.11098 21.6532 -8.53365 8.1488 -16.0277C5.6503 -17.4707 2.51436 -18.9529 -0.541962 -20.1202C-0.541962 -20.1202 -4.10661 -21.5606 -8.75978 -22.5907L-8.67368 -22.7465C-3.72587 -28.492 3.2293 -31.2627 7.13233 -32.4545C8.05989 -32.757 8.09523 -34.1061 7.24431 -34.4931C3.15544 -36.2695 -4.94915 -39.0367 -12.7311 -37.7983C-31.5429 -34.7651 -47.4077 -18.3415 -47.3564 2.95379C-47.3534 3.95815 -46.2348 4.41127 -45.6115 3.64999C-43.4628 1.22833 -40.0775 -0.770149 -35.3601 -1.96766C-24.4512 -4.7369 -4.69676 3.6499 -4.69676 3.6499C-4.69676 3.6499 -18.0819 20.4492 -28.9909 23.2184C-33.7672 24.4309 -37.6939 24.2886 -40.7343 23.1842C-41.6283 22.875 -42.3966 23.8072 -41.9378 24.6288C-32.3002 42.8876 -13.1857 47.7514 -2.5161 46.5171C2.18361 45.9941 6.27475 44.5535 8.90762 43.5501Z" fill="%23007886" style="mix-blend-mode:screen"/></g></svg>');
}

// Green theme, light mode
.theme-green.mode-light {
    --color--theme-primary: #{$color--green};
    --color--theme-primary-muted: #{color.adjust($color--green, $alpha: -0.5)};
    --color--theme-primary-dark: #{$color--green-dark};
    --color--theme-primary-light: #{$color--green-light};
    --color--theme-primary-lighter: #{$color--green-lighter};
    --color--theme-secondary: #{$color--banana};
    // Motif heading flames
    // - The 'fill' colour is inlined with the '#' of the hex being replaced with '%23' e.g. #ff0000 becomes %23ff0000
    // - The hex colours used should be the same as --color--theme-primary-dark 2e6660 and --color--theme-secondary-dark ae8f02
    --motif-heading: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="178" height="51" viewBox="0 0 178 51"><g opacity="0.9"><path d="M65.4127 15.8014C64.8263 16.5484 63.6488 16.1166 63.6717 15.1688C63.859 9.51194 62.7264 3.88728 61.0813 1.38911L60.808 1.84324C42.7632 30.9187 12.078 34.1398 1.84206 34.3161C0.864765 34.3478 0.465381 33.0779 1.27287 32.5323C12.2541 25.3169 16.2133 14.6433 13.6344 0.389755C13.108 -2.2613 12.7344 -5.50747 12.6122 -8.60276C12.6122 -8.60276 12.4008 -12.2323 12.867 -16.7603L12.7057 -16.7197C6.23924 -13.5946 1.78033 -7.89119 -0.405032 -4.60093C-0.941171 -3.82376 -2.12908 -4.12451 -2.21726 -5.0016C-2.56805 -9.19561 -2.60547 -17.3224 0.758574 -24.1636C8.92526 -40.6915 27.9148 -51.2056 46.4868 -45.8989C47.3625 -45.6481 47.4298 -44.5088 46.5825 -44.1245C43.8384 -42.7492 41.1008 -40.1337 38.6716 -36.0969C33.0539 -26.7619 34.5783 -6.54775 34.5783 -6.54775C34.5783 -6.54775 53.1682 -14.6918 58.7859 -24.0268C61.2455 -28.114 62.2733 -31.7554 62.2014 -34.8205C62.1939 -35.7179 63.2329 -36.1933 63.8154 -35.569C76.9245 -22.2081 75.5617 -3.45176 71.3539 6.04249C69.5186 10.2296 67.061 13.6312 65.4127 15.8014Z" fill="%23ae8f02" style="mix-blend-mode:screen"/></g><g opacity="0.8"><path d="M8.90762 43.5501C9.81925 43.1847 9.72075 41.8026 8.76782 41.5084C3.06619 39.8064 -2.23038 36.7285 -4.26012 34.1614L-3.72942 34.0267C30.4032 24.826 42.2902 -6.33453 45.3586 -17.0305C45.6664 -18.0467 44.5111 -18.8926 43.7381 -18.2273C33.4302 -9.11098 21.6532 -8.53365 8.1488 -16.0277C5.6503 -17.4707 2.51436 -18.9529 -0.541962 -20.1202C-0.541962 -20.1202 -4.10661 -21.5606 -8.75978 -22.5907L-8.67368 -22.7465C-3.72587 -28.492 3.2293 -31.2627 7.13233 -32.4545C8.05989 -32.757 8.09523 -34.1061 7.24431 -34.4931C3.15544 -36.2695 -4.94915 -39.0367 -12.7311 -37.7983C-31.5429 -34.7651 -47.4077 -18.3415 -47.3564 2.95379C-47.3534 3.95815 -46.2348 4.41127 -45.6115 3.64999C-43.4628 1.22833 -40.0775 -0.770149 -35.3601 -1.96766C-24.4512 -4.7369 -4.69676 3.6499 -4.69676 3.6499C-4.69676 3.6499 -18.0819 20.4492 -28.9909 23.2184C-33.7672 24.4309 -37.6939 24.2886 -40.7343 23.1842C-41.6283 22.875 -42.3966 23.8072 -41.9378 24.6288C-32.3002 42.8876 -13.1857 47.7514 -2.5161 46.5171C2.18361 45.9941 6.27475 44.5535 8.90762 43.5501Z" fill="%232e6660" style="mix-blend-mode:screen"/></g></svg>');
}

// --------------------------------- Fonts -------------------------------------

$font--primary: 'Outfit', sans-serif;

// Font weights
$weight--semibold: 600;
$weight--regular: 400;
$weight--light: 300;
$weight--extralight: 200;

// Font sizes
$base-font-size: 16px;
$base-line-height: 25px;

// Font sizes and line heights
$large-font-sizes: (
    size-zero: (
        100px,
        1,
    ),
    size-one: (
        80px,
        1.1,
    ),
    size-one-b: (
        66px,
        1.15,
    ),
    size-two: (
        54px,
        1.1,
    ),
    size-two-b: (
        38px,
        1.4,
    ),
    size-three: (
        32px,
        1.4,
    ),
    size-four: (
        24px,
        1.5,
    ),
    size-four-b: (
        24px,
        1.3,
    ),
    size-five: (
        21px,
        1.6,
    ),
    size-five-b: (
        21px,
        1.4,
    ),
    size-six: (
        18px,
        1.6,
    ),
    size-seven: (
        16px,
        1.5,
    ),
    size-eight: (
        14px,
        1.5,
    ),
);

$small-font-sizes: (
    size-zero: (
        60px,
        1,
    ),
    size-one: (
        50px,
        1.1,
    ),
    size-one-b: (
        42px,
        1.15,
    ),
    size-two: (
        38px,
        1.1,
    ),
    size-two-b: (
        32px,
        1.4,
    ),
    size-three: (
        28px,
        1.4,
    ),
    size-four: (
        24px,
        1.4,
    ),
    size-four-b: (
        24px,
        1.3,
    ),
    size-five: (
        19px,
        1.4,
    ),
    size-five-b: (
        19px,
        1.4,
    ),
    size-six: (
        16px,
        1.5,
    ),
    size-seven: (
        14px,
        1.5,
    ),
    size-eight: (
        14px,
        1.5,
    ),
);

// --------------------------------- Sizing ------------------------------------

$breakpoints: (
    'medium' '(min-width: 599px)',
    'large' '(min-width: 1023px)',
    'x-large' '(min-width: 1280px)',
    // secondary breakpoints - use sparingly
    'small' '(min-width: 410px)',
    'menu' '(min-width: 800px)',
    'xx-large' '(min-width: 1440px)',
    'xxx-large' '(min-width: 1800px)'
);

// Layout
$site-width: 1800px;
$streamfield-content-width: 720px;

// Grid setup - update any changes here in the grid.md docs file too
$grid: 30px;
$grid-gutters: $grid;
$grid-gutters-large: 80px;
$grid-gutters-x-large: 120px;

// Vertical spacing
// Any changes here will also need to be made in tailwind.config.js
$spacer-mini: 15px;
$spacer-mini-plus: 20px;
$spacer-small: ($spacer-mini * 2); // 30px
$spacer-small-plus: 40px;
$spacer-medium: ($spacer-mini * 4); // 60px
$spacer-medium-plus: 100px;
$spacer-large: ($spacer-mini * 8); // 120px
$spacer: 160px;
$spacer-half: ($spacer * 0.5); // 80px
$spacer-x-large: ($spacer-mini * 16); // 240px
$spacer-massive: ($spacer-mini * 24); // 360px

// --------------------------------- Misc --------------------------------------

$transition-quick: 0.15s ease-out;
$transition: 0.25s ease-out;
$link-transition-gap: 10px; // The gap between the link and the arrow
$link-underline-thickness: 1px; // The thickness of the underline for links
$link-underline-thickness-interaction: 2px; // The thickness of the underline for links on hover/focus

$z-index: (
    under: -1,
    in-page-nav: 5,
    base: 10,
    overlap: 20,
    header: 30,
    footer: 40,
    nav: 50,
    cookie-message: 100,
    modal: 110,
    modal-controls: 120,
);

// --------------------------------- Accessibility -----------------------------

$focus-color: var(--color--theme-primary);
$focus-width: 3px;

// --------------------------------- Specific styles ---------------------------
$avatar-size-145: 145px;
$avatar-size-130: 130px;
$avatar-size-120: 120px;
$avatar-size-100: 100px;
$avatar-size-72: 72px;
$avatar-size-80: 80px;

$header-height: 46px;
