@use 'sass:color';
// --------------------------------- Colors ------------------------------------

// See https://torchbox.github.io/torchbox.com/front-end/themes_and_modes/#css-variables

// Charity coral theme
$color--coral: #ee5276;
$color--coral-dark: #be425e;
$color--coral-light: #f9f1f6;
$color--sky: #659ff2;

// Public nebuline theme
$color--nebuline: #6f60d0;
$color--nebuline-dark: #594da6;
$color--nebuline-light: #f1edff;
$color--spearmint: #6cd9bf;

// Wagtail lagoon theme
$color--lagoon: #0096a8;
$color--lagoon-dark: #007886;
$color--lagoon-light: #ecf2ed;
$color--coolmint: #b6e2df;

// About green theme
$color--green: #398078;
$color--green-dark: #2e6660;
$color--green-light: #f0eeea;
$color--banana: #fde05f;

$color--white: #fff;
$color--grey-5: #efefef;
$color--grey-10: #e6e6e6;
$color--grey-20: #ccc;
$color--grey-50: #808080;
$color--grey-70: #4d4d4d;
$color--mid-grey: #282e30; // in figma this colour is created with a very transparent white, but this is used on the cookie banner where it needs to be a solid colour
$color--eclipse: #1d2325;
$color--black: #000;

// Dark mode by default
:root,
.mode-dark {
    // The following base variables do not change with the theme
    --color--dark-background: #{color.adjust($color--black, $alpha: -0.7)};
    --color--background: #{$color--eclipse};
    --color--light-background-text: #{$color--eclipse};
    --color--heading: #{$color--white};
    --color--text: #{$color--grey-20};
    --color--link: #{$color--white};
    --color--link-underline: #{color.adjust($color--white, $alpha: -0.5)};
    --color--link-interaction: #{$color--white};
    --color--button-link-interaction: #{$color--eclipse};
    --color--streamfield-background: #{$color--mid-grey};
    --color--decoration: #{$color--grey-50};
    --color--border: #{color.adjust($color--grey-50, $alpha: -0.5)};
    --color--overlay: #{color.adjust($color--black, $alpha: -0.6)};
    --color--background--overlay: #{color.adjust($color--eclipse, $alpha: -1)};
    --color--background-swirls-one: #{$color--black};
    --color--background-swirls-two: #{$color--white};
    // The following base variables do not change with either theme or mode
    --color--white: #{$color--white};
    --color--grey-10: #{$color--grey-10};
    --color--grey-70: #{$color--grey-70};
    --color--eclipse: #{$color--eclipse};
    --color--black: #{$color--black};
    --color--coral: #{$color--coral};
    --color--coral-dark: #{$color--coral-dark};
    --color--nebuline: #{$color--nebuline};
    --color--nebuline-dark: #{$color--nebuline-dark};
    --color--lagoon: #{$color--lagoon};
    --color--lagoon-dark: #{$color--lagoon-dark};
    --color--sky: #{$color--sky};
}

// Coral theme, dark mode
:root,
.theme-coral.mode-dark {
    --color--theme-primary: #{$color--coral};
    --color--theme-primary-muted: #{color.adjust($color--coral, $alpha: -0.5)};
    --color--theme-primary-dark: #{$color--coral-dark};
    --color--theme-primary-light: #{$color--coral-light};
    --color--theme-secondary: #{$color--sky};
    // Motif heading flames
    // - The 'fill' colour is inlined with the '#' of the hex being replaced with '%23' e.g. #ff0000 becomes %23ff0000
    // - The hex colours used should be the same as --color--theme-primary ee5276 and --color--theme-secondary 659ff2
    --letter-motif-one: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="71" height="81" viewBox="0 0 71 81"><path d="M66.805 52.031c-.374.779-1.505.626-1.67-.22-.945-5.06-3.055-9.834-5.006-11.73l-.154.457C49.657 69.905 23.035 78.79 13.979 80.956c-.861.22-1.465-.83-.855-1.473 8.336-8.564 9.757-18.821 4.668-30.974-.988-2.251-1.957-5.061-2.673-7.786 0 0-.9-3.182-1.376-7.295l-.135.067c-5.13 4.045-7.97 9.986-9.265 13.338-.324.795-1.438.761-1.688 0C1.52 43.177-.11 35.966 1.535 29.23 5.546 12.947 20.346-.12 37.883.947c.827.051 1.11 1.05.434 1.558-2.168 1.76-4.085 4.62-5.45 8.682-3.157 9.394 2.166 27.048 2.166 27.048S49.943 27.352 53.1 17.96c1.382-4.113 1.58-7.55.914-10.258-.183-.795.647-1.421 1.287-.981 14.266 9.293 16.738 26.219 14.865 35.477-.808 4.08-2.323 7.583-3.36 9.834z" fill="%23ee5276" style="opacity: 0.9"/></svg>');
    --letter-motif-two: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="58" height="62" viewBox="0 0 58 62"><path d="M6.825 14.11c.45-.571 1.35-.24 1.332.486-.15 4.33.712 8.638 1.969 10.552l.21-.347C24.18 2.56 47.676.125 55.512 0c.748-.024 1.052.949.434 1.366-8.415 5.512-11.457 13.68-9.497 24.595.4 2.03.683 4.515.774 6.885 0 0 .158 2.779-.204 6.245l.124-.031c4.953-2.386 8.373-6.748 10.05-9.264.41-.595 1.32-.363 1.386.308.265 3.211.285 9.433-2.297 14.667-6.27 12.645-20.818 20.675-35.03 16.593-.671-.192-.722-1.065-.072-1.358 2.102-1.05 4.2-3.05 6.064-6.138 4.31-7.14 3.164-22.618 3.164-22.618s-14.24 6.216-18.55 13.357c-1.888 3.127-2.678 5.913-2.626 8.26.004.687-.791 1.05-1.237.571-10.022-10.242-8.96-24.6-5.729-31.864 1.41-3.204 3.295-5.805 4.559-7.465z" fill="%23659ff2" style="opacity: 0.9"/></svg>');
}

// Nebuline theme, dark mode
.theme-nebuline.mode-dark {
    --color--theme-primary: #{$color--nebuline};
    --color--theme-primary-muted: #{color.adjust($color--nebuline, $alpha: -0.5)};
    --color--theme-primary-dark: #{$color--nebuline-dark};
    --color--theme-primary-light: #{$color--nebuline-light};
    --color--theme-secondary: #{$color--spearmint};
}

// Lagoon theme, dark mode
.theme-lagoon.mode-dark {
    --color--theme-primary: #{$color--lagoon};
    --color--theme-primary-muted: #{color.adjust($color--lagoon, $alpha: -0.5)};
    --color--theme-primary-dark: #{$color--lagoon-dark};
    --color--theme-primary-light: #{$color--lagoon-light};
    --color--theme-secondary: #{$color--coolmint};
    // Motif heading flames
    // - The 'fill' colour is inlined with the '#' of the hex being replaced with '%23' e.g. #ff0000 becomes %23ff0000
    // - The hex colours used should be the same as --color--theme-primary 0096a8 and --color--theme-secondary b6e2df
    --letter-motif-one: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="71" height="81" viewBox="0 0 71 81"><path d="M66.805 52.031c-.374.779-1.505.626-1.67-.22-.945-5.06-3.055-9.834-5.006-11.73l-.154.457C49.657 69.905 23.035 78.79 13.979 80.956c-.861.22-1.465-.83-.855-1.473 8.336-8.564 9.757-18.821 4.668-30.974-.988-2.251-1.957-5.061-2.673-7.786 0 0-.9-3.182-1.376-7.295l-.135.067c-5.13 4.045-7.97 9.986-9.265 13.338-.324.795-1.438.761-1.688 0C1.52 43.177-.11 35.966 1.535 29.23 5.546 12.947 20.346-.12 37.883.947c.827.051 1.11 1.05.434 1.558-2.168 1.76-4.085 4.62-5.45 8.682-3.157 9.394 2.166 27.048 2.166 27.048S49.943 27.352 53.1 17.96c1.382-4.113 1.58-7.55.914-10.258-.183-.795.647-1.421 1.287-.981 14.266 9.293 16.738 26.219 14.865 35.477-.808 4.08-2.323 7.583-3.36 9.834z" fill="%230096a8" style="opacity: 0.9"/></svg>');
    --letter-motif-two: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="58" height="62" viewBox="0 0 58 62"><path d="M6.825 14.11c.45-.571 1.35-.24 1.332.486-.15 4.33.712 8.638 1.969 10.552l.21-.347C24.18 2.56 47.676.125 55.512 0c.748-.024 1.052.949.434 1.366-8.415 5.512-11.457 13.68-9.497 24.595.4 2.03.683 4.515.774 6.885 0 0 .158 2.779-.204 6.245l.124-.031c4.953-2.386 8.373-6.748 10.05-9.264.41-.595 1.32-.363 1.386.308.265 3.211.285 9.433-2.297 14.667-6.27 12.645-20.818 20.675-35.03 16.593-.671-.192-.722-1.065-.072-1.358 2.102-1.05 4.2-3.05 6.064-6.138 4.31-7.14 3.164-22.618 3.164-22.618s-14.24 6.216-18.55 13.357c-1.888 3.127-2.678 5.913-2.626 8.26.004.687-.791 1.05-1.237.571-10.022-10.242-8.96-24.6-5.729-31.864 1.41-3.204 3.295-5.805 4.559-7.465z" fill="%23b6e2df" style="opacity: 0.9"/></svg>');
}

// Green theme, dark mode
.theme-green.mode-dark {
    --color--theme-primary: #{$color--green};
    --color--theme-primary-muted: #{color.adjust($color--green, $alpha: -0.5)};
    --color--theme-primary-dark: #{$color--green-dark};
    --color--theme-primary-light: #{$color--green-light};
    --color--theme-secondary: #{$color--banana};
}

.mode-light {
    // redeclare any base variables that are different in light mode (these ones don't change with the theme)
    --color--dark-background: #{color.adjust($color--black, $alpha: -0.97)};
    --color--background: #{$color--white};
    --color--heading: #{$color--eclipse};
    --color--text: #{$color--grey-70};
    --color--decoration: #{$color--eclipse};
    --color--link: #{$color--eclipse};
    --color--link-underline: #{color.adjust($color--eclipse, $alpha: -0.5)};
    --color--link-interaction: #{$color--eclipse};
    --color--button-link-interaction: #{$color--white};
    --color--streamfield-background: #{$color--grey-5};
    --color--background-swirls-one: #{$color--grey-5};
    --color--background-swirls-two: #{$color--grey-50};
}

// Coral theme, light mode
.mode-light,
.theme-coral.mode-light {
    // Motif heading flames
    // - The 'fill' colour is inlined with the '#' of the hex being replaced with '%23' e.g. #ff0000 becomes %23ff0000
    // - The hex colours used should be the same as --color--theme-primary ee5276 and --color--theme-secondary 659ff2
    --letter-motif-one: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="71" height="81" viewBox="0 0 71 81"><path d="M66.805 52.031c-.374.779-1.505.626-1.67-.22-.945-5.06-3.055-9.834-5.006-11.73l-.154.457C49.657 69.905 23.035 78.79 13.979 80.956c-.861.22-1.465-.83-.855-1.473 8.336-8.564 9.757-18.821 4.668-30.974-.988-2.251-1.957-5.061-2.673-7.786 0 0-.9-3.182-1.376-7.295l-.135.067c-5.13 4.045-7.97 9.986-9.265 13.338-.324.795-1.438.761-1.688 0C1.52 43.177-.11 35.966 1.535 29.23 5.546 12.947 20.346-.12 37.883.947c.827.051 1.11 1.05.434 1.558-2.168 1.76-4.085 4.62-5.45 8.682-3.157 9.394 2.166 27.048 2.166 27.048S49.943 27.352 53.1 17.96c1.382-4.113 1.58-7.55.914-10.258-.183-.795.647-1.421 1.287-.981 14.266 9.293 16.738 26.219 14.865 35.477-.808 4.08-2.323 7.583-3.36 9.834z" fill="%23ee5276" style="opacity: 0.9"/></svg>');
    --letter-motif-two: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="58" height="62" viewBox="0 0 58 62"><path d="M6.825 14.11c.45-.571 1.35-.24 1.332.486-.15 4.33.712 8.638 1.969 10.552l.21-.347C24.18 2.56 47.676.125 55.512 0c.748-.024 1.052.949.434 1.366-8.415 5.512-11.457 13.68-9.497 24.595.4 2.03.683 4.515.774 6.885 0 0 .158 2.779-.204 6.245l.124-.031c4.953-2.386 8.373-6.748 10.05-9.264.41-.595 1.32-.363 1.386.308.265 3.211.285 9.433-2.297 14.667-6.27 12.645-20.818 20.675-35.03 16.593-.671-.192-.722-1.065-.072-1.358 2.102-1.05 4.2-3.05 6.064-6.138 4.31-7.14 3.164-22.618 3.164-22.618s-14.24 6.216-18.55 13.357c-1.888 3.127-2.678 5.913-2.626 8.26.004.687-.791 1.05-1.237.571-10.022-10.242-8.96-24.6-5.729-31.864 1.41-3.204 3.295-5.805 4.559-7.465z" fill="%23659ff2" style="opacity: 0.9"/></svg>');
}

// Lagoon theme, light mode
.theme-lagoon.mode-light {
    // Motif heading flames
    // - The 'fill' colour is inlined with the '#' of the hex being replaced with '%23' e.g. #ff0000 becomes %23ff0000
    // - The hex colours used should be the same as --color--theme-primary 0096a8 and --color--theme-secondary b6e2df
    --letter-motif-one: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="71" height="81" viewBox="0 0 71 81"><path d="M66.805 52.031c-.374.779-1.505.626-1.67-.22-.945-5.06-3.055-9.834-5.006-11.73l-.154.457C49.657 69.905 23.035 78.79 13.979 80.956c-.861.22-1.465-.83-.855-1.473 8.336-8.564 9.757-18.821 4.668-30.974-.988-2.251-1.957-5.061-2.673-7.786 0 0-.9-3.182-1.376-7.295l-.135.067c-5.13 4.045-7.97 9.986-9.265 13.338-.324.795-1.438.761-1.688 0C1.52 43.177-.11 35.966 1.535 29.23 5.546 12.947 20.346-.12 37.883.947c.827.051 1.11 1.05.434 1.558-2.168 1.76-4.085 4.62-5.45 8.682-3.157 9.394 2.166 27.048 2.166 27.048S49.943 27.352 53.1 17.96c1.382-4.113 1.58-7.55.914-10.258-.183-.795.647-1.421 1.287-.981 14.266 9.293 16.738 26.219 14.865 35.477-.808 4.08-2.323 7.583-3.36 9.834z" fill="%230096a8" style="opacity: 0.9"/></svg>');
    --letter-motif-two: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="58" height="62" viewBox="0 0 58 62"><path d="M6.825 14.11c.45-.571 1.35-.24 1.332.486-.15 4.33.712 8.638 1.969 10.552l.21-.347C24.18 2.56 47.676.125 55.512 0c.748-.024 1.052.949.434 1.366-8.415 5.512-11.457 13.68-9.497 24.595.4 2.03.683 4.515.774 6.885 0 0 .158 2.779-.204 6.245l.124-.031c4.953-2.386 8.373-6.748 10.05-9.264.41-.595 1.32-.363 1.386.308.265 3.211.285 9.433-2.297 14.667-6.27 12.645-20.818 20.675-35.03 16.593-.671-.192-.722-1.065-.072-1.358 2.102-1.05 4.2-3.05 6.064-6.138 4.31-7.14 3.164-22.618 3.164-22.618s-14.24 6.216-18.55 13.357c-1.888 3.127-2.678 5.913-2.626 8.26.004.687-.791 1.05-1.237.571-10.022-10.242-8.96-24.6-5.729-31.864 1.41-3.204 3.295-5.805 4.559-7.465z" fill="%23b6e2df" style="opacity: 0.9"/></svg>');
}

// --------------------------------- Fonts -------------------------------------

$font--primary: 'Outfit', sans-serif;

// Font weights
$weight--semibold: 600;
$weight--regular: 400;
$weight--light: 300;
$weight--extralight: 200;

// Font sizes
$base-font-size: 16px;
$base-line-height: 25px;

// Font sizes and line heights
$large-font-sizes: (
    size-zero: (
        100px,
        1,
    ),
    size-one: (
        80px,
        1.1,
    ),
    size-one-b: (
        66px,
        1.15,
    ),
    size-two: (
        54px,
        1.1,
    ),
    size-two-b: (
        38px,
        1.4,
    ),
    size-three: (
        32px,
        1.4,
    ),
    size-four: (
        24px,
        1.5,
    ),
    size-four-b: (
        24px,
        1.3,
    ),
    size-five: (
        21px,
        1.6,
    ),
    size-five-b: (
        21px,
        1.4,
    ),
    size-six: (
        18px,
        1.6,
    ),
    size-seven: (
        16px,
        1.5,
    ),
    size-eight: (
        14px,
        1.5,
    ),
);

$small-font-sizes: (
    size-zero: (
        60px,
        1,
    ),
    size-one: (
        50px,
        1.1,
    ),
    size-one-b: (
        42px,
        1.15,
    ),
    size-two: (
        38px,
        1.1,
    ),
    size-two-b: (
        32px,
        1.4,
    ),
    size-three: (
        28px,
        1.4,
    ),
    size-four: (
        24px,
        1.4,
    ),
    size-four-b: (
        24px,
        1.3,
    ),
    size-five: (
        19px,
        1.4,
    ),
    size-five-b: (
        19px,
        1.4,
    ),
    size-six: (
        16px,
        1.5,
    ),
    size-seven: (
        14px,
        1.5,
    ),
    size-eight: (
        14px,
        1.5,
    ),
);

// --------------------------------- Sizing ------------------------------------

$breakpoints: (
    'medium' '(min-width: 599px)',
    'large' '(min-width: 1023px)',
    'x-large' '(min-width: 1280px)',
    // secondary breakpoints - use sparingly
    'small' '(min-width: 410px)',
    'menu' '(min-width: 800px)',
    'xx-large' '(min-width: 1440px)',
    'xxx-large' '(min-width: 1800px)'
);

// Layout
$site-width: 1800px;
$streamfield-content-width: 720px;

// Grid setup - update any changes here in the grid.md docs file too
$grid: 30px;
$grid-gutters: $grid;
$grid-gutters-large: 80px;
$grid-gutters-x-large: 120px;

// Vertical spacing
// Any changes here will also need to be made in tailwind.config.js
$spacer-mini: 15px;
$spacer-mini-plus: 20px;
$spacer-small: ($spacer-mini * 2); // 30px
$spacer-small-plus: 40px;
$spacer-medium: ($spacer-mini * 4); // 60px
$spacer-medium-plus: 100px;
$spacer-large: ($spacer-mini * 8); // 120px
$spacer: 160px;
$spacer-half: ($spacer * 0.5); // 80px
$spacer-x-large: ($spacer-mini * 16); // 240px
$spacer-massive: ($spacer-mini * 24); // 360px

// --------------------------------- Misc --------------------------------------

$transition-quick: 0.15s ease-out;
$transition: 0.25s ease-out;
$link-transition-gap: 10px; // The gap between the link and the arrow
$link-underline-thickness: 1px; // The thickness of the underline for links
$link-underline-thickness-interaction: 2px; // The thickness of the underline for links on hover/focus

$z-index: (
    under: -1,
    in-page-nav: 5,
    base: 10,
    overlap: 20,
    header: 30,
    footer: 40,
    nav: 50,
    cookie-message: 100,
    modal: 110,
    modal-controls: 120,
);

// --------------------------------- Accessibility -----------------------------

$focus-color: var(--color--theme-primary);
$focus-width: 3px;

// --------------------------------- Specific styles ---------------------------
$avatar-size-145: 145px;
$avatar-size-130: 130px;
$avatar-size-120: 120px;
$avatar-size-100: 100px;
$avatar-size-72: 72px;
$avatar-size-80: 80px;

$header-height-desktop: 106px;
$header-height-mobile: 81px;
