[tool.poetry]
name = "tbx"
version = "0.1.0"
description = "Torchbox.com"
authors = ["Torchbox Ltd"]

[tool.poetry.dependencies]
python = "^3.12"
Django = "~4.2"
wagtail = "~6.2"
psycopg2 = "^2.9.9"
gunicorn = {version = "^23.0.0", optional = true}
whitenoise = "^6.7.0"
phonenumbers = "^8.13.47"
Wand = "^0.6.10"

# Django packages
django-basic-auth-ip-whitelist = "^0.6"
django-birdbath = "^2.0.0"
django-csp = "^3.7"
django-pattern-library = "^1.1.0"
django-permissions-policy = "^4.22.0"
django-phonenumber-field = "^8.0.0"
django-redis = "^5.2.0"
django-referrer-policy = "~1.0"
django-storages = {version = "^1.14.4", extras = ["boto3"]}
dj-database-url = "^2.2.0"

# Wagtail packages
wagtail-accessibility = "^2.0.0"
wagtail-lite-youtube-embed = "^0.1.0"
wagtail-markdown = "^0.12.1"
wagtailmedia = "^0.15.2"
wagtail-purge = "^0.4.0"

# Production
scout-apm = "^3.2.1"
sentry-sdk = "^2.16.0"
html5lib = "^1.1"
beautifulsoup4 = "^4.12.3"
django-xff = "^1.4.0"

[tool.poetry.extras]
gunicorn = ["gunicorn"]

[tool.poetry.group.dev.dependencies]
Werkzeug = "^3.0.4"
django-debug-toolbar = "^4.4.6"
django-extensions = "^3.2.3"
fabric = "^3.2.2"
pudb = "^2024.1"
honcho = "^2.0.0"

# Linters etc.
black = "^24.10.0"
detect-secrets = "^1.5.0"
djhtml = "^3.0.6"
flake8 = "^7.1.1"
isort = "^5.13.2"
pre-commit = "^4.0.1"
seed-isort-config = "^2.2.0"

# Documentation
mkdocs = "^1.6.1"
mkdocs-material = "^9.5.41"
pymdown-extensions = "^10.11.2"

# Testing
wagtail-factories = "^4.2.1"


[build-system]
requires = ["poetry>=1,<2"]
build-backend = "poetry.masonry.api"

[tool.black]
line_length = 88
target-version = ['py312']
exclude = '''
    /(
        .+/migrations
      | venv
      | \.venv
      | node_modules
      | \.git
    )/
'''
