@use "config" as *;

.breadcrumbs-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;

    &__item {
        width: auto;
        padding: 0;
        margin: 0 5px 0 0;
        font-size: 12px;
        font-weight: $weight--light;
        text-transform: uppercase;
        border-bottom: 0;

        &:first-child {
            a {
                margin-left: 0;
            }
        }

        &:last-child {
            margin-left: 10px;
            border-bottom: 1px solid;
        }

        @include media-query(medium) {
            &:last-of-type {
                &::after {
                    content: '';
                }
            }
        }
    }

    &__icon {
        fill: $color--primary;
        display: inline-block;
        vertical-align: middle;
        height: 10px;
        width: 8px;
    }

    &__link {
        color: $color--primary;
        border-bottom: 1px solid transparent;
        transition: color, border $transition;

        &:hover {
            cursor: pointer;
        }

        @include media-query(medium) {
            padding: 5px 0;
            margin: 0 10px;
        }
    }
}
