@use "config" as *;

.breadcrumbs-nav {
    grid-column: 1 / span 4;

    @include media-query(large) {
        grid-column: 1 / span 12;
    }

    &__list {
        @include font-size(supporting);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: $spacer-mini 0 calc(#{$spacer-mini} - 10px); // 15px margin minus the 10px bottom margin on the li.
    }

    &__item {
        width: auto;
        padding: 0;
        margin: 0 5px 10px 0;

        // at mobile, hide any ancestors apart from the immediate parent
        &--ancestor {
            display: none;
        }

        @include media-query(medium) {
            display: block;
        }
    }

    &__divider {
        margin-left: 5px;
    }

    &__icon {
        display: inline-block;
        vertical-align: middle;
        height: 10px;
        width: 8px;
    }

    &__link {
        @include link-styles();
    }
}
