@use 'config' as *;

.footerlinks-nav {
    padding: $spacer-small-plus 0;

    @include media-query(medium) {
        columns: 2;
        column-gap: $spacer-medium;
    }

    &__link {
        // @include font-size('size-seven');
        @include link-styles(
            $color: var(--color--heading),
            $interaction-color: var(--color--heading),
            $offset: 5px,
            $underline-color: var(--color--grey-50)
        );
        display: block;
        margin-bottom: 10px;
    }
}
