@use "config" as *;

.footerlinks-nav {
    @include media-query(medium) {
        columns: 2;
        column-gap: $spacer-medium;
        max-width: 400px;
    }

    @include media-query(large) {
        padding-top: $spacer-small-plus;
    }

    &__link {
        @include link-styles();
        @include font-size('body-two');
        font-weight: 500;
        display: block;
        margin-bottom: 10px;
    }
}
