@use "config" as *;
@use "sass:color";

.footercolumn-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-wrap: wrap;

    &__item {
        width: 100%;
        padding-bottom: 5px;
        margin-bottom: 0;
        border-bottom: 0;
        font-weight: $weight--bold;
        text-align: center;

        @include media-query(medium) {
            width: auto;
            padding: 0;
            margin: 0;
            font-weight: $weight--light;
            text-align: left;
            border-bottom: 0;
        }
    }

    &__link {
        border-bottom: 1px solid transparent;
        transition: color, border $transition;
        color: $color--secondary;

        &:hover {
            cursor: pointer;
            color: color.adjust($color--secondary, $lightness: -20%);
            border-bottom: 1px solid $color--secondary;
        }

        @include media-query(medium) {
            padding: 5px 0;
            margin: 0;
        }
    }
}
