@use '../../config' as *;

/*
Styles for the primary navigation at desktop (top level)
*/

.primary-nav-desktop {
    $root: &;

    display: none;
    flex: 1;

    @include media-query(menu) {
        display: block;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: $spacer-small;
        overflow: visible;

        @include media-query(large) {
            gap: $spacer-small-plus;
        }
    }

    &__item {
        position: relative;
        width: auto;

        &.active {
            #{$root}__link::after {
                background-color: var(--color--theme-primary);
            }
        }
    }

    &__link {
        @include high-contrast-text-decoration();
        position: relative;
        display: inline-flex;
        align-items: center;
        gap: 8px;
        color: var(--color--grey-20);
        background: transparent;
        border: 0;
        padding: 0;
        font: inherit;
        cursor: pointer;
        text-decoration: none;

        &::after {
            content: '';
            position: absolute;
            bottom: -12px;
            left: 0;
            width: 100%;
            height: 1.5px;
            background-color: transparent;
            transition: background-color $transition;

            @include reduced-motion() {
                transition: none;
            }
        }

        &:hover,
        &:focus-visible {
            color: var(--color--white);

            &::after {
                background-color: var(--color--theme-primary);
            }
        }

        &:focus-visible {
            @include focus-style();
        }

        &--has-children {
            .active & {
                color: var(--color--white);
            }
        }
    }

    &__icon-wrapper {
        @include z-index(overlap);
        width: 12px;
        position: relative;
        display: inline-block;
    }

    &__icon-closed {
        display: block;
        width: 11px;
        height: 11px;
        color: var(--color--grey-20);
        transform: rotate(90deg);

        .active &,
        #{$root}__link:hover & {
            display: none;
        }
    }

    &__icon-open {
        display: none;
        width: 11px;
        height: 16px;
        position: absolute;
        top: -8px;
        color: var(--color--white);

        #{$root}__link:hover &,
        .active & {
            display: block;
        }
    }
}
