@use 'config' as *;

/*
Styles for the primary navigation at desktop (top level)
*/

// The nav element surrounding the whole navigation
// There are separate nav elements for desktop and mobile
.primary-nav-desktop {
    $root: &;

    // At desktop the top level of the menu is always visible in the header
    display: none;

    @include media-query(menu) {
        display: inline-block;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 4vw;
        overflow: visible;

        @include media-query(large) {
            gap: $spacer-small-plus;
        }
    }

    &__item {
        position: relative;
        width: auto;
    }

    &__link {
        @include high-contrast-text-decoration();
        color: var(--color--grey-20);

        &::after {
            content: '';
            position: absolute;
            bottom: -12px;
            left: 0;
            width: 100%;
            height: 1.5px;
            background-color: transparent;
            transition: background-color $transition;
        }

        &:hover {
            color: var(--color--white);

            &::after {
                background-color: var(--color--theme-primary);
            }
        }

        &:focus-visible {
            @include focus-style();
        }
    }
}
