@use "config" as *;

/*
Styles for the top level of the navigation
*/

// the nav element surrounding the whole navigation
// There are separate nav elements for desktop and mobile
.primary-nav {
    $root: &;

    // At mobile the navition is only revealed when the menu icon is clicked
    // At desktop the top level is always visible
    &--desktop {
        display: none;

        @include media-query(medium) {
            display: block;
        }
    }

    &--mobile {
        @include z-index(base);
        @include nav-fixed-position($header-height-mobile);
        display: block;
        background-color: var(--color--nav-background);

        @include media-query(medium) {
            display: none;
        }

        // mobile active state
        &.is-visible {
            visibility: visible;
            opacity: 1;
        }
    }

    // Top level menu unordered list
    &__list {
        display: flex;
        flex-direction: column;

        @include media-query(medium) {
            flex-direction: row;
            justify-content: flex-end;
            gap: 3vw;
            overflow: visible;
        }

        @include media-query(large) {
            gap: $spacer-small-plus;
        }
    }

    // top level menu list items
    &__item {
        font-weight: $weight--semibold;
        position: relative;
        width: 100%;

        @include media-query(medium) {
            width: auto;
            font-weight: $weight--medium;
        }
    }

    // top level menu links
    &__link {
        // mobile link styles
        display: flex;
        padding: 35px $spacer-small;
        border-bottom: 1px solid var(--color--nav-border);
        justify-content: space-between;
        font-size: nth(map-get($large-font-sizes, 'heading-four'), 1);
        line-height: nth(map-get($large-font-sizes, 'heading-four'), 2);

        // reset link styles for desktop
        @include media-query(medium) {
            display: inline;
            padding: 0;
            border-bottom: none;
            font-size: inherit;
            line-height: inherit;
        }

        &:focus {
            @include focus-style();
        }

        #{$root}__item:last-child & {
            border-bottom: none;
        }

        // mobile styles for links with children
        &--has-children {
            color: var(--color--heading);

            // reset link styles for desktop
            @include media-query(medium) {
                color: inherit;
            }
        }

        // mobile styles for links without children
        &--no-children {
            @include link-styles(
                $color: var(--color--heading),
                $interaction-color: var(--color--heading)
            );

            // reset link styles for desktop
            @include media-query(medium) {
                color: inherit;
                text-decoration: none;

                &:hover {
                    color: inherit;
                }
            }
        }
    }

    // top level menu link text
    &__text {
        @include media-query(medium) {
            @include link-styles($interaction-color: var(--color--heading));
        }
    }

    // mobile arrow - appears if there are children
    &__icon-mobile {
        width: 18px;
        height: 21px;
        flex-grow: 0;
        flex-shrink: 0;
        fill: $color--white;
        transition: transform $transition-quick;

        #{$root}__link:hover & {
            transform: translateX(10px);
        }

        @include media-query(medium) {
            display: none;
        }

        @include reduced-motion() {
            transition: none;
        }
    }

    // desktop arrows
    // wrapper ensures the text doesn't move when the icon changes
    &__icon-wrapper {
        display: none;

        @include media-query(medium) {
            @include z-index(overlap);
            width: 13px;
            position: relative;
            display: inline-block;
            margin-left: 8px;
        }
    }

    // chevron when menu is closed
    &__icon-closed {
        @include media-query(medium) {
            display: block;
            width: 10px;
            height: 6px;
            color: var(--color--text);

            @include high-contrast-light-mode() {
                color: var(--color--decoration);
            }
        }

        .active &,
        #{$root}__link:hover & {
            @include media-query(medium) {
                display: none;
            }
        }
    }

    // tall arrow when menu is open
    &__icon-open {
        @include media-query(medium) {
            display: none;
            width: 13px;
            height: 85px;
            position: absolute;
            top: -8px;
            color: var(--color--heading);

            @include high-contrast-light-mode() {
                color: var(--color--decoration);
            }
        }

        .active & {
            @include media-query(medium) {
                display: block;
            }
        }
    }

    // short icon when hovering
    &__icon-hover {
        @include media-query(medium) {
            display: none;
            width: 11px;
            height: 16px;
            position: absolute;
            top: -8px;
            color: var(--color--heading);

            @include high-contrast-light-mode() {
                color: var(--color--decoration);
            }
        }

        #{$root}__link:hover & {
            @include media-query(medium) {
                display: block;
            }
        }

        // don't show as well as the active icon
        .active #{$root}__link:hover & {
            @include media-query(medium) {
                display: none;
            }
        }
    }
}
