@use "config" as *;
@use "sass:color";

.primary-nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

    @include media-query(medium) {
        flex-direction: row;
        justify-content: flex-end;
        margin-top: $grid;
    }

    &__item {
        width: 60%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-weight: $weight--bold;
        text-align: center;
        border-bottom: 1px solid color.adjust($color--off-black, $alpha: -0.8);

        &:last-child {
            border-bottom: 0;
        }

        @include media-query(medium) {
            width: auto;
            padding: 0;
            margin: 0;
            font-weight: $weight--light;
            text-align: left;
            border-bottom: 0;
            position: relative;

            &::after {
                color: $color--tertiary;
                content: '|';
            }

            &:last-of-type {
                &::after {
                    content: '';
                }
            }
        }
    }

    &__link {
        color: color.adjust($color--off-black, $alpha: -0.3);
        border-bottom: 1px solid transparent;
        transition: color, border $transition;

        &:hover {
            cursor: pointer;
        }

        @include media-query(medium) {
            padding: 5px 0;
            margin: 0 10px;
            color: $color--secondary;

            &:hover {
                color: color.adjust($color--secondary, $lightness: -20%);
                border-bottom: 1px solid $color--secondary;
            }
        }
    }

    &__icon {
        @include media-query(medium) {
            display: inline-block;
            transform: rotate(90deg);
        }

        .active & {
            @include media-query(medium) {
                transform: rotate(270deg);
            }
        }
    }
}
