@use "config" as *;
@use "sass:color";

.secondary-nav {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-right: 15px;

    &__item {
        width: 60%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        text-align: center;
        border-bottom: 1px solid color.adjust($color--off-black, $alpha: -0.8);

        font-weight: $weight--light;

        &:last-child {
            border-bottom: 0;
        }

        @include media-query(medium) {
            width: auto;
            padding: 0;
            margin: 0;
            text-align: left;
            border-bottom: 0;

            &::after {
                color: $color--tertiary;
                content: '|';
            }

            &:last-of-type {
                &::after {
                    content: '';
                }
            }
        }
    }

    &__link {
        color: color.adjust($color--off-black, $alpha: -0.3);
        border-bottom: 1px solid transparent;
        transition: color, border $transition;

        &:hover {
            cursor: pointer;
        }

        @include media-query(medium) {
            padding: 5px 0;
            margin: 0 10px;
            color: $color--secondary;

            &:hover {
                color: color.adjust($color--secondary, $lightness: -20%);
                border-bottom: 1px solid $color--secondary;
            }
        }
    }

    &__icon {
        @include media-query(large) {
            // @todo - desktop dropdown styles
            display: none;
        }
    }
}
