@use 'config' as *;

/*
Styles for the secondary navigation at desktop (top level)
*/

// The nav element surrounding the whole navigation
// There are separate nav elements for desktop and mobile
.secondary-nav-desktop {
    $root: &;
    margin-left: auto;
    
    // at desktop the top level of the menu is always visible in the header
    display: none;

    @include media-query(menu) {
        display: inline-block;
    }

    // top level menu unordered list
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 3vw;
        overflow: visible;

        @include media-query(large) {
            gap: $spacer-small-plus;
        }
    }

    // top level menu list items
    &__item {
        position: relative;
        width: auto;
    }

    // top level menu links
    &__link {
        &:focus {
            @include focus-style();
        }
    }

    // top level menu link text
    &__text {
        @include link-styles($interaction-color: var(--color--heading), $offset: 5px);
        font-weight: $weight--semibold;
    }

    // desktop arrows
    // wrapper ensures the text doesn't move when the icon changes
    &__icon-wrapper {
        @include z-index(overlap);
        width: 13px;
        position: relative;
        display: inline-block;
        margin-left: 8px;
    }

    // chevron when menu is closed
    &__icon-closed {
        display: block;
        width: 10px;
        height: 6px;
        color: var(--color--text);

        @include high-contrast-light-mode() {
            color: var(--color--decoration);
        }

        .active &,
        #{$root}__link:hover & {
            display: none;
        }
    }

    // short icon when menu is open
    &__icon-open {
        display: none;
        width: 11px;
        height: 16px;
        position: absolute;
        top: -8px;
        color: var(--color--heading);

        @include high-contrast-light-mode() {
            color: var(--color--decoration);
        }

        #{$root}__link:hover & {
            display: block;
        }

        .active & {
            display: block;
        }
    }
}