@use 'config' as *;
@use 'sass:color';

/*
Styles for the lower levels of the navigation at mobile
*/

// At mobile, the sub-navigation appears when a top level item is clicked, and also when a second level item is clicked.
// The second and third levels are shown in separate views

// div element at levels 2 and 3 of the menu
.sub-nav-mobile {
    $root: &;
    @include z-index(base);
    @include nav-fixed-position($header-height: 134px);
    background-color: var(--color--background);

    // active state
    &.is-visible {
        opacity: 1;
        visibility: visible;
    }

    // the unordered list containing the level 2 menu items
    // also used for the level 3 menu items
    &__list {
        display: flex;
        flex-direction: column;
    }

    // 2nd and 3rd level list items
    &__item {
        &--back {
            background-color: var(--color--dark-background);
        }

        &--has-children {
            background-color: var(--color--dark-background);
        }
    }

    // 2nd and 3rd level menu links
    &__link {
        @include font-size('size-five');
        display: flex;
        align-items: center;
        width: 100%;
        padding: $spacer-small;
        border-bottom: 2px solid var(--color--border);
        color: var(--color--link);

        &:focus {
            @include focus-style();
        }

        &--has-children {
            justify-content: space-between;
        }

        &--no-children {
            @include link-styles(
                $color: var(--color--link),
                $interaction-color: var(--color--link),
                $underline-color: var(--color--link)
            );
        }

        &--parent {
            color: var(--color--heading);
            font-weight: $weight--semibold;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 2px;
        }

        &--back {
            @include font-size('size-six');
            padding: 10px $spacer-small;
        }
    }

    &__icon {
        @include arrow-link-icon-styles(
            $width: 18px,
            $interaction-color: var(--color--theme-primary)
        );
        color: var(--color--theme-primary);
        margin-left: 10px;
    }

    // back icon which sits inside the back link
    &__icon-back {
        transform: rotate(90deg);
        width: 18px;
        height: 21px;
        margin-right: $spacer-mini-plus;
        flex-grow: 0;
        flex-shrink: 0;
    }

    // arrow icon which indicates the mobile menu has another level
    &__icon-front {
        transform: rotate(-90deg);
        width: 18px;
        height: 21px;
        flex-grow: 0;
        flex-shrink: 0;
    }
}
