@use "config" as *;
@use "sass:color";

/*
Styles for the lower levels of the navigation at mobile
*/

// At mobile, the sub-navigation appears when a top level item is clicked, and also when a second level item is clicked. The second and third levels are shown in separate views

// div element at levels 2 and 3 of the menu
.sub-nav-mobile {
    $root: &;
    @include z-index(base);
    @include nav-fixed-position($header-height-mobile);
    background-color: var(--color--nav-background);

    // the unordered list containing the level 2 menu items
    // also used for the level 3 menu items
    &__list {
        display: flex;
        flex-direction: column;
    }

    // the list item for each menu item in the 2nd and 3rd levels
    &__item {
        font-weight: $weight--semibold;
        position: relative;
        width: 100%;
    }

    // The link for each menu item in the 2nd and 3rd level
    &__link {
        display: flex;
        padding: 35px $spacer-small;
        border-bottom: 1px solid var(--color--nav-border);
        gap: 18px;
        align-items: center;
        font-size: nth(map-get($large-font-sizes, 'heading-four'), 1);
        line-height: nth(map-get($large-font-sizes, 'heading-four'), 2);

        &:focus {
            @include focus-style();
        }

        #{$root}__item:last-child & {
            border-bottom: none;
        }

        // styles for links with children
        &--has-children {
            color: var(--color--heading);
            font-size: nth(map-get($large-font-sizes, 'heading-six'), 1);
            line-height: nth(map-get($large-font-sizes, 'heading-six'), 2);
        }

        // styles for links without children
        &--no-children {
            @include link-styles(
                $color: var(--color--heading),
                $interaction-color: var(--color--heading)
            );
            font-size: nth(map-get($large-font-sizes, 'heading-six'), 1);
            line-height: nth(map-get($large-font-sizes, 'heading-six'), 2);
        }

        // back link which goes one level up in the mobile menu
        &--back {
            color: var(--color--heading);
            font-size: nth(map-get($large-font-sizes, 'heading-six'), 1);
            line-height: nth(map-get($large-font-sizes, 'heading-six'), 2);
            width: 100%;
        }

        // parent link which takes you to the parent page for the section being viewed in the mobile menu
        &--parent {
            @include link-styles(
                $color: var(--color--heading),
                $interaction-color: var(--color--heading)
            );
        }
    }

    // back icon which sits inside the back link
    &__icon-back {
        transform: rotate(180deg);
        width: 18px;
        height: 21px;
        flex-grow: 0;
        flex-shrink: 0;
        fill: $color--white;
        transition: transform $transition-quick;

        #{$root}__link:hover & {
            transform: rotate(180deg) translateX(10px);
        }
    }

    // arrow icon which indicates the mobile menu has another level
    &__icon-mobile {
        width: 18px;
        height: 21px;
        flex-grow: 0;
        flex-shrink: 0;
        fill: $color--white;
        transition: transform $transition-quick;

        #{$root}__link:hover & {
            transform: translateX(10px);
        }
    }

    // active state
    &.is-visible {
        opacity: 1;
        visibility: visible;
    }
}
