@use "config" as *;
@use "sass:color";

.sub-nav {
    @include z-index(base);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px;
    background: $color--secondary;
    // Extra border for high-contrast mode users.
    border: 1px solid transparent;
    opacity: 0;
    visibility: hidden;
    // visible to invisible
    transition: visibility 0ms ease-out 250ms, opacity 250ms ease-out 0ms;

    // mobile active state
    &.is-visible {
        opacity: 1;
        visibility: visible;
        // invisible to visible
        transition: opacity 200ms ease-out 200ms, visibility 200ms ease-out 0ms;
    }

    @include media-query(medium) {
        display: none;
        align-items: flex-start;
        width: max-content;
        height: auto;
        top: 45px;
        background-color: $color--primary;
        padding: 10px 20px;
        opacity: 1;
        visibility: visible;
    }

    // last dropdown aligns right
    .primary-nav__item:last-child & {
        @include media-query(medium) {
            right: 0;
            left: auto;
        }
    }

    // desktop active state
    .active & {
        display: flex;
    }

    &__item {
        width: 60%;
        padding-bottom: 10px;
        margin-bottom: 10px;
        font-weight: $weight--normal;
        text-align: center;
        border-bottom: 1px solid color.adjust($color--off-black, $alpha: -0.8);

        // back button for mobile
        &--back {
            @include font-size(supporting);
            text-transform: uppercase;

            @include media-query(medium) {
                display: none;
            }
        }

        &--secondary {
            font-weight: $weight--light;
        }

        &:last-child {
            border-bottom: 0;
        }

        @include media-query(medium) {
            width: auto;
            font-weight: $weight--light;
            text-align: left;
            border-bottom: 0;
        }
    }

    &__link {
        color: color.adjust($color--off-black, $alpha: -0.3);
        border-bottom: 1px solid transparent;
        transition: color, border $transition;

        &:hover {
            cursor: pointer;
        }

        @include media-query(medium) {
            padding: 5px 0;
            margin: 0 10px;
            color: $color--secondary;

            &:hover {
                color: color.adjust($color--secondary, $lightness: -20%);
                border-bottom: 1px solid $color--secondary;
            }
        }
    }
}
