@use 'config' as *;
@use 'sass:color';

/*
Styles for the lower levels of the navigation at desktop
*/

// At desktop, the sub-navigation appears when a top level item is clicked
// The second and third levels are shown in one view

// div element at levels 2 and 3 of the menu
.sub-nav-desktop {
    $root: &;
    @include z-index(base);
    @include nav-fixed-position($header-height: 149px, $full-height: false);
    background-color: var(--color--dark-background);
    padding: $spacer-half $grid-gutters;
    // for high contrast mode
    border: 1px solid transparent;

    // padding matches grid spacers but we don't want a grid layout for the sub-nav
    @include media-query(large) {
        padding: $spacer-small-plus $grid-gutters-large;
    }

    @include media-query(x-large) {
        padding: $spacer-half $grid-gutters-x-large;
    }

    // active state
    .active & {
        opacity: 1;
        visibility: visible;
    }

    // at desktop, the lowest level of menu is visible in the same screen as the second level
    // so reset the fixed positioning
    &--child {
        @include reset-nav-fixed-position();
        // links remain hidden until opened
        visibility: hidden;
        padding: 0;
        border: 0;
    }

    // the unordered list containing the level 2 menu items
    // also used for the level 3 menu items
    &__list {
        display: flex;
        flex-direction: row;
        row-gap: $spacer-half;
        column-gap: $spacer-medium;

        // at desktop the third level is always visible once the subnav is expanded
        // it sits inside each column
        &--child {
            flex-direction: column;
            row-gap: $spacer-small;
        }
    }

    // the list item for each menu item in the 2nd and 3rd levels
    &__item {
        display: flex;
        flex-direction: column;
        // at desktop level 2 these are arranged in columns
        // which are based on the number of items at that level
        flex-basis: calc(100% - #{$spacer-small});

        #{$root}--2 &,
        #{$root}--3 & {
            flex-basis: calc(33.33% - #{$spacer-small});
        }

        #{$root}--4 & {
            flex-basis: calc(50% - #{$spacer-small});

            @include media-query(large) {
                flex-basis: calc(25% - #{$spacer-small});
            }
        }
    }

    // the heading for each menu item in the 2nd and 3rd level
    &__heading {
        @include font-size('size-five');
        color: var(--color--theme-primary);
        margin-bottom: $spacer-small;
    }

    // the link for each menu item in the 2nd and 3rd level
    &__link {
        font-weight: $weight--semibold;
        display: block;
        width: fit-content;

        &:focus {
            @include focus-style();
        }

        &--no-description {
            font-weight: $weight--regular;
        }
    }

    &__link-text {
        @include font-size('size-five-b');
        @include link-styles(
            $color: var(--color--link),
            $interaction-color: var(--color--link),
            $offset: 5px
        );
    }

    &__tail {
        // Keep the arrow attached to the last word so it's not orphaned on a new line
        white-space: nowrap;
        display: inline;
    }

    &__arrow {
        @include arrow-link-icon-styles(
            $width: 18px,
            $interaction-color: var(--color--theme-primary)
        );
        color: var(--color--theme-primary);
    }
}
