{% if pages.paginator.num_pages > 1 %}
    <nav aria-label="Pagination" class="pagination"{% if listing_htmx_enabled %} data-listing-pagination{% endif %}>
        <ul class="pagination__list">
            {% if pages.has_previous %}
                <li class="pagination__page">
                    <a
                        href="?page={{ pages.previous_page_number }}{% if extra_url_params %}&amp;{{ extra_url_params }}{% endif %}"
                        class="pagination__link pagination__link--previous"
                        rel="prev"
                        aria-label="Go to previous page"
                        {% if listing_htmx_enabled %}
                            hx-get="{{ listing_base_url }}?page={{ pages.previous_page_number }}{% if extra_url_params %}&amp;{{ extra_url_params }}{% endif %}"
                            hx-target=".listing-panel__results"
                            hx-select=".listing-panel__results"
                            hx-swap="innerHTML"
                            hx-push-url="true"
                        {% endif %}
                    >
                        {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="pagination__prev-icon" %}
                        <span class="hidden md:inline">Previous</span>
                    </a>
                </li>
                {% if pages.number > 2 %}
                    <li class="pagination__page hidden lg:block">
                        <a
                            href="?page=1{% if extra_url_params %}&amp;{{ extra_url_params }}{% endif %}"
                            class="pagination__link"
                            aria-label="Page 1 of {{ pages.paginator.num_pages }}"
                            {% if listing_htmx_enabled %}
                                hx-get="{{ listing_base_url }}?page=1{% if extra_url_params %}&amp;{{ extra_url_params }}{% endif %}"
                                hx-target=".listing-panel__results"
                                hx-select=".listing-panel__results"
                                hx-swap="innerHTML"
                                hx-push-url="true"
                            {% endif %}
                        >
                            1
                        </a>
                    </li>
                    {% if pages.number > 3 %}
                        <li class="pagination__page hidden lg:block" aria-label="&#8230;">
                            <span class="pagination__span">&#8230;</span>
                        </li>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% for num in pages.paginator.page_range %}
                {% if pages.number == num %}
                    <li class="pagination__page pagination__page--current">
                        <a
                            href="?page={{ num }}{% if extra_url_params %}&amp;{{ extra_url_params }}{% endif %}"
                            class="pagination__link pagination__link--active"
                            aria-label="Page {{ num }} of {{ pages.paginator.num_pages }}"
                            aria-current="page"
                            {% if listing_htmx_enabled %}
                                hx-get="{{ listing_base_url }}?page={{ num }}{% if extra_url_params %}&amp;{{ extra_url_params }}{% endif %}"
                                hx-target=".listing-panel__results"
                                hx-select=".listing-panel__results"
                                hx-swap="innerHTML"
                                hx-push-url="true"
                            {% endif %}
                        >
                            {{ num }}
                        </a>
                    </li>
                {% elif num > pages.number|add:'-2' and num < pages.number|add:'2' %}
                    <li class="pagination__page">
                        <a
                            href="?page={{ num }}{% if extra_url_params %}&amp;{{ extra_url_params }}{% endif %}"
                            class="pagination__link"
                            aria-label="Page {{ num }} of {{ pages.paginator.num_pages }}"
                            {% if listing_htmx_enabled %}
                                hx-get="{{ listing_base_url }}?page={{ num }}{% if extra_url_params %}&amp;{{ extra_url_params }}{% endif %}"
                                hx-target=".listing-panel__results"
                                hx-select=".listing-panel__results"
                                hx-swap="innerHTML"
                                hx-push-url="true"
                            {% endif %}
                        >
                            {{ num }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if pages.has_next %}
                {% if pages.number < pages.paginator.num_pages|add:'-2' %}
                    <li class="pagination__page hidden lg:block" aria-label="&#8230;">
                        <span class="pagination__span">&#8230;</span>
                    </li>
                {% endif %}
                {% if pages.number < pages.paginator.num_pages|add:'-1' %}
                    <li class="pagination__page hidden lg:block">
                        <a
                            href="?page={{ pages.paginator.num_pages }}{% if extra_url_params %}&amp;{{ extra_url_params }}{% endif %}"
                            class="pagination__link"
                            aria-label="Page {{ pages.paginator.num_pages }} of {{ pages.paginator.num_pages }}"
                            {% if listing_htmx_enabled %}
                                hx-get="{{ listing_base_url }}?page={{ pages.paginator.num_pages }}{% if extra_url_params %}&amp;{{ extra_url_params }}{% endif %}"
                                hx-target=".listing-panel__results"
                                hx-select=".listing-panel__results"
                                hx-swap="innerHTML"
                                hx-push-url="true"
                            {% endif %}
                        >
                            {{ pages.paginator.num_pages }}
                        </a>
                    </li>
                {% endif %}
                <li class="pagination__page">
                    <a
                        href="?page={{ pages.next_page_number }}{% if extra_url_params %}&amp;{{ extra_url_params }}{% endif %}"
                        class="pagination__link pagination__link--next"
                        rel="next"
                        aria-label="Go to next page"
                        {% if listing_htmx_enabled %}
                            hx-get="{{ listing_base_url }}?page={{ pages.next_page_number }}{% if extra_url_params %}&amp;{{ extra_url_params }}{% endif %}"
                            hx-target=".listing-panel__results"
                            hx-select=".listing-panel__results"
                            hx-swap="innerHTML"
                            hx-push-url="true"
                        {% endif %}
                    >
                        <span class="hidden md:inline">Next</span>
                        {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="pagination__next-icon" %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
