{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags navigation_tags util_tags wagtailaccessibility_tags %}
<!doctype html>
<html
    class="
           {% block html_class %}template-{{ page.get_verbose_name|slugify }}{% endblock %}
           {% if page.theme_class %}{{ page.theme_class }}{% endif %} mode-{{ MODE }}"
    data-mode="{{ MODE }}"
    lang="en-GB"
>
    <head>
        {% if request.in_preview_panel %}
            <base target="_blank">
            <style>
                {# Prevent the preview panel from smooth scrolling when content is updated #}
                {# This overrides the css for the html element in static_src/sass/base/_base.scss #}
                html { scroll-behavior: auto !important; }
            </style>
        {% endif %}
        {# TODO fallbacks if page is not defined e.g. for 404 page #}
        <meta charset="utf-8" />
        {% wagtail_site as current_site %}
        <title>{% block title_prefix %}{% if current_site and page.pk == current_site.root_page.pk and current_site.site_name %}{{ current_site.site_name }} | {% endif %}{% endblock %}{% block title %}{% firstof page.seo_title page.title %}{% endblock %}{% block title_suffix %}{% if current_site and page.pk != current_site.root_page.pk and current_site.site_name %} | {{ current_site.site_name }}{% endif %}{% endblock %}</title>
        <meta name="description" content="{% if page.search_description %}{{ page.search_description }}{% else %}{{ page.listing_summary }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% comment %}
            Set "noindex" if the site is not being requested on a configured
            domain to prevent search engines crawling admin domains.
            This ignores ports for simplicity.
        {% endcomment %}
        {% if SEO_NOINDEX or request.get_host != current_site.hostname or page.slug == 'incident' %}
            <meta name="robots" content="noindex">
        {% endif %}

        {% block meta_tags %}{% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

        {# Add syntax highlighting for gists if a gist exists within a raw html streamfield #}
        {% if page.body|has_gist_block %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/gist.css' %}">
        {% endif %}

        {# Add syntax highlighting for code snippets within a code block streamfield (aka markdown block) #}
        {% if page.body|has_markdown_block %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/codehilite.css' %}">
        {% endif %}

        {# Load the division page js/css in the pattern library #}
        {% if pattern_library_rendered_pattern %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/division-page.css' %}">
        {% endif %}

        {% block extra_css %}{% endblock %}
    </head>

    <body>
        {% block body_top %}{% endblock %}

        {% include "patterns/atoms/sprites/sprites.html" %}

        {% wagtailuserbar %}

        {% block header %}{% endblock %}

        {% block breadcrumbs %}{% endblock %}

        <main {% if not pattern_library_rendered_pattern %}class="page"{% endif %} id="main-content">
            {% block content %}
                {{ pattern_library_rendered_pattern }}
            {% endblock %}
        </main>

        {% block footer %}{% endblock %}

        <script>
            // global variables
            window.GLOBALS = {
                ALLOWED_MODES: {{ ALLOWED_MODES|safe }},
                BASE_DOMAIN: "{{ BASE_DOMAIN }}",
            }
        </script>

        <script src="{% static 'js/main.js' %}"></script>

        {# Load the division page js/css in the pattern library #}
        {% if pattern_library_rendered_pattern %}
            <script src="{% static 'js/division-page.js' %}"></script>
        {% endif %}

        {% tota11y %}

        {% block extra_js %}{% endblock %}
    </body>
</html>

