{% block theme_chooser_and_title %}
    <div class="p-4 flex items-center justify-between">
        {% block title %}<h1 class="heading heading--one">Styleguide</h1>{% endblock %}
        <div class="flex items-center gap-2">
            <label for="theme-chooser">Choose a theme:</label>
            <select name="theme-chooser" id="theme-chooser" class="p-2 text-black select" onchange="changeTheme(this.value)">
                <option value="theme-coral">Coral</option>
                <option value="theme-lagoon">Lagoon</option>
                <option value="theme-banana">Banana</option>
                <option value="theme-earth">Earth</option>
            </select>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block theme_chooser_js %}
    <script>
        // JS to change the theme of the styleguide
        function changeTheme(theme) {
            document.documentElement.className = 'mode-dark';
            document.documentElement.classList.add(theme);
        }
    </script>
{% endblock %}
