{% load wagtailimages_tags %}
{% image avatar fill-144x144 format-webp saturation-0.6 as avatar_desktop %}
{% image avatar fill-286x286 format-webp saturation-0.6 as avatar_desktop_retina %}
{% image avatar fill-72x72 format-webp saturation-0.6 as avatar_mobile %}

<div class="avatar{% if classes %} {{ classes }}{% endif %}">
    {% if lazy_load %}
        {% srcset_image avatar format-webp saturation-0.6 fill-{72x72,144x144,286x286} sizes="(max-width: 598px) 72px, (min-width: 599px) 145px" alt="" loading="lazy" class="avatar__image" %}
    {% else %}
        {% srcset_image avatar format-webp saturation-0.6 fill-{72x72,144x144,286x286} sizes="(max-width: 598px) 72px, (min-width: 599px) 145px" alt="" class="avatar__image" %}
    {% endif %}
</div>
