{% load wagtailimages_tags %}
{% image avatar width-144 format-webp as avatar_desktop %}
{% image avatar width-286 format-webp as avatar_desktop_retina %}
{% image avatar width-72 format-webp as avatar_mobile %}

<div class="avatar{% if classes %} {{ classes }}{% endif %}">
    <picture>
        <source media="(max-width: 598px)" srcset="{{  avatar_mobile.url }} 1x, {{ avatar_desktop.url }} 2x" />
        <source media="(min-width: 599px)" srcset="{{ avatar_desktop.url }} 1x, {{ avatar_desktop_retina.url }} 2x" />
        <img src="{{ avatar_desktop.url }}" alt="{{ avatar_desktop.alt }}" loading="lazy" class="avatar__image" />
    </picture>
</div>
