{% load wagtailimages_tags %}
{% image avatar fill-144x144 format-webp as avatar_desktop %}
{% image avatar fill-286x286 format-webp as avatar_desktop_retina %}
{% image avatar fill-72x72 format-webp as avatar_mobile %}

<div class="avatar{% if classes %} {{ classes }}{% endif %}">
    <picture>
        <source media="(max-width: 598px)" srcset="{{  avatar_mobile.url }} 1x, {{ avatar_desktop.url }} 2x" />
        <source media="(min-width: 599px)" srcset="{{ avatar_desktop.url }} 1x, {{ avatar_desktop_retina.url }} 2x" />
        <img src="{{ avatar_desktop.url }}" alt="" {% if lazy_load %}loading="lazy"{% endif %} class="avatar__image" />
    </picture>
</div>
