<div
    class="primary-nav-dropdown primary-nav-dropdown--teaser-grid"
    id="primary-nav-dropdown-{{ dropdown_id }}"
    data-primary-subnav
>
    <div class="grid">
        <div class="primary-nav-dropdown__inner{% if dropdown.supporting_items %} primary-nav-dropdown__columns{% endif %}">
            <div class="primary-nav-dropdown__column">
                {% if dropdown.main_heading %}
                    <p class="primary-nav-dropdown__heading">{{ dropdown.main_heading }}</p>
                {% endif %}
                <ul class="primary-nav-dropdown__row-list primary-nav-dropdown__row-list--two-columns">
                    {% for child in dropdown.main_items %}
                        <li class="primary-nav-dropdown__row-item{% if child.accent_colour %} primary-nav-dropdown__row-item--{{ child.accent_colour }}{% endif %}">
                            <a href="{{ child.url }}" class="primary-nav-dropdown__row-link">
                                <span class="primary-nav-dropdown__row-body">
                                    <span class="primary-nav-dropdown__row-title">{{ child.text }}</span>
                                    {% if child.tags %}
                                        <span class="primary-nav-dropdown__row-meta">{{ child.tags }}</span>
                                    {% endif %}
                                    {% if child.description %}
                                        <span class="primary-nav-dropdown__row-description">{{ child.description }}</span>
                                    {% endif %}
                                </span>
                                {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="primary-nav-dropdown__row-arrow" only %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if dropdown.supporting_items %}
                <div class="primary-nav-dropdown__column primary-nav-dropdown__column--supporting">
                    {% if dropdown.supporting_heading %}
                        <p class="primary-nav-dropdown__heading">{{ dropdown.supporting_heading }}</p>
                    {% endif %}
                    <ul class="primary-nav-dropdown__row-list primary-nav-dropdown__row-list--compact">
                        {% for child in dropdown.supporting_items %}
                            <li class="primary-nav-dropdown__row-item">
                                <a href="{{ child.url }}" class="primary-nav-dropdown__row-link primary-nav-dropdown__row-link--compact">
                                    <span class="primary-nav-dropdown__row-title">{{ child.text }}</span>
                                    {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="primary-nav-dropdown__row-arrow" only %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% include "patterns/navigation/components/includes/primary-nav-dropdown-footer.html" %}
        </div>
    </div>
</div>
