<div
    class="primary-nav-dropdown primary-nav-dropdown--mixed-list"
    id="primary-nav-dropdown-{{ dropdown_id }}"
    data-primary-subnav
>
    <div class="primary-nav-dropdown__inner primary-nav-dropdown__columns">
        {% if dropdown.main_items %}
            <div class="primary-nav-dropdown__column">
                {% if dropdown.main_heading %}
                    <p class="primary-nav-dropdown__heading">{{ dropdown.main_heading }}</p>
                {% endif %}
                <ul class="primary-nav-dropdown__link-list">
                    {% for child in dropdown.main_items %}
                        <li class="primary-nav-dropdown__link-item">
                            <a href="{{ child.url }}" class="primary-nav-dropdown__link">
                                <span class="primary-nav-dropdown__link-text">{{ child.text }}</span>
                                <span class="primary-nav-dropdown__tail">&nbsp;{% include "patterns/atoms/icons/icon.html" with name="arrow" classname="primary-nav-dropdown__arrow" %}</span>
                            </a>
                            {% if child.description %}
                                <span class="primary-nav-dropdown__description">{{ child.description }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if dropdown.supporting_items %}
            <div class="primary-nav-dropdown__column primary-nav-dropdown__column--supporting">
                {% if dropdown.supporting_heading %}
                    <p class="primary-nav-dropdown__heading">{{ dropdown.supporting_heading }}</p>
                {% endif %}
                <ul class="primary-nav-dropdown__supporting-list">
                    {% for child in dropdown.supporting_items %}
                        <li class="primary-nav-dropdown__supporting-item">
                            <a href="{{ child.url }}" class="primary-nav-dropdown__supporting-link">
                                <span class="primary-nav-dropdown__supporting-title">{{ child.text }}</span>
                                {% if child.description %}
                                    <span class="primary-nav-dropdown__supporting-description">{{ child.description }}</span>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>
