{% load wagtailcore_tags %}

<div class="sub-nav-mobile" data-subnav>
    <ul class="sub-nav-mobile__list">
        <li class="sub-nav-mobile__item sub-nav-mobile__item--back">
            <button data-subnav-back class="sub-nav-mobile__link sub-nav-mobile__link--back">
                {% include "patterns/atoms/icons/icon.html" with name="chevron" classname="sub-nav-mobile__icon-back" %}
                Back to main menu
            </button>
        </li>
        <li class="sub-nav-mobile__item sub-nav-mobile__item--parent">
            <span class="sub-nav-mobile__link sub-nav-mobile__link--parent" href="{% if parent.page %}{% pageurl parent.page %}{% elif parent.external_link %}{{ parent.external_link }}{% endif %}">
                {{ block.value.section_heading }}
                {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="sub-nav-mobile__icon" %}
            </span>
        </li>
        {% for child in links %}
            {% if child.block_type == "link" %}
                <li class="sub-nav-mobile__item">
                    <a href="{{ child.value.url }}" class="sub-nav-mobile__link sub-nav-mobile__link--no-children">
                        {{ child.value.text }}
                        {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="sub-nav-mobile__icon" %}
                    </a>
                </li>
            {% elif child.block_type == "menu" %}
                <li class="sub-nav-mobile__item sub-nav-mobile__item--has-children">
                    <button class="sub-nav-mobile__link sub-nav-mobile__link--has-children" data-open-subnav aria-haspopup="true" aria-expanded="false">
                        {{ child.value.section_heading }}
                        {% include "patterns/atoms/icons/icon.html" with name="chevron" classname="sub-nav-mobile__icon-front" %}
                    </button>
                    {% if child.value.child_links %}
                        {% include "patterns/navigation/components/includes/subnav-child-menu-mobile.html" with pages=child.value.child_links parent=child %}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

