{% load wagtailcore_tags %}

<div class="sub-nav-desktop sub-nav-desktop--{{ number }}">
    <ul class="sub-nav-desktop__list">
        {% for child in links %}
            {% if child.block_type == "link" %}
                <li class="sub-nav-desktop__item">
                    <a href="{{ child.value.url }}" class="sub-nav-desktop__link">
                        {{ child.value.text }}
                    </a>
                    {% if child.value.description %}
                            <span class="sub-nav-desktop__description">{{ child.value.description }}</span>
                        {% endif %}
                </li>
            {% elif child.block_type == "menu" %}
                <li class="sub-nav-desktop__item">
                        <span class="sub-nav-desktop__heading">
                            {{ child.value.section_heading }}
                        </span>
                        {% if child.value.child_links %}
                            {% include "patterns/navigation/components/includes/subnav-child-menu.html" with child=child %}
                        {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

