{% load wagtailcore_tags %}

<div class="sub-nav-desktop sub-nav-desktop--{{ number }}">
    <ul class="sub-nav-desktop__list">
        {% for link in links %}
            <li class="sub-nav-desktop__item">
                {% with children=link.get_children.live.public.in_menu.specific %}
                    <a
                        class="sub-nav-desktop__link {% if children and child_display != 'hide_children' %}sub-nav-desktop__link--has-children{% else %}sub-nav-desktop__link--no-children{% endif %}"
                        href="{% pageurl link %}"
                    >
                        {{ link.nav_text }}
                    </a>
                    {% include "patterns/navigation/components/includes/subnav-child-menu.html" with pages=children %}
                {% endwith %}
            </li>
        {% endfor %}
    </ul>
</div>

