{% load wagtailcore_tags %}

{# last and second last dropdowns align to the right #}
<div class="sub-nav-desktop-mini {% if last or revcounter == 2 %}sub-nav-desktop-mini--right{% endif %}">
    <ul class="sub-nav-desktop-mini__list">
        {% for link in links %}
            <li class="sub-nav-desktop-mini__item">
                <a
                    class="sub-nav-desktop-mini__link"
                    href="{% pageurl link %}"
                >
                    {{ link.nav_text }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

