{% load wagtailcore_tags %}

<div class="sub-nav" data-subnav>
    <ul class="sub-nav__list">
        <li class="sub-nav__item sub-nav__item--back">
            <button data-subnav-back class="sub-nav__link sub-nav__link--back">
                {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="sub-nav__icon-back" %}
                Back to main menu
            </button>
        </li>
        <li class="sub-nav__item sub-nav__item--parent">
            <a class="sub-nav__link sub-nav__link--parent" href="{{ parent.url }}">
                {{ parent.text }}
            </a>
        </li>
        {% for link in links %}
            <li class="sub-nav__item">
                {% with children=link.get_children.live.public.in_menu %}
                    <a
                        class="sub-nav__link {% if children and not hide_children %}sub-nav__link--has-children{% else %}sub-nav__link--no-children{% endif %}"
                        {% if children and not hide_children %}
                            data-open-subnav aria-haspopup="true" aria-expanded="false"
                        {% endif %}
                        href="{{ link.url }}"
                    >
                        {{ link.title }}
                        {% if children and not hide_children %}
                            {% include "patterns/atoms/icons/icon.html" with name="arrow" classname="sub-nav__icon-mobile" %}
                        {% endif %}
                    </a>
                    {% include "patterns/navigation/components/includes/subnav-child-menu-mobile.html" with pages=children parent=link grandparent=parent %}
                {% endwith %}
            </li>
        {% endfor %}
    </ul>
</div>

