{% load wagtailcore_tags %}

{% if page.breadcrumbs %}
    <div class="grid">
        <nav aria-label="breadcrumb" class="breadcrumbs-nav">
            <ul class="breadcrumbs-nav__list">
                {% for crumb in page.breadcrumbs %}
                    <li class="breadcrumbs-nav__item {% if forloop.last %}breadcrumbs-nav__item--parent{% else %}breadcrumbs-nav__item--ancestor{% endif %}">
                        <a href="{% pageurl crumb %}" class="breadcrumbs-nav__link">
                            {% if crumb.depth == 2 %}
                                Home
                            {% else %}
                                {{ crumb.title }}
                            {% endif %}
                        </a>
                        {% if not forloop.last %}
                            <span aria-hidden="true" class="breadcrumbs-nav__divider">/</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endif %}
