{% load wagtailcore_tags %}
{% wagtail_site as current_site %}
{% if page.breadcrumbs %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "BreadcrumbList",
            "itemListElement": [{% for crumb in page.breadcrumbs %}
                {
                    "@type": "ListItem",
                    "position": {{ forloop.counter }},
                    "name": "{% if crumb.depth == 2 %}Home{% else %}{{ crumb.title|escapejs }}{% endif %}",
                    "item": "{{ current_site.root_url }}{% pageurl crumb %}"
                }{% if not forloop.last %},{% endif %}{% endfor %}
            ]
        }
    </script>
{% endif %}
