{% load wagtailcore_tags %}
{% if page.get_ancestors|length > 1 %}
    {% comment %}slice:'1:' skips the Wagtail root (depth=1) to start from the homepage.{% endcomment %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "BreadcrumbList",
            "itemListElement": [{% for ancestor_page in page.get_ancestors|slice:'1:' %}
                {
                    "@type": "ListItem",
                    "position": {{ forloop.counter }},
                    "name": "{% if ancestor_page.depth == 2 %}Home{% else %}{{ ancestor_page.title|escapejs }}{% endif %}",
                    "item": "{% fullpageurl ancestor_page %}"
                }{% if not forloop.last %},{% endif %}{% endfor %}
            ]
        }
    </script>
{% endif %}
