{% for nav_item in nav_items %}
    {% with item=nav_item.item is_current=nav_item.is_current %}
        <li class="primary-nav-mobile__item{% if item.style != "none" %} primary-nav-mobile__item--has-children{% endif %}{% if is_current %} primary-nav-mobile__item--current{% endif %}"{% if item.style != "none" %} data-has-subnav{% endif %}>
            {% if item.style != "none" %}
                <button
                    class="primary-nav-mobile__link primary-nav-mobile__link--has-children"
                    data-open-primary-subnav
                    aria-expanded="false"
                    aria-controls="primary-nav-mobile-dropdown-{{ forloop.counter }}"
                    {% if is_current %}aria-current="page"{% endif %}
                >
                    <span class="primary-nav-mobile__text">{{ item.text }}</span>
                    {% include "patterns/atoms/icons/icon.html" with name="chevron" classname="primary-nav-mobile__icon-chevron" %}
                </button>
                {% include "patterns/navigation/components/includes/primary-nav-dropdown-mobile.html" with dropdown=item dropdown_id=forloop.counter %}
            {% else %}
                <a
                    class="primary-nav-mobile__link"
                    href="{{ item.url }}"
                    {% if is_current %}aria-current="page"{% endif %}
                >
                    <span class="primary-nav-mobile__text">{{ item.text }}</span>
                </a>
            {% endif %}
        </li>
    {% endwith %}
{% endfor %}
