{% load wagtailcore_tags %}

{% for item in primarynav %}
    {% with children=item.value.page.get_children.live.public.in_menu hide_children=item.value.hide_children %}
        <li class="primary-nav__item {% if children %}primary-nav__item--is-parent{% endif %}"
            {% if children %}data-has-subnav{% endif %}
        >
            {% with link=item.value %}
                <a href="{{ link.url }}" {% if link.is_page %}data-menu-item{% else %}target="_blank" rel="nofollow noreferrer"{% endif %}>
                    <span><strong>{{ link.text }}</strong></span>
                    {% if not link.is_page %}
                        {% include "patterns/atoms/icons/icon.html" with name="external" classname="nav-item__external-link-icon" %}
                    {% endif %}
                </a>
                {% if children and not hide_children %}
                    {% include "patterns/navigation/components/includes/subnav-menu-item.html" with links=children %}
                {% endif %}
            {% endwith %}
        </li>
    {% endwith %}
{% endfor %}
