{% load wagtailcore_tags %}

{% for item in primarynav %}
    <li class="primary-nav-mobile__item">
        {% with link=item.value %}
            <a
                class="primary-nav-mobile__link"
                href="{% if link.page %}{% pageurl link.page %}{% elif link.external_link %}{{ link.external_link }}{% endif %}"
                {% if forloop.last %}data-last-menu-item-primary-mobile{% endif %}
            >
                <span class="primary-nav-mobile__text">{{ link.text }}</span>
            </a>
        {% endwith %}
    </li>
{% endfor %}

