<div>
    {# Secondary nav: Top-level #}
    <ul>
        {% for block in page.navigation_set.navigation %}
            {% if block.block_type == "link" %}
                <li>- <a href="{{ block.value.url }}">{{ block.value.text }}</a></li>
            {% elif block.block_type == "menu" %}
                <li>
                    <div>
                    {# Secondary nav: Second level #}
                        <span>- {{ block.value.section_heading }}</span>
                        <ul>
                            {% for child in block.value.child_links %}
                                {% if child.block_type == "link" %}
                                    <li>- - <a href="{{ child.value.url }}">{{ child.value.text }} - {{ child.value.description }}</a></li>
                                {% elif child.block_type == "menu" %}
                                    <li>
                                        <div>
                                        {# Secondary nav: third level #}
                                            <span>- - {{ child.value.section_heading }}</span>
                                            <ul>
                                                {% for gchild in child.value.child_links %}
                                                    <li>- - - <a href="{{ gchild.value.url }}">{{ gchild.value.text }} - {{ gchild.value.description }}</a></li>
                                                {% endfor %}
                                                {% if child.value.section_link %}
                                                    <li>- - - <a href="{{ child.value.section_link.url }}">{% firstof child.value.section_link_text child.value.section_link %}</a></li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
