{% load wagtailcore_tags %}

<div class="call-to-action grid__call-to-action">
    <div class="call-to-action__inner">
        <div class="call-to-action__text">
            <h2 class="heading heading--two-b call-to-action__heading">{{ value.text }}</h2>
            {% if value.description %}
                <div class="call-to-action__description">
                    {{ value.description|richtext }}
                </div>
            {% endif %}
        </div>
        {% if value.button_text and value.button_link %}
            {% if value.get_button_link_block.block_type == "modal_iframe" %}
                <button class="call-to-action__button button" data-micromodal-trigger="iframe-embed-modal">{{ value.button_text }}</button>
            {% else %}
                <a href="{{ value.get_button_link }}" class="call-to-action__button button">
                    {{ value.button_text }}
                    {% if value.get_button_link_block.block_type == "document_link" %}
                        ({{ value.get_button_file_size|filesizeformat }})
                    {% endif %}
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>

{% if value.get_button_link_block.block_type == "modal_iframe" %}
    <!-- Modal content -->
    <div class="modal" id="iframe-embed-modal" aria-hidden="true">
        <div class="modal__overlay" data-micromodal-close></div>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-title" >
            <header class="modal__header">
                <h2 class="modal__heading heading heading--two" id="modal-title">Service Enquiry</h2>
                <div class="modal__close">
                    {% include "patterns/atoms/icon_buttons/icon_button.html" with modifier="close" data="data-micromodal-close" aria='aria-label="Close modal"' %}
                </div>
            </header>
            <main class="modal__content" id="filters-content">
                <iframe
                    src="{{ cta.value.get_button_link }}"
                    width="100%"
                    height="650px"
                    frameborder="0"
                    title="Modal Webform">
                </iframe>
            </main>
        </div>
    </div>
{% endif %}
