{% load wagtailcore_tags wagtailimages_tags %}
<div class="contact-cta grid__contact-cta">
    {% for cta in value.call_to_action %}
        <h2 class="contact-cta__text heading heading--three heading--light">{{ cta.value.text }}</h2>
        {% if cta.value.description %}{{ cta.value.description|richtext }}{% endif %}
    {% endfor %}

    {% if value.person %}
        {% include "patterns/atoms/avatar/avatar.html" with avatar=value.person.image classes="contact-cta__avatar avatar--small" %}
    {% endif %}

    {% if value.person %}
        <p class="contact-cta__cite">
            {% if value.person.name %}
                <span class="contact-cta__name">{{ value.person.name }}</span>
            {% endif %}

            {% if value.person.role %}
                <span class="contact-cta__role">{{ value.person.role }}</span>
            {% endif %}
        </p>
    {% endif %}

    {% for cta in value.call_to_action %}
        {% if cta.value.button_text and cta.value.button_link %}
            <a href="{{ cta.value.get_button_link }}" class="contact-cta__button button">
                {{ cta.value.button_text }}
                {% if cta.value.get_button_link_block.block_type == "document_link" %}
                    ({{ cta.value.get_button_file_size|filesizeformat }})
                {% endif %}
            </a>
        {% endif %}
    {% endfor %}
</div>
