{% load static %}

{% if is_youtube %}
    <div class="grid__embed streamfield__embed youtube-embed" data-youtube-embed>
        <div class="youtube-embed__placeholder">
            {% if thumbnail_url %}
                <img src="{{ thumbnail_url }}" alt="Video Thumbnail" class="youtube-embed__thumbnail-image">
            {% else %}
                {# Fallback if we can't fetch a preview image from youtube #}
                <div class="youtube-embed__fallback">{% include "patterns/atoms/icons/icon.html" with name="youtube" classname="youtube-embed__logo" %}</div>
            {% endif %}
            <div class="youtube-embed__overlay">
                <div class="youtube-embed__consent-banner">
                    <p>This content is hosted by a third party. By showing the external content you accept the <a class="youtube-embed__link" href="https://www.youtube.com/t/terms" target="_blank">terms and conditions</a> of YouTube.</p>
                    <div class="youtube-embed__button-container">
                        <button class="button youtube-embed__button" data-youtube-consent-button>
                            I accept
                        </button>
                        <div class="youtube-embed__checkbox-wrapper">
                            <input type="checkbox" id="youtube-consent-checkbox" data-youtube-save-prefs class="youtube-embed__checkbox">
                            <label for="youtube-consent-checkbox" class="youtube-embed__label">Don't ask me again</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="youtube-embed__container">
            {{ value }}
        </div>
    </div>
{% else %}
    <div class="grid__embed streamfield__embed">
        {{ value }}
    </div>
{% endif %}

