{% load wagtailcore_tags wagtailimages_tags %}
<h2>{{ value.title }}</h2>
<p>{{ value.intro }}</p>
{% if value.link %}
    <a href="{% pageurl value.link %}">{{ value.button_text }}</a>
{% elif value.external_link %}
    <a href="{{ value.external_link }}">{{ value.button_text }}</a>
{% endif %}
{% if value.embed or value.image %}
        {% if value.embed %}
            {{ value.embed }}
        {% endif %}
        {% if value.image %}
            {% image value.image max-1280x860 as img %}
            <img src="{{ img.url }}" alt="{{ img.title }}" loading="lazy" />
        {% endif %}
    </div>
{% endif %}
