{% load wagtailimages_tags util_tags %}

<div class="grid__event event-block">
    <div class="event-block__content">
        <a class="event-block__title" href="{{ value.get_button_link }}" aria-label="{{ value.title }}">
            <h2>
                {# The title and icon need to be on the same line with no whitespace to prevent the arrow being orphaned on a new line #}
                <span>{{ value.title }}</span><span class="listing__tail">&nbsp;{% include "patterns/atoms/icons/icon.html" with name="arrow-wide" classname="listing-avatar__arrow listing__arrow" %}</span>
            </h2>
        </a>
        <div class="event-block__meta">
            <div class="event-block__meta-item">
                {% include "patterns/atoms/icons/icon.html" with name="calendar" classname="event-block__meta-item-icon" %}
                <div class="event-block__meta-item-content">
                    <span class="event-block__meta-item-title">Event type</span>
                    <span class="event-block__meta-item-value">
                        {% for event_type in value.type %}
                            {{ event_type }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </span>
                </div>
            </div>
            <div class="event-block__meta-item">
                <div class="event-block__meta-item-content">
                    <span class="event-block__meta-item-title">When</span>
                    <span class="event-block__meta-item-value">
                        {% format_date_for_event value.start_date value.start_time value.end_date value.end_time %}
                    </span>
                </div>
            </div>
            <div class="event-block__meta-item">
                <div class="event-block__meta-item-content">
                    <span class="event-block__meta-item-title">Where</span>
                    <span class="event-block__meta-item-value">{{ value.location }}</span>
                </div>
            </div>
        </div>
        {% if value.secondary_link %}
            <hr class="event-block__divider" aria-hidden="true" />
            {% with secondary_link=value.secondary_link.0.value %}
                <a href="{{ secondary_link.url }}" class="event-block__link">{{ secondary_link.text }}</a>
            {% endwith %}
        {% endif %}
    </div>
    {# Note: update core.blocks.EventImageChooserBlock._renditions_to_prefetch() if you change the rendition filters #}
    {% image value.image fill-430x320 format-webp as mobile_image %}
    {% image value.image fill-860x640 format-webp as mobile_image_retina %}
    {% image value.image fill-525x510 format-webp as desktop_image %}
    {% image value.image fill-1050x1020 format-webp as desktop_image_retina %}

    <div class="event-block__picture-wrapper">
        <picture class="event-block__picture">
            <source media="(max-width: 598px)" srcset="{{ mobile_image.url }} 1x, {{ mobile_image_retina.url }} 2x" width="{{ mobile_image.width }}" height="{{ mobile_image.height }}" />
            <source media="(min-width: 599px)" srcset="{{ desktop_image.url }} 1x, {{ desktop_image_retina.url }} 2x" width="{{ desktop_image.width }}" height="{{ desktop_image.height }}" />
            <img src="{{ desktop_image.url }}" alt="" loading="lazy" class="event-block__image"  width="{{ desktop_image.width }}" height="{{ desktop_image.height }}" />
        </picture>
    </div>
</div>
