{% load wagtailcore_tags wagtailimages_tags %}

<div class="featured-case-study grid__featured-case-study">
    {# Image (with gradient if logo added) #}
    <div class="featured-case-study__image-wrap{% if value.featured_case_study_logo %} featured-case-study__image-wrap--with-logo{% endif %}">

        {% if value.desaturate_image %}
            {% srcset_image value.featured_case_study_image format-webp saturation-0.6 fill-{400x225,800x450,1600x900,1280x720} sizes="(max-width: 1022px) 90vw, (max-width: 1789px) 50vw, (min-width: 1800px) 1120px" class="featured-case-study__image" %}
        {% else %}
            {% srcset_image value.featured_case_study_image format-webp fill-{400x225,800x450,1600x900,1280x720} sizes="(max-width: 1022px) 90vw, (max-width: 1789px) 50vw, (min-width: 1800px) 1120px" class="featured-case-study__image" %}
        {% endif %}

        {# Optional logo #}
        {% if value.featured_case_study_logo %}
            {% image value.featured_case_study_logo max-110x70 format-webp class="featured-case-study__company-logo" %}
        {% endif %}
    </div>

    {% with value.link.specific as link %}
        <div class="featured-case-study__content">
            {# Title #}
            <a href="{% pageurl link %}" class="featured-case-study__link">
                <h2 class="featured-case-study__title">
                    {# The title and icon need to be on the same line with no whitespace to prevent the arrow being orphaned on a new line #}
                    <span class="featured-case-study__link-text">{{ link.title }}</span><span class="featured-case-study__tail">&nbsp;{% include "patterns/atoms/icons/icon.html" with name="arrow-wide" classname="listing-avatar__arrow listing__arrow" %}</span>
                </h2>
            </a>

            {# Rich text #}
            {% if value.text %}
                <div class="featured-case-study__text">
                    {{ value.text|richtext }}
                    {# Results SVG #}
                    {% include "patterns/atoms/icons/results-ring.html" with classes="featured-case-study__results-icon" %}
                </div>
            {% endif %}

            {# Meta info #}
            <span class="featured-case-study__client-info">
                <span class="featured-case-study__client">
                    {{ link.client }}
                </span>
                <span class="featured-case-study__meta">
                    {% include "patterns/atoms/date_and_reading_time/date_and_reading_time.html" with date=link.date reading_time=link.read_time %}
                </span>
            </span>
        </div>
    {% endwith %}
</div>
