{% load wagtailcore_tags wagtailimages_tags %}

<div class="featured-case-study grid__featured-case-study">
    {# Image (with gradient if logo added) #}
    <div class="featured-case-study__image-wrap{% if value.featured_case_study_logo %} featured-case-study__image-wrap--with-logo{% endif %}">

        {% srcset_image value.featured_case_study_image format-webp fill-{400x225,800x450,1600x900,1280x720} sizes="(max-width: 1022px) 90vw, (max-width: 1789px) 50vw, (min-width: 1800px) 1120px" class="featured-case-study__image" %}

        {# Optional logo #}
        {% if value.featured_case_study_logo %}
            {% image value.featured_case_study_logo max-110x70 format-webp class="featured-case-study__company-logo" %}
        {% endif %}
    </div>

    <div class="featured-case-study__content">
        {# Title #}
        <h2 class="featured-case-study__title heading heading--three">{{ value.tagline }}</h2>

        {# Rich text #}
        {% if value.text %}
            <div class="featured-case-study__text">
                {{ value.text|richtext }}
                {# Results SVG #}
                {% include "patterns/atoms/icons/results-ring.html" with classes="featured-case-study__results-icon" %}
            </div>
        {% endif %}

        {# Meta link #}
        {% if value.link %}
            {% with value.link.specific as link %}
                <a href="{% pageurl link %}" class="featured-case-study__link link link--arrow">
                    <span class="featured-case-study__link-inner">
                        <span>
                            {{ link.title }}
                        </span>
                        <span class="featured-case-study__link-meta">
                            {{ link.date }} <span aria-hidden="true" class="featured-case-study__divider">/</span>
                            {{ link.read_time }} min{{ link.read_time|pluralize }} read
                        </span>
                    </span>

                    {% include "patterns/atoms/icons/icon.html" with name="arrow-wide" classname="featured-case-study__icon" %}
                </a>
            {% endwith %}
        {% endif %}
    </div>
</div>
