{% load wagtailcore_tags wagtailimages_tags %}
<div class="grid__keypoints keypoints">
    <div class="keypoints__header">
        {% if value.title %}
            <h2 class="heading heading--two">{{ value.title }}</h2>
        {% endif %}
        {% if value.intro %}
            <div class="text text--five">{{ value.intro|richtext }}</div>
        {% endif %}
    </div>

    <ul class="keypoints__list">
        {% for key_point in value.key_points %}
            <li class="keypoints__item">
                <div class="keypoints__icon-wrapper">
                    <p class="keypoints__icon-label">{{ key_point.icon_label }}</p>
                    {% include "patterns/atoms/icons/icon.html" with name=key_point.icon classname="keypoints__icon key_point.icon" %}
                </div>
                <div class="keypoints__details">
                    {# header title is optional, so heading here may be h2 #}
                    <{% if value.title %}h3{% else %}h2{% endif %} class="keypoints__heading">
                    {{ key_point.heading }}
                    {% if value.title %}</h3>{% else %}</h2>{% endif %}
                    <div class="keypoints__description">{{ key_point.description|richtext }}</div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
