{% load wagtailcore_tags wagtailimages_tags %}
<div class="image streamfield__image">
    {% image value.image max-1280x860 format-webp as desktop_image %}
    {% image value.image max-2560x1720 format-webp as desktop_image_retina %}
    {% image value.image max-1080x726 format-webp as mobile_image %}
    {% image value.image max-2160x1452 format-webp as mobile_image_retina %}

    <picture>
        <source media="(max-width: 598px)" srcset="{{ mobile_image.url }} 1x, {{ mobile_image_retina.url }} 2x" />
        <source media="(min-width: 599px)" srcset="{{ desktop_image.url }} 1x, {{ desktop_image_retina.url }} 2x" />
        <img src="{{ desktop_image.url }}" {% if value.image_is_decorative %} alt="" {% else %} alt="{% firstof value.alt_text img.alt %}" {% endif %} loading="lazy" />
    </picture>

    {% if value.caption %}
        <p class="image__caption supporting">{{ value.caption }}</p>
    {% endif %}

    {% if value.attribution %}
        <p class="image__attribution supporting">{{ value.attribution }}</p>
    {% endif %}
</div>
