{% load wagtailcore_tags wagtailimages_tags %}
<div class="image grid__image">
    {% if value.image_is_decorative %}
        {% srcset_image value.image format-webp saturation-0.6 fill-{400x225,800x450,1600x900,1280x720} sizes="(max-width: 1022px) 90vw, (max-width: 1879px) 70vw, (min-width: 1880px) 1170px" loading="lazy" alt="" %}
    {% elif value.alt_text %}
        {% srcset_image value.image format-webp saturation-0.6 fill-{400x225,800x450,1600x900,1280x720} sizes="(max-width: 1022px) 90vw, (max-width: 1879px) 70vw, (min-width: 1880px) 1170px" loading="lazy" alt=value.alt_text %}
    {% else %}
        {% srcset_image value.image format-webp saturation-0.6 fill-{400x225,800x450,1600x900,1280x720} sizes="(max-width: 1022px) 90vw, (max-width: 1879px) 70vw, (min-width: 1880px) 1170px" loading="lazy" %}
    {% endif %}

    {% if value.caption %}
        <p class="image__caption supporting">{{ value.caption }}</p>
    {% endif %}

    {% if value.attribution %}
        <p class="image__attribution supporting">{{ value.attribution }}</p>
    {% endif %}
</div>
