{% load wagtailcore_tags wagtailimages_tags %}

<div class="{% if value.is_screenshot %}screenshot-image{% else %}image{% endif %} grid__image">
    {% if value.image.is_gif %}
        {% image value.image width-800 %}
    {% elif value.is_screenshot %}
        {# Screenshots keep their natural width but if they are particularly wide they will resize down to the maximum mobile width. #}
        {% if value.image_is_decorative %}
            {% image value.image format-webp width-1000 loading="lazy" alt="" %}
        {% elif value.alt_text %}
            {% image value.image format-webp width-1000 loading="lazy" alt=value.alt_text %}
        {% else %}
            {% image value.image format-webp width-1000 loading="lazy" %}
        {% endif %}
    {% else %}
        {% if value.image_is_decorative %}
            {% srcset_image value.image format-webp width-{400,900,1800} sizes="(max-width: 1022px) 90vw, (max-width: 1879px) 50vw, (min-width: 1880px) 910px" loading="lazy" alt="" %}
        {% elif value.alt_text %}
            {% srcset_image value.image format-webp width-{400,900,1800} sizes="(max-width: 1022px) 90vw, (max-width: 1879px) 50vw, (min-width: 1880px) 910px" loading="lazy" alt=value.alt_text %}
        {% else %}
            {% srcset_image value.image format-webp width-{400,900,1800} sizes="(max-width: 1022px) 90vw, (max-width: 1879px) 50vw, (min-width: 1880px) 910px" loading="lazy" %}
        {% endif %}
    {% endif %}

    {% if value.caption %}
        <p class="image__caption text--eight">{{ value.caption }}</p>
    {% endif %}

    {% if value.attribution %}
        <p class="image__attribution text--eight">{{ value.attribution }}</p>
    {% endif %}
</div>
