{% load wagtailcore_tags wagtailimages_tags %}
<div class="grid__intro-with-images intro-with-images">
    <div class="intro-with-images__collage">
        {% for item in value.images %}
            {% srcset_image item.image format-webp loading="lazy" fill-{200x300,400x600,600x900} sizes="(max-width: 598px) 150px, (max-width: 799px) 300px, 700px" class="intro-with-images__image" alt=item.image_alt_text %}
        {% endfor %}
    </div>
    <div class="intro-with-images__text rich-text">
        <div class="intro-with-images__title heading heading--three heading--light">{{ value.introduction|richtext }}</div>
        {% if value.description %}<div class="text text--six">{{ value.description|richtext }}</div>{% endif %}
    </div>
</div>
