{% load wagtailcore_tags wagtailimages_tags %}
<div class="grid__stats-group stats-group">
    {% if value.title %}
        <h2 class="motif-heading stats-group__heading">{{ value.title }}</h2>
    {% endif %}
    {% if value.intro %}
        <div class="text text--five stats-group__intro">{{ value.intro|richtext }}</div>
    {% endif %}
    {# Stats #}
    {# Not sure if the impact report page (which uses stats_numeric.html) should be affected. #}
    {% include "patterns/molecules/streamfield/blocks/stats_numeric.html" with value=value.statistics %}
</div>
