{% load wagtailimages_tags %}

<div class="partners streamfield__partners">
    {% if value.title %}
        <h2 class="partners__title heading--two">{{ value.title }}</h2>
    {% endif %}


    <div class="partners__logos">
        {% for logo in value.partner_logos %}
            <div class="partners__logo-wrapper">
                {# todo: add alt text when be is updated #}
                {% image logo max-100x90 format-webp alt="" class="partners__logo" %}
            </div>
        {% endfor %}
    </div>
</div>
