{% load wagtailcore_tags wagtailimages_tags %}
<div class="photo-collage grid__photo-collage">
    {% include "patterns/atoms/motif-heading/motif-heading.html" with heading=value.title heading_level=2 classes="motif-heading--two motif-heading--static photo-collage__heading" %}
    <div class="photo-collage__intro-wrapper">
        <p class="photo-collage__intro">{{ value.intro }}</p>
        {% if value.button_link and value.button_text %}
            <div class="photo-collage__cta">
                <a class="button photo-collage__button" href="{{ value.get_button_link }}">{{ value.button_text }}</a>
            </div>
        {% endif %}
    </div>
    {# Note the tabindex is important here as it makes the div focussable, meaning that the scrollbar can be operated with the keyboard #}
    <div class="photo-collage__scroller" tabindex="0">
        <div class="photo-collage__container">
            {% for item in value.images %}
                <div class="photo-collage__image-wrapper photo-collage__image-wrapper--{{ forloop.counter }}">
                    {% if forloop.counter == 3 %}
                        {% srcset_image item.image format-webp saturation-0.6 loading="lazy" fill-{348x484,696x968} sizes="(max-width: 598px) 696px, (min-width: 599px) 348px" class="photo-collage__image" alt=item.image_alt_text %}
                    {% elif forloop.counter == 5 %}
                        {% srcset_image item.image format-webp saturation-0.6 loading="lazy" fill-{408x405,816x810} sizes="(max-width: 598px) 816px, (min-width: 599px) 408px" class="photo-collage__image" alt=item.image_alt_text %}
                    {% else %}
                        {% srcset_image item.image format-webp saturation-0.6 loading="lazy" fill-{288x288,576x576} sizes="(max-width: 598px) 576px, (min-width: 599px) 288px" class="photo-collage__image" alt=item.image_alt_text %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
