{% load wagtailimages_tags %}

<div class="grid__promo promo-block">
    <section class="promo-block__content">
        {% include "patterns/atoms/section-title/section-title.html" with title=value.title classes="promo-block__title" %}
        <p class="promo-block__description">{{ value.description }}</p>
        <a href="{{ value.get_button_link }}" class="button promo-block__button">{{ value.button_text }}</a>
        {% if value.secondary_link %}
            {% with secondary_link=value.secondary_link.0.value %}
                <a href="{{ secondary_link.url }}" class="promo-block__link">{{ secondary_link.text }}</a>
            {% endwith %}
        {% endif %}
    </section>
    {% image value.image fill-430x320 as mobile_image %}
    {% image value.image fill-520x630 as desktop_image %}
    <div class="promo-block__image promo-block__image--mobile" style="background-image: url('{{ mobile_image.url }}')"></div>
    <div class="promo-block__image promo-block__image--desktop" style="background-image: url('{{ desktop_image.url }}')"></div>
</div>
