{% load wagtailcore_tags wagtailimages_tags %}
<blockquote class="pullquote streamfield__quote">

    {# This needs to be inline as masks or clipPaths are not supported in <use> elements #}
    {% include "patterns/atoms/icons/quote-icon.html" with classes="pullquote__icon" unique_id=unique_id %}

    <p class="pullquote__text heading heading--four">{{ value.quote }}</p>

    <div class="pullquote__reference">
        <div class="pullquote__meta">
            {% if value.author_image %}
                {% include "patterns/atoms/avatar/avatar.html" with avatar=value.author_image classes="avatar--small" lazy_load=True %}
            {% elif value.company_logo %}
                {% image value.company_logo fill-110x70 format-webp class="pullquote__company-logo" %}
            {% endif %}

            <cite class="pullquote__cite">
                {% if value.name %}
                    <span class="pullquote__name">{{ value.name }}</span>
                {% endif %}

                {% if value.role %}
                    <span class="pullquote__role">{{ value.role }}</span>
                {% endif %}
            </cite>
        </div>

        {% with call_to_action=value.call_to_action.0.value %}
            {% if call_to_action %}
                <a class="pullquote__cta button" href="{{ call_to_action.url }}">{{ call_to_action.text }}</a>
            {% endif %}
        {% endwith %}
    </div>
</blockquote>
