{% load wagtailcore_tags %}

<div class="showcase__block">
    <h1 class="heading heading--two streamfield__heading">{{value.title}}</h1>
    <div class="showcase__paragraph">
        {% for item in value.showcase_paragraphs %}
            <ul class="showcase">
                <li class="showcase__item">
                    {% if item.page.url %}
                        <a href="{{ item.page.url }}" class="showcase__link heading--three">{{ item.heading }}{% include "patterns/atoms/icons/icon.html" with name="arrow" classname="link__icon" %}</a>
                    {% else %}
                        <h3 class="heading--three">{{ item.heading }}</h3>
                    {% endif %}
                    <p>{{ item.summary }}</p>
                </li>
            </ul>
        {% endfor %}
    </div>
</div>
