{% load wagtailcore_tags %}

<div class="tabbed-paragraph grid__tabbed-paragraph">

    {% if value.title and not value.intro %}
        {% include "patterns/atoms/motif-heading/motif-heading.html" with heading_level=2 heading=value.title classes="motif-heading--two motif-heading--static tabbed-paragraph__heading tabbed-paragraph__heading--no-intro" %}
    {% elif value.title %}
        {% include "patterns/atoms/motif-heading/motif-heading.html" with heading_level=2 heading=value.title classes="motif-heading--two motif-heading--static tabbed-paragraph__heading" %}
    {% endif %}

    {% if value.intro %}
        <div class="tabbed-paragraph__intro rich-text">{{ value.intro }}</div>
    {% endif %}

    {# desktop - tabs #}
    <div class="tabs tabbed-paragraph__tab-set" data-tab-set>
        <div class="tabs__nav-container" role="tablist" aria-label="Tabs">
            {% for tab in value.tabbed_paragraph_sections %}
                <a
                    id="{{ tab.name|slugify }}"
                    class="tabs__nav-item {% if forloop.counter == 1 %}tabs__nav-item--active{% endif %}"
                    href="#tab-{{ tab.name|slugify }}"
                    role="tab"
                    aria-controls="{{ tab.name|slugify }}"
                    data-tab="tab-{{ tab.name|slugify }}"
                    aria-selected="{% if forloop.counter == 1 %}true{% else %}false{% endif %}"
                >
                    <div class="tabs__rings">
                        {% include "patterns/atoms/icons/icon.html" with name="ring-one" classname="icon--stroke tabs__ring tabs__ring--one" %}
                        {% include "patterns/atoms/icons/icon.html" with name="ring-two" classname="icon--stroke tabs__ring tabs__ring--two" %}
                    </div>
                    <p class="tabs__nav-text">{{ tab.name }}</p>
                    {% include "patterns/atoms/icons/icon.html" with name="chevron" classname="tabs__nav-arrow" %}
                </a>
            {% endfor %}
        </div>

        {% for item in value.tabbed_paragraph_sections %}
            <div class="tabs__panel {% if not forloop.counter == 1 %}tabs__panel--hidden{% endif %}" id="tab-{{ item.name|slugify }}" role="tabpanel" aria-labelledby="{{ item.name|slugify }}" data-tab-panel>
                <div class="tabs__panel-headline heading heading--mega">
                    {{ item.headline }}
                </div>
                <div class="tabs__panel-summary">
                    {{ item.summary }}
                </div>
                <div class="tabs__panel-text rich-text">
                    {{ item.text|richtext }}
                </div>
                {% if item.button_text%}
                    {% if item.button_link or item.button_url %}
                        {% if item.button_link %}
                            <a href="{% pageurl item.button_link %}" class="button tabs__panel-button">
                        {% else %}
                            <a href="{{ item.button_url }}" class="button tabs__panel-button">
                        {% endif %}
                        {{ item.button_text }}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>

    {# mobile - uses details and summary to create an accordion #}
    {% for tab in value.tabbed_paragraph_sections %}
        <details class="tabs-mobile">
            <summary class="tabs-mobile__summary">
                <span class="tabs-mobile__header">
                    <span class="tabs-mobile__rings">
                        {% include "patterns/atoms/icons/icon.html" with name="ring-one" classname="icon--stroke tabs-mobile__ring tabs-mobile__ring--one" %}
                        {% include "patterns/atoms/icons/icon.html" with name="ring-two" classname="icon--stroke tabs-mobile__ring tabs-mobile__ring--two" %}
                    </span>
                    <span class="tabs-mobile__header-text">{{ tab.name }}</span>
                    {% include "patterns/atoms/icons/icon.html" with name="chevron" classname="tabs-mobile__chevron" %}
                </span>
            </summary>
            <div class="tabs-mobile__info">
                <div class="tabs-mobile__headline heading heading--mega">
                    {{ tab.headline }}
                </div>
                <div class="tabs-mobile__summary-text">
                    {{ tab.summary }}
                </div>
                <div class="tabs-mobile__text rich-text">
                    {{ tab.text|richtext }}
                </div>
                {% if tab.button_text %}
                    {% if tab.button_link or tab.button_url %}
                        {% if tab.button_link %}
                            <a href="{% pageurl tab.button_link %}" class="button tabs-mobile__button">
                        {% else %}
                            <a href="{{ tab.button_url }}" class="button tabs-mobile__button">
                        {% endif %}
                        {{ tab.button_text }}
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </details>
    {% endfor %}

</div>
