{% load wagtailcore_tags %}

<div class="tabbed-paragraph grid__tabbed-paragraph">
    {% include "patterns/atoms/motif-heading/motif-heading.html" with heading=value.title heading_level=2 classes="tabbed-paragraph__title motif-heading--two motif-heading--static" %}
    <ul class="tabbed-paragraph__list">
        {% for item in value.tabbed_paragraph_sections %}
            <li>

                {% if item.button_link %}
                    <a href="{% pageurl item.button_link %}" class="tabbed-paragraph__item tabbed-paragraph__item--link" aria-label="{{ item.heading }}">
                {% endif %}

                <div>
                    <h3>
                        {{ item.button_text }}
                        {% if item.button_link %}
                            {% include "patterns/atoms/icons/icon.html" with name="arrow-wide" classname="tabbed-paragraph__icon" %}
                        {% endif %}
                    </h3>

                    <p>{{ item.summary }}</p>
                    <p>{{ item.text }}</p>
                </div>

                {% if item.button_link %}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
