{% load wagtailcore_tags wagtailimages_tags %}
<div class="wide-image grid__wide-image">
    {% with wide_image=value.image %}
        {% if value.image_is_decorative %}
            {% srcset_image wide_image format-webp width-{400,800,1600,1280} sizes="(max-width: 1022px) 90vw, (max-width: 1879px) 70vw, (min-width: 1880px) 1170px" loading="lazy" alt="" %}
        {% elif value.alt_text %}
            {% srcset_image wide_image format-webp width-{400,800,1600,1280} sizes="(max-width: 1022px) 90vw, (max-width: 1879px) 70vw, (min-width: 1880px) 1170px" loading="lazy" alt=value.alt_text %}
        {% else %}
            {% srcset_image wide_image format-webp width-{400,800,1600,1280} sizes="(max-width: 1022px) 90vw, (max-width: 1879px) 70vw, (min-width: 1880px) 1170px" loading="lazy" %}
        {% endif %}

        {% if value.caption %}
            <p class="wide-image__caption supporting">{{ value.caption }}</p>
        {% endif %}

        {% if value.attribution %}
            <p class="wide-image__attribution supporting">{{ value.attribution }}</p>
        {% endif %}
    {% endwith %}
</div>
