{% load wagtailcore_tags wagtailimages_tags wagtail_cache navigation_tags %}

<footer class="footer">

    <div class="grid footer__top ">
        <span class="grid__footer-line footer__line"></span>
        {% with contact=page.footer_contact %}
            {% if contact %}
                {% include "patterns/molecules/footer-cta/footer-cta.html" with contact_heading=contact.title contact_text=contact.text contact_link=contact.link contact_name=contact.name contact_role=contact.role contact_image=contact.image contact_action=contact.button_text contact_email=contact.email_text %}
            {% endif %}
        {% endwith %}

        <div class="grid__footer-links">
            {% wagtailcache 600 "footerlinks" current_site.pk is_pattern_library %}
                {% footerlinks %}
            {% endwagtailcache %}
            <p class="footer__copyright">© Torchbox {% now "Y" %}</p>

            <ul class="footer__socials">
                <li>
                    <a aria-label="Follow us on Twitter" href="https://twitter.com/torchbox" class="footer__social-link">
                        <svg width="24" height="24" aria-hidden="true" class="footer__social-icon">
                            <use xlink:href="#twitter" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a aria-label="Connect with us on LinkedIn" href="https://www.linkedin.com/company/torchbox" class="footer__social-link">
                        <svg width="24" height="24" aria-hidden="true" class="footer__social-icon">
                            <use xlink:href="#linkedin" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a aria-label="Follow us on Instagram" href="https://www.instagram.com/torchboxltd/" class="footer__social-link">
                        <svg width="24" height="24" aria-hidden="true" class="footer__social-icon">
                            <use xlink:href="#instagram" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer__bottom-container">
        <div class="grid footer__bottom">
            <div class="grid__footer-logos">
                {% with settings.navigation.NavigationSettings as global_settings %}
                    {% if global_settings.footer_logos %}
                        <ul class="footer__logos">
                            {% for item in global_settings.footer_logos %}
                                {% with item.value as logo %}
                                    <li>
                                        {% with logo.link as link %}
                                            <a class="footer__logo-link" href="{{ link.url }}">
                                                {% image logo.image max-100x100 format-webp loading="lazy" class="footer__logo" alt=logo.alt_text|default:logo.image.title %}
                                            </a>
                                        {% endwith %}
                                    </li>
                                {% endwith %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
            
        </div>
        <div class="grid">
            <div class="grid__footer-address">
                <div class="footer__address">
                <p class="footer__address-text">3rd Floor, 15 Colston St, Bristol BS1 5AP. Registered in England and Wales. Company No. 3983354. VAT No. 752981011.</p>
            </div></div>
        </div>
        {% include "patterns/molecules/carbon-impact/carbon-impact.html" %}
    </div>

    {% include "patterns/molecules/cookie-message/cookie-message.html" %}

</footer>
