{% load navigation_tags wagtailcore_tags wagtailimages_tags %}

<footer>
    {% with global_settings=settings.navigation.NavigationSettings %}
        {% if global_settings.footer_logos %}
            <ul>
                {% for item in global_settings.footer_logos %}
                    {% with logo=item.value %}
                        <li>
                            {% with link=logo.link.0.value %}
                                {% if link %}
                                    <a href="{{ link.url }}" title="{{ link.link_text }}">
                                        {% image logo.image height-90 format-webp loading="lazy" alt=link.link_text %}
                                    </a>
                                {% else %}
                                    {% image logo.image height-90 format-webp loading="lazy" %}
                                {% endif %}
                            {% endwith %}
                        </li>
                    {% endwith %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% footerlinks %}

    <ul>
        <li>
            <a aria-label="Follow us on Twitter" href="https://twitter.com/torchbox">
                <svg width="24" height="24" aria-hidden="true">
                    <use xlink:href="#twitter" />
                </svg>
            </a>
        </li>
        <li>
            <a aria-label="Connect with us on LinkedIn" href="https://www.linkedin.com/company/torchbox">
                <svg width="24" height="24" aria-hidden="true">
                    <use xlink:href="#linkedin" />
                </svg>
            </a>
        </li>
        <li>
            <a aria-label="Follow us on Instagram" href="https://www.instagram.com/torchboxltd/">
                <svg width="24" height="24" aria-hidden="true">
                    <use xlink:href="#instagram" />
                </svg>
            </a>
        </li>
    </ul>

    {% include "patterns/molecules/cookie-message/cookie-message.html" %}

</footer>
