{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags util_tags static %}

{% block meta_tags %}
    <script>
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push({
            'author-title' : '{{ page.first_author.role }}',
            'author-name' : '{{ page.first_author.name }}',
            'published' : '{{ page.date|date:"Ymd" }}',
            'tags' : [{% for tag in page.tags %}'{{tag.name}}'{% if not forloop.last %}, {% endif %}{% endfor %}],
            'read-time' : '{{ page.read_time }}',
            'id': '{{ page.id }}',
            'page-h1' : '{{ page.title }}',
            'page-title' : '{{ page.title }} | Torchbox',
            'page-path': '{{ page.slug }}',
            'event': 'page-information'
        });
    </script>
    <meta name="author" content="{{ page.first_author.name }}">
    <meta property="og:article:published_time" content="{{ page.date|date:'Y-m-d' }}" />
    {{ block.super }}
{% endblock %}

{% block extra_jsonld %}
    {% include "patterns/pages/blog/blog-posting-jsonld.html" %}
{% endblock %}

{% block content %}
    <div class="grid grid--spacer-large streamfield lg:relative">
        <div class="authors">
            {% for page_author in page.authors.all %}
                {% include "patterns/molecules/author/author.html" with author=page_author.author avatar_size="small" %}
            {% endfor %}
        </div>

        <div class="grid__title">
            <h1 class="heading heading--one">{{ page.title }}</h1>

            {% pageurl page.blog_index as blog_index_url %}

            <div class="tags tags--with-title">
                <span class="sr-only">Related post categories</span>
                {% for tag in page.tags %}
                    {% include "patterns/atoms/tag/tag.html" with tag_slug=tag.slug tag_name=tag.name tag_link_base=blog_index_url %}
                {% endfor %}
            </div>
        </div>

        <div class="blog-meta">
            {% include "patterns/atoms/date_and_reading_time/date_and_reading_time.html" with date=page.date reading_time=page.read_time %}
        </div>

        {% include_block page.body %}

        {% if page.related_blog_posts %}
            <h2 class="motif-heading section-title--related-posts section-title--large-gap" aria-label="Related blog posts">More</h2>

            <ul class="grid__related-posts streamfield__related-posts">
                {% for post in page.related_blog_posts %}
                    {% pageurl post as post_url %}
                    {% include "patterns/molecules/listing/listing--avatar.html" with title=post.title name=post.first_author.name job_title=post.first_author.role link=post_url date=post.date reading_time=post.read_time tags=post.tags hide_tags=True avatar=post.first_author.image tag_link_base=blog_index_url %}
                {% endfor %}

                <li class="mx-auto lg:mx-0 mt-spacerSmall">
                    {% include "patterns/atoms/see-more/see-more.html" with link=blog_index_url text="See more posts" %}
                </li>
            </ul>
        {% endif %}
    </div>
{% endblock %}
