{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="grid">
        {% include "patterns/molecules/title-filters/title-filters.html" with item=page tags=related_services %}

        <ul class="blog-listing">
            {% for post in blog_posts %}
                {% include "patterns/molecules/blog-item/blog-item.html" with item=post %}
            {% endfor %}
        </ul>

        <div class="blog-listing__pagination">
            {% include "patterns/molecules/pagination/pagination.html" with pages=blog_posts %}
        </div>
    </div>
{% endblock %}
