{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    {% include "patterns/molecules/title-block/title-block.html" with item=page tags=related_services %}

    {% for post in blog_posts %}
        {% include "patterns/molecules/blog-item/blog-item.html" with item=post %}
    {% endfor %}

    {% if blog_posts.has_next %}
        {% include "patterns/atoms/see-more/see-more.html" with text="See more posts" fetch_data="blog-pages" %}
    {% endif %}

    {% include_block page.call_to_action %}

{% endblock %}
