<button class="icon-button{% if modifier %} icon-button--{{ modifier }}{% endif %}{% if inverse %} icon-button--inverse{% endif %}{% if hidden %} hidden{% endif %}" {% if modifier and name %}data-{{ name }}-{{ modifier }}{% endif %}{% if data %} {{ data }}{% endif %}{% if aria %} {{ aria }}{% endif %}>
    <span class="u-sr-only">
        {% if modifier %}{{ modifier }}{% endif %}
    </span>
    {% if modifier == 'next' %}
        <span class="rotate">{% include "patterns/atoms/icons/icon.html" with name="chevron" %}</span>
    {% elif modifier == 'previous' %}
        <span class="rotate rotate--left">{% include "patterns/atoms/icons/icon.html" with name="chevron" %}</span>
    {% elif modifier == 'down' %}
        <span>{% include "patterns/atoms/icons/icon.html" with name="chevron" %}</span>
    {% elif modifier %}
        <span>{% include "patterns/atoms/icons/icon.html" with name=modifier %}</span>
    {% endif %}
</button>