{% load wagtailcore_tags %}
<div
    {% if page.blogs_section_title %}id="{{ page.blogs_section_title|slugify }}"
    {% elif blogs_section_title %}id="{{ blogs_section_title|slugify }}"{% endif %}
>
    <div>
        {% if page.blogs_section_title and not hide_title %}
            {% include "patterns/atoms/section-title/section-title.html" with title=page.blogs_section_title %}
        {% elif blogs_section_title and not hide_title %}
            {% include "patterns/atoms/section-title/section-title.html" with title=blogs_section_title %}
        {% endif %}

        {% if blogs_section_heading %}
            <h2>What our team says</h2>
        {% endif %}
        {% for post in featured_blog_posts %}
            {% if feature_first and forloop.first %}
                {% include "patterns/molecules/blog-item/blog-item.html" with item=post %}
            {% else %}
                {% include "patterns/molecules/blog-item/blog-item.html" with item=post %}
            {% endif %}
        {% endfor %}
        {% pageurl blog_index_page as blog_index_url %}
        {% include "patterns/atoms/see-more/see-more.html" with text="See more posts"  link=blog_index_url filter_by=filter_by %}
    </div>
</div>
