{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags util_tags static %}

{% block extra_css %}
    {{ block.super }}
    {% if page.body|has_gist_block %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/gist.css' %}">
    {% endif %}

    {% if page.body|has_markdown_block %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/codehilite.css' %}">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="grid grid--spacer-large streamfield">
        <div class="grid__title">
            {% include "patterns/atoms/motif-heading/motif-heading.html" with heading=page.title classes="motif-heading--one" %}
        </div>

        {% include_block page.body %}
        {% include_block page.additional_content %}
    </div>
{% endblock %}
