// Base styles. Some reset rules that would usually be here are now set by Preflight (see tailwind.config.js).
@use "config" as *;
@use "sass:color";

// Prevent text size change on orientation change.
html {
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;

    @media (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }

    // Fix for Chrome which doesn't correctly scroll to form validation messages when this is set to smooth
    &.no-scroll-behaviour {
        scroll-behavior: auto;
    }
}

body {
    font-family: $font--primary;
    overflow-x: hidden;
    background-color: var(--color--background);

    &.no-scroll {
        overflow-y: hidden;
    }
}

// Prevent empty space below images appearing
img,
svg {
    vertical-align: top;
}

form {
    // Basic :focus styles
    button:focus,
    input:focus,
    select:focus,
    textarea:focus {
        outline: $focus-width solid var(--color--focus-ring);
        outline-offset: 0;
    }
}
