@use "config" as *;

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300 600;
    font-display: swap;
    src: url(../fonts/outfit-variable-font.woff2) format('woff2-variations');
}
