@use 'config' as *;

@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 200 600; // Define the range of font weights to be used
    font-display: swap;
    src: url(../fonts/outfit-variable-font.woff2) format('woff2-variations');
}
