@use 'config' as *;
@use 'sass:math';

/* ============================================
    Base font
*/
html {
    font-size: (math.div($base-font-size, 16px)) * 100%;
    line-height: 1.4;
    color: var(--color--text);
}

/* ============================================
    Families – one mixin per typeface
    :: For each font mixin defined here, make sure each property is negated (set
    :: to its default value, usually `inherit`) in all other font mixins.
*/
@mixin heading-text() {
    font-family: $font--primary;
    color: var(--color--heading);
    font-style: inherit;
    font-weight: inherit;
    letter-spacing: -0.5px;
}

@mixin quote-text() {
    font-family: $font--primary;
    font-style: italic;
    font-weight: inherit;
    text-transform: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-text();
}

// ------------------------------- Heading ----------------------------------
.heading {
    @include heading-text();
    font-weight: $weight--semibold;

    // Legacy CMS used italics in headings so reset that here
    i {
        font-style: normal;
    }

    b {
        // <b> tags were used in the legacy CMS within headings
        // so we're resetting the font-style here
        font-weight: inherit;
    }

    &--regular {
        font-weight: $weight--regular;
    }

    &--light {
        font-weight: $weight--light;
    }

    &--extralight {
        font-weight: $weight--extralight;
    }

    &--mega {
        @include font-size(size-zero);
        letter-spacing: -1px;
    }

    &--one {
        @include font-size(size-one);
    }

    &--one-b {
        @include font-size(size-one-b);
    }

    &--two {
        @include font-size(size-two);
    }

    &--two-b {
        @include font-size(size-two-b);
    }

    &--three {
        @include font-size(size-three);
    }

    &--three-b {
        @include font-size(size-three);
    }

    &--four {
        @include font-size(size-four);
    }

    &--four-b {
        @include font-size(size-four-b);
    }

    &--five {
        @include font-size(size-five);
    }

    &--five-b {
        @include font-size(size-five-b);
    }

    &--six {
        @include font-size(size-six);
    }
}

// ------------------------------- Body text ----------------------------------
.text {
    font-weight: $weight--regular;

    &--semibold {
        font-weight: $weight--semibold;
    }

    &--five {
        @include font-size(size-five);
    }

    &--five-b {
        @include font-size(size-five-b);
    }

    &--six {
        @include font-size(size-six);
    }

    &--seven {
        @include font-size(size-seven);
    }

    &--eight {
        @include font-size(size-eight);
    }
}

blockquote {
    @include quote-text();
}
