@use "config" as *;

/* ============================================
    Base font
*/
html {
    font-size: ($base-font-size / 16px) * 100%;
    line-height: 1.4;
    color: var(--color--text);
}

/* ============================================
    Families – one mixin per typeface
    :: For each font mixin defined here, make sure each property is negated (set
    :: to its default value, usually `inherit`) in all other font mixins.
*/
@mixin heading-text() {
    font-family: $font--primary;
    color: var(--color--heading);
    font-style: inherit;
    font-weight: inherit;
}

@mixin quote-text() {
    font-family: $font--primary;
    font-style: italic;
    font-weight: inherit;
    text-transform: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-text();
}

// ------------------------------- Heading ----------------------------------
.heading {
    @include heading-text();

    &--one {
        @include font-size(heading-one);
        @include drop-cap(100px, 160px);
        font-weight: $weight--light;
    }

    &--one-b {
        @include font-size(heading-one-b);
        @include drop-cap(80px, 150px);
        font-weight: $weight--light;
    }

    &--two {
        @include font-size(heading-two);
        @include drop-cap(72px, 90px);
        font-weight: $weight--light;
    }

    &--three {
        @include font-size(heading-three);
        font-weight: $weight--light;
    }

    &--four {
        @include font-size(heading-four);
        font-weight: $weight--light;
    }

    &--five {
        @include font-size(heading-five);
        font-weight: $weight--light;
    }

    &--six {
        @include font-size(heading-six);
    }
}

// ------------------------------- Body ----------------------------------
.body {
    @include font-size(body);
    font-weight: $weight--normal;
    line-height: 1.4;
}

// ------------------------------- Supporting ----------------------------------
.supporting {
    @include font-size(supporting);
}

blockquote {
    @include quote-text();
}
