{# Designed to be included from another template and values passed in #}
{% load wagtailimages_tags %}

<li class="listing-image listing">

    <div class="listing-image__image">
        {% image listing_image fill-370x370 format-webp loading="lazy" class="listing-image__image" %}
    </div>

    <div>
        <a class="listing-image__link listing__link" href="{{ link }}">
            <h2 class="listing-image__title listing__title">{{ title }}</h2>
            <div class="listing-image__details listing__details">
                <div>
                    <p class="listing__details-group">
                        <span class="listing__name mr-1.5">{{ name }}</span>
                        <span class="listing__job-title">{{ job_title }}</span>
                    </p>
                    <p class="listing__meta">
                        <span class="mr-1.5">{{ page_type }},</span> {{ reading_time }}
                    </p>
                </div>
                {% include "patterns/atoms/icons/icon.html" with name="arrow-wide" classname="listing-image__arrow listing__arrow" %}
            </div>
        </a>
        <div class="listing-image__tags listing__tags tags">
            {% for tag in tags %}
                {% include "patterns/atoms/tag/tag.html" with tag_name=tag.name tag_slug=tag.slug %}
            {% endfor %}
        </div>
    </div>
</li>
