{# Designed to be included from another template and values passed in #}
{% load wagtailimages_tags %}

{% image listing_image fill-370x370 format-webp as listing_desktop_image %}
{% image listing_image fill-740x740 format-webp as listing_desktop_image_retina %}
{% image listing_image fill-370x335 format-webp as listing_mobile_image %}
{% image listing_image fill-740x670 format-webp as listing_mobile_image_retina %}

<li class="listing-image listing {{ base_class }}">
    {# alt text is empty for consistency with listing--avatar.html that includes avatar.html which has empty alt text #}
    <picture class="listing-image__picture">
        <source media="(max-width: 598px)" srcset="{{  listing_mobile_image.url }} 1x, {{ listing_mobile_image_retina.url }} 2x" />
        <source media="(min-width: 599px)" srcset="{{ listing_desktop_image.url }} 1x, {{ listing_desktop_image_retina.url }} 2x" />
        <img src="{{ listing_desktop_image.url }}" alt="" loading="lazy" class="listing-image__image" />
    </picture>

    <div>
        <a class="listing-image__link listing__link" href="{{ link }}">
            <h2 class="listing-image__title listing__title">
                {# The title and icon need to be on the same line with no whitespace to prevent the arrow being orphaned on a new line #}
                <span class="listing__title-text">{{ title }}</span><span class="listing__tail">&nbsp;{% include "patterns/atoms/icons/icon.html" with name="arrow-wide" classname="listing-image__arrow listing__arrow" %}</span>
            </h2>
        </a>
        <div class="listing-image__details listing__details">
            <div>
                <p class="listing__details-group">
                    <span class="listing__name mr-1.5">{{ name }}</span>
                </p>
                <p class="listing__meta">
                    {% include "patterns/atoms/date_and_reading_time/date_and_reading_time.html" %}
                </p>
            </div>
        </div>
        <div class="listing-image__tags listing__tags tags">
            <span class="sr-only">{{ tags_screenreader_text|default:"Filter posts by category" }}</span>
            {% for tag in tags %}
                {% include "patterns/atoms/tag/tag.html" with tag_name=tag.name tag_slug=tag.slug %}
            {% endfor %}
        </div>
    </div>
</li>
