{% load wagtailcore_tags wagtailimages_tags %}

<a href="{% firstof item.url item.link_external %}">
    <h2>{{ item.title }}</h2>

    {% if item.intro %}
        <p>{{ item.intro }}</p>
    {% endif %}

    {% if item.description %}
        <div>{{ item.description|richtext }}</div>
    {% endif %}

    {% if item.author %}
        {% image item.author.image fill-100x100 format-webp alt="" %}
        {{ item.author.name }}
        {{ item.author.role }}
        {% if item.event_type %}
            {{ item.event_type }}
        {% endif %}
        {% if item.date %}
            {{ item.date }}
        {% endif %}
    {% endif %}
</a>
