{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags static %}

{% block title %}{{ listing_document_title|default:page.title }}{% endblock %}

{% block meta_tags %}
    {{ block.super }}
    {% include "patterns/pages/listing/includes/listing_meta.html" %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/listing.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="grid grid--spacer-large">
        {% include "patterns/molecules/listing-filters/listing-header.html" with item=page %}

        <div class="listing-panel grid__listing-panel" id="listing-panel">
            {% include "patterns/pages/listing/listing_panel_inner.html" %}
        </div>

        {% include_block page.call_to_action %}
    </div>
{% endblock %}
