<ul
    id="listing-filter-sector-options"
    class="listing-filters__options"
    hx-swap-oob="innerHTML"
>
    {% include "patterns/molecules/listing-filters/includes/filter-sector-options.html" %}
</ul>
<ul
    id="listing-filter-service-options"
    class="listing-filters__options"
    hx-swap-oob="innerHTML"
>
    {% include "patterns/molecules/listing-filters/includes/filter-service-options.html" %}
</ul>
<ul
    id="listing-filter-culture-options"
    class="listing-filters__options"
    hx-swap-oob="innerHTML"
>
    {% include "patterns/molecules/listing-filters/includes/filter-culture-options.html" %}
</ul>
