{% extends "patterns/base_page.html" %}

{% block title %}Page not found{% endblock %}

{% block html_class %}template-404-page{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div class="grid mb-spacerLarge mt-spacerSmall streamfield text-center md:mt-spacerMedium xlg:mt-spacerHalf xxlg:mb-spacer lg:relative">
        <div class="grid__wide-image">
            {% include "patterns/atoms/icons/broken-matchstick-icon.html" %}
        </div>
        <div class="grid__title">
            <h1 class="heading heading--one">Oops...</h1>
        </div>
        <div class="grid__paragraph">
            <p>It looks like this page doesn't exist.</p>
        </div>
        <div class="grid__button">
            <a class="button" href="/">Go to homepage</a>
        </div>
    </div>
{% endblock %}
