{% load wagtailcore_tags %}

<div class="title-filters {% if hide_tags %}title-filters--no-tags{% endif %}">
    <div class="title-filters__title">
        <h1 class="heading heading--mega">{{ item.title }}</h1>
    </div>

    {% if tags and not hide_tags %}
        <div class="title-filters__tags">
            <div class="tags">
                <p class="sr-only">Filter by category</p>
                {% pageurl item as index %}
                {% if request.GET.filter == '' or not request.GET.filter %}
                    {% include "patterns/atoms/tag/tag.html" with tag_link_base=index has_all_filter=True item=None is_active=True %}
                {% else %}
                    {% include "patterns/atoms/tag/tag.html" with tag_link_base=index has_all_filter=True item=None %}
                {% endif %}

                {% for tag in tags %}
                    {% if request.GET.filter == tag.slug %}
                        {% include "patterns/atoms/tag/tag.html" with tag_slug=tag.slug tag_name=tag.name is_active=True %}
                    {% else %}
                        {% include "patterns/atoms/tag/tag.html" with tag_slug=tag.slug tag_name=tag.name %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
