<div class="grid__title home-page-hero">
    {% include "patterns/atoms/motif-heading/motif-heading.html" with heading=page.title classes="motif-heading--two home-page-hero__title" %}

    <div class="employee-owned-icon home-page-hero__icon">
        {% include "patterns/atoms/icons/icon.html" with name="employee-owned-text" classname="employee-owned-icon__text-icon" %}
        {% include "patterns/atoms/icons/icon.html" with name="heart-outline" classname="employee-owned-icon__heart-outline-icon" %}
        {% include "patterns/atoms/icons/icon.html" with name="heart-fill" classname="employee-owned-icon__heart-fill-icon" %}
        <span class="sr-only">100% employee owned</span>
    </div>
</div>
