@use 'config' as *;

.animated-icon {
    $root: &;

    &--megaphone {
        transform: rotate(0);
        display: inline-flex;
        align-items: center;
        gap: 3px;
        transition: transform $transition;

        @include reduced-motion() {
            transition: none;
        }

        #{$root}__megaphone {
            width: 55px;
            height: 50px;
        }

        #{$root}__noise {
            width: 20px;
            height: 45px;
            transition: transform $transition;
            transform: translate3d(0, 0, 0);

            @include reduced-motion() {
                transition: none;
            }
        }

        a:focus &,
        a:hover & {
            transform: rotate(15deg);

            #{$root}__noise {
                transform: translate3d(-3px, 0, 0);
            }
        }
    }

    &--wagtail-head {
        position: relative;
        display: inline-block;
        width: 65px;
        height: 65px;

        #{$root}__head {
            position: absolute;
            width: 70px;
            height: 85px;
            transform: rotate(0);
            transition: transform $transition;

            @include reduced-motion() {
                transition: none;
            }
        }

        #{$root}__circle {
            position: absolute;
            width: 44px;
            height: 44px;
            mix-blend-mode: screen;
            left: 18px;
            top: 15px;
            transition: height $transition;

            @include reduced-motion() {
                transition: none;
            }
        }

        #{$root}__top-beak {
            position: absolute;
            width: 15px;
            height: 9px;
            right: 0;
            top: 29px;
            transform: rotate(0);
            transition: transform $transition;
            transform-origin: left;
            z-index: -1;

            @include reduced-motion() {
                transition: none;
            }
        }

        #{$root}__bottom-beak {
            position: absolute;
            width: 10px;
            height: 7px;
            right: 3px;
            top: 31px;
            transform: rotate(0);
            transition: transform $transition;
            transform-origin: 10px 0;
            z-index: -1;

            @include reduced-motion() {
                transition: none;
            }
        }

        a:focus &,
        a:hover & {
            #{$root}__head {
                transform: rotate(-10deg);
            }

            #{$root}__circle {
                height: 34px;
            }

            #{$root}__top-beak {
                transform: rotate(-30deg);
            }

            #{$root}__bottom-beak {
                transform: rotate(4deg);
            }
        }
    }

    &--target {
        width: 65px;
        height: 65px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        #{$root}__center {
            position: absolute;
            width: 10px;
            height: 10px;
            transform: scale(1);
            transition: transform $transition;

            @include reduced-motion() {
                transition: none;
            }
        }

        #{$root}__inner {
            position: absolute;
            width: 38px;
            height: 38px;
            transform: scale(1);
            transition: transform $transition;

            @include reduced-motion() {
                transition: none;
            }
        }

        #{$root}__outer {
            position: absolute;
            width: 62px;
            height: 62px;
            transform: scale(1);
            transition: transform $transition;

            @include reduced-motion() {
                transition: none;
            }
        }

        a:focus &,
        a:hover & {
            #{$root}__center {
                transform: scale(2.6);
            }

            #{$root}__inner {
                transform: scale(1.3);
            }

            #{$root}__outer {
                transform: scale(1.1);
            }
        }
    }

    &--lightbulb {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 90px;

        #{$root}__lightbulb-inner {
            position: absolute;
            width: 19px;
            height: 19px;
            transform: scale(1);
            transition: transform $transition;
            transform-origin: 5px 20px;
            z-index: -1;

            @include reduced-motion() {
                transition: none;
            }
        }

        #{$root}__lightbulb-outer {
            position: absolute;
            width: 50px;
            height: 65px;
            transform: rotate(0);
            transition: transform $transition;
            transform-origin: 30px 60px;
            mix-blend-mode: screen;

            @include reduced-motion() {
                transition: none;
            }
        }

        a:focus &,
        a:hover & {
            #{$root}__lightbulb-outer {
                transform: rotate(-7deg);
            }

            #{$root}__lightbulb-inner {
                transform: scale(2.4);
            }
        }
    }

    // Make sure they don't get squashed when used in the showcase sf
    .showcase & {
        flex-shrink: 0;
    }
}
