@use 'config' as *;

.authors {
    grid-column: 2 / span 4;
    grid-row: 2;

    @include media-query(large) {
        grid-column: 2 / span 2;
        grid-row: 1;
    }

    .template-blog-page & {
        @include media-query(large) {
            position: absolute;
            margin-top: $spacer-small;
        }
    }
}

.author {
    display: flex;
    align-items: center;
    gap: $spacer-small;

    @include media-query(large) {
        display: block;
    }

    .authors-wide & {
        @include media-query(large) {
            display: flex;
            margin-bottom: $spacer-small;
        }
    }

    & + & {
        margin-top: $spacer-small;

        @include media-query(large) {
            margin-top: $spacer-medium;
        }

        .authors-wide & {
            @include media-query(large) {
                margin-top: 0;
            }
        }
    }

    &__avatar {
        @include media-query(large) {
            margin-bottom: $spacer-small;
        }
        .authors-wide & {
            @include media-query(large) {
                margin-bottom: 0;
            }
        }
    }

    &__attribution {
        .authors-wide & {
            @include media-query(large) {
                display: inline;
            }
        }
    }

    &__name {
        @include font-size(size-six);
        font-weight: $weight--semibold;
        color: var(--color--heading);

        .authors-wide & {
            @include media-query(large) {
                display: inline;
                margin-left: 5px;
            }
        }
    }

    &__link {
        @include link-styles(var(--color--link), var(--color--link));
    }

    &__role {
        @include font-size(size-seven);
        color: var(--color--heading);

        .authors-wide & {
            color: var(--color--text);

            @include media-query(large) {
                display: inline;
                margin-left: 5px;
            }
        }
    }

    &__read-time {
        @include font-size(size-eight);
        margin-top: $spacer-mini-plus;
    }
}
