@use '../config' as *;

.avatar {
    // Component-specific theme-less accent colors
    --avatar-accent-one: #{$color--white};
    --avatar-accent-two: #{$color--white};
    // Themed accent colors
    [class*='theme-'] & {
        --avatar-accent-one: var(--color--theme-primary);
        --avatar-accent-two: var(--color--theme-secondary);
    }
    position: relative;
    width: $avatar-size-72;
    height: $avatar-size-72;
    // Make sure avatars don't get squashed on small screens
    flex-grow: 0;
    flex-shrink: 0;

    @include media-query(medium) {
        width: $avatar-size-145;
        height: $avatar-size-145;
    }

    &--cta {
        width: $avatar-size-100;
        height: $avatar-size-100;

        @include media-query(medium) {
            width: $avatar-size-130;
            height: $avatar-size-130;
        }
    }

    &--small {
        @include media-query(medium) {
            width: $avatar-size-120;
            height: $avatar-size-120;
        }
    }

    &--tiny {
        @include media-query(medium) {
            width: $avatar-size-80;
            height: $avatar-size-80;
        }
    }

    &::after,
    &::before {
        content: '';
        display: block;
        border-radius: 50%;
        position: absolute;
    }

    &::before {
        border: 1px solid var(--avatar-accent-two);
        width: 102%;
        height: 103%;
        inset: -3px 2px;

        @include media-query(medium) {
            width: 95%;
            height: 95%;
            border-width: 2px;
            inset: 2px -3px;
        }
    }

    &::after {
        border: 2px solid var(--avatar-accent-one);
        height: 95%;
        width: 95%;
        inset: 2px 3px;

        @include media-query(medium) {
            width: 102%;
            height: 103%;
            border-width: 3px;
            inset: -5px -4px;
        }
    }

    &__image {
        border-radius: 50%;
        width: 100%;
    }
}
