@use '../config' as *;

.button {
    @include button-styles();
}

.button-menu-toggle {
    @include z-index(header);
    position: relative;
    display: block;
    width: 32px;
    height: 24px;
    background: transparent;
    border: 0;
    transform: rotate(0deg);
    transition: $transition;

    &:focus {
        @include focus-style();
    }

    &__line {
        position: absolute;
        left: 4px;
        display: block;
        width: 24px;
        height: 2.5px;
        background-color: var(--color--heading);
        transform: rotate(0deg);
        transition: top, width, transform, left, $transition;
        border-radius: 2px;

        @include high-contrast-mode() {
            border: 1px solid var(--color--heading);
        }

        @include reduced-motion() {
            transition: none;
        }

        &:nth-child(1) {
            top: 50%;
            transform: translateY(-10px);

            .is-open & {
                top: 50%;
                left: 50%;
                width: 0%;
                transform: translate(-50%, -50%);
            }
        }

        &:nth-child(2) {
            top: 50%;
            transform: translateY(-2px);

            .is-open & {
                transform: translateY(-2px) rotate(45deg);
            }
        }

        &:nth-child(3) {
            top: 50%;
            transform: translateY(-2px);

            .is-open & {
                transform: translateY(-2px) rotate(-45deg);
            }
        }

        &:nth-child(4) {
            top: 50%;
            transform: translateY(6px);

            .is-open & {
                top: 50%;
                left: 50%;
                width: 0%;
                transform: translate(-50%, -50%);
            }
        }
    }
}
