@use 'config' as *;

.button-link {
    @include font-size('size-six');
    @include high-contrast-text-decoration();
    font-weight: $weight--semibold;
    display: inline-block;
    padding: $spacer-mini-plus $spacer-small;
    text-align: center;
    width: 100%;
    color: var(--color--white);
    transition: background-color $transition-quick;
    // TODO: add default bg color for themed pages var(--color--accent) once color themes BE is ready

    @include reduced-motion() {
        transition: none;
    }

    &:hover {
        color: var(--color--button-link-interaction);
        background-color: var(--color--link-interaction);
    }

    &:focus {
        @include focus-style();
    }

    &--theme-coral {
        background-color: $color--coral-charity;
    }

    &--theme-nebuline {
        background-color: $color--nebuline-public;
    }

    &--theme-lagoon {
        background-color: $color--lagoon-wagtail;
    }

    &__arrow {
        @include arrow-link-icon-styles(
            $interaction-color: var(--color--button-link-interaction)
        );
        color: inherit;
        margin-left: $spacer-mini-plus;
    }
}
