@use "config" as *;

.button {
    display: inline-block;
    text-align: center;
    border: 1px solid var(--color--link);
    color: var(--color--link);
    background-color: var(--color--background);
    padding: 12px $spacer-mini-plus;
    transition: color $transition-quick, background-color $transition-quick;
    font-weight: $weight--semibold;

    &:focus,
    &:hover {
        color: var(--color--background);
        background-color: var(--color--link);
    }

    &:focus {
        @include focus-style();
    }

    @include high-contrast-mode() {
        text-decoration: underline;
        text-decoration-thickness: $link-underline-thickness;

        &:focus,
        &:hover {
            text-decoration-thickness: $link-underline-thickness-interaction;
        }
    }
}

.button-menu-toggle {
    @include z-index(header);
    position: relative;
    display: block;
    width: 36px;
    height: 24px;
    background: transparent;
    border: 0;
    transform: rotate(0deg);
    transition: $transition;

    &:focus {
        @include focus-style();
    }

    &__line {
        position: absolute;
        left: 4px;
        display: block;
        width: 27px;
        height: 3px;
        background-color: var(--color--heading);
        transform: rotate(0deg);
        transition: top, width, transform, left, $transition;
        border-radius: 2px;

        @include high-contrast-mode() {
            border: 1px solid var(--color--heading);
        }

        @include reduced-motion() {
            transition: none;
        }

        &:nth-child(1) {
            top: 0;

            .is-open & {
                top: 10px;
                left: 50%;
                width: 0%;
            }
        }

        &:nth-child(2) {
            top: 10px;

            .is-open & {
                transform: rotate(45deg);
            }
        }

        &:nth-child(3) {
            top: 10px;

            .is-open & {
                transform: rotate(-45deg);
            }
        }

        &:nth-child(4) {
            top: 20px;

            .is-open & {
                top: 10px;
                left: 50%;
                width: 0%;
            }
        }
    }
}
