@use 'config' as *;

.call-to-action {
    background-color: var(--color--theme-primary);
    padding: $spacer-small;

    @include media-query(large) {
        padding: $spacer-medium;
    }

    &__inner {
        @include media-query(large) {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 40px;
        }
    }

    &__text {
        color: var(--color--white);
        margin-bottom: $spacer-small;
        max-width: $streamfield-content-width;
    }

    &__heading {
        color: var(--color--white);
    }

    &__description {
        @include font-size(size-four);
    }

    &__button {
        @include font-size('size-five');
        color: var(--color--white);
        border: 1px solid var(--color--white);
        margin-top: $spacer-small;

        @include media-query(large) {
            margin-top: 0;
        }

        &:focus {
            @include focus-style($outline-color: var(--color--background));
        }
    }

    &__sticky {
        @include z-index(sticky);
        position: fixed;
        bottom: $spacer-medium;
        right: 0;
        background-color: var(--color--theme-primary);
        padding: $spacer-mini;
    }

    &__stickybutton {
        @include font-size('size-five');
        color: var(--color--white);
        border: 1px solid var(--color--white);
        margin-top: 0;

        &:focus {
            @include focus-style($outline-color: var(--color--background));
        }
    }

    &__stickyheading {
        font-weight: $weight--semibold;
    }
    &__stickysubtext {
        font-weight: $weight--extralight;
    }
}
