@use 'config' as *;

.call-to-action {
    background-color: var(--color--streamfield-background);
    padding: $spacer-small;

    @include media-query(large) {
        padding: $spacer-medium;
    }

    &__inner {
        @include media-query(large) {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            gap: 40px;
        }
    }

    &__text {
        @include font-size(size-three);
        color: var(--color--heading);
        max-width: $streamfield-content-width;
    }

    &__button {
        margin-top: $spacer-small;

        @include media-query(large) {
            margin-top: 0;
        }

        &:focus {
            @include focus-style($outline-color: var(--color--background));
        }
    }
}
