@use "config" as *;

.clip-letter {
    -webkit-text-fill-color: transparent;
    background: var(--letter-motif), no-repeat;
    background-size: 200% 150%;
    background-clip: text;
    animation: animatedBackground 0.75s ease-out;
    background-position: top left;

    .heading--one-simple & {
        font-size: 160px;
    }

    @keyframes animatedBackground {
        0% {
            background-position: bottom right;
        }
        100% {
            background-position: top left;
        }
    }
}
