@use 'config' as *;

.contact-cta {
    background-color: var(--color--theme-primary);
    display: grid;
    grid-template-columns: 1fr;
    padding: $spacer-small;

    @include media-query(medium) {
        grid-template-columns: auto 1fr;
        padding: 50px 70px 50px $spacer-small-plus;
    }

    &__text {
        color: var(--color--white);
        margin-bottom: $spacer-small;

        @include media-query(medium) {
            grid-column: 2 / span 10;
            grid-row: 1;
        }

        @include media-query(large) {
            grid-column: 2 / span 1;
        }
    }

    &__description {
        @include font-size(size-four);
    }

    &__avatar {
        grid-column: span 1;
        margin-bottom: $spacer-mini-plus;

        @include media-query(medium) {
            grid-row: span 2;
            margin-right: $spacer-small-plus;
            margin-bottom: 0;
        }
    }

    &__cite {
        @include font-size(size-five);
        display: flex;
        flex-direction: column;
        margin-bottom: $spacer-mini-plus;

        @include media-query(medium) {
            flex-direction: row;
            flex-wrap: wrap;
            grid-column: 2 / span 1;
            grid-row: 2;
            margin-bottom: 0;
        }
    }

    &__name {
        color: var(--color--white);
        font-weight: $weight--semibold;
    }

    &__role {
        color: var(--color--black);
    }

    &__button {
        @include font-size('size-five');
        align-self: flex-start;
        grid-column: span 1;

        @include media-query(medium) {
            margin-left: auto;
            grid-column: 9 / span 1;
            grid-row: 2;
        }
    }
}
