@use 'config' as *;

.contact-cta {
    background-color: var(--color--theme-primary);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: $spacer-medium $spacer-medium $spacer-medium $spacer-small-plus;

    &__text {
        color: var(--color--white);
        grid-column: 1 / span 11;
        margin-bottom: $spacer-small;

        @include media-query(large) {
            grid-column: 2 / span 10;
            grid-row: 1;
        }
    }

    &__avatar {
        grid-row: 2 / span 3;

        @include media-query(large) {
            margin-right: $spacer-small;
            grid-row: 1 / span 2;
            grid-column: 1 / span 1;
        }
    }

    &__cite {
        display: flex;
        flex-direction: column;
        grid-column: 3 / span 10;

        @include media-query(large) {
            flex-direction: row;
            gap: 10px;
            margin-top: 0;
            grid-column: 2 / span 7;
        }
    }

    &__name {
        color: var(--color--white);
        font-weight: $weight--semibold;
    }

    &__role {
        color: var(--color--black);
    }

    &__button {
        grid-column: 3 / span 10;
        margin-top: $spacer-small;

        @include media-query(medium) {
            grid-column: 3 / span 4;
        }

        @include media-query(large) {
            grid-column: 9 / span 4;
            margin-top: 0;
            margin-left: auto;
        }
    }
}
