@use '../config' as *;

.division-signpost {
    &__intro {
        margin-bottom: $spacer-medium;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: $spacer-mini-plus;

        @include media-query(medium) {
            flex-direction: row;
        }
    }

    &__card {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        transition: background-color $transition-quick;

        @include media-query(medium) {
            flex-basis: calc(50% - #{$spacer-mini-plus} * 0.5);
        }

        @include media-query(large) {
            flex-basis: calc(33.33% - ($spacer-mini-plus * 2 / 3));
        }

        @include high-contrast-mode() {
            border: 1px solid var(--color--text);
        }

        &--theme-coral {
            @include card-hover-style(
                var(--color--coral),
                var(--color--coral-dark)
            );
        }

        &--theme-nebuline {
            @include card-hover-style(
                var(--color--nebuline),
                var(--color--nebuline-dark)
            );
        }

        &--theme-lagoon {
            @include card-hover-style(
                var(--color--lagoon),
                var(--color--lagoon-dark)
            );
        }
    }

    &__text {
        padding: $spacer-medium $spacer-small $spacer-small;
        margin-bottom: auto;

        @include media-query(large) {
            padding-top: $spacer-medium-plus;
        }
    }

    &__heading {
        color: var(--color--white);
        margin-bottom: $spacer-mini;
    }

    &__description {
        color: var(--color--white);
    }
}
