@use 'config' as *;

.employee-owned-icon {
    $root: &;

    &__heart-outline-icon {
        width: 35px;
        height: 30px;
        position: absolute;
        top: calc(50% - 15px);
        left: calc(50% - 15px);
        color: var(--color--accent-three);
        opacity: 0.5;
        mix-blend-mode: screen;

        #{$root}:hover & {
            opacity: 1;
            color: var(--color--accent-two);
        }

        @include media-query(large) {
            width: 39px;
            height: 33px;
            top: calc(50% - 16px);
            left: calc(50% - 18px);
        }

        .mode-light & {
            mix-blend-mode: multiply;

            @include high-contrast-mode() {
                mix-blend-mode: normal;
            }
        }

        @include high-contrast-mode() {
            mix-blend-mode: normal;
        }
    }

    &__heart-fill-icon {
        width: 35px;
        height: 30px;
        position: absolute;
        top: calc(50% - 15px);
        left: calc(50% - 19px);
        color: var(--color--accent-two);
        opacity: 0.5;
        mix-blend-mode: screen;

        #{$root}:hover & {
            color: var(--color--accent-three);
            opacity: 1;
        }

        @include media-query(large) {
            width: 39px;
            height: 33px;
            top: calc(50% - 16px);
            left: calc(50% - 22px);
        }

        .mode-light & {
            mix-blend-mode: multiply;

            @include high-contrast-mode() {
                mix-blend-mode: normal;
            }
        }

        @include high-contrast-mode() {
            mix-blend-mode: normal;
        }
    }

    &__text-icon {
        width: 110px;
        height: 110px;
        position: absolute;
        top: 0;
        left: 0;
        transform: rotate(0deg);
        transition: transform 3s ease;
        color: var(--color--heading);

        #{$root}:hover & {
            transform: rotate(90deg);

            @include reduced-motion() {
                transform: rotate(0deg);
            }
        }

        @include reduced-motion() {
            transition: none;
        }

        @include high-contrast-light-mode() {
            .mode-dark & {
                color: var(--color--background);
            }
        }

        @include high-contrast-dark-mode() {
            .mode-light & {
                color: var(--color--background);
            }
        }

        @include media-query(large) {
            width: 144px;
            height: 144px;
        }
    }
}
