@use 'config' as *;

.featured-case-study {
    $root: &;

    $gradient-z-index: 1;
    position: relative;
    margin-top: $spacer-medium;

    @include media-query(large) {
        display: flex;
        gap: $spacer-half;
        margin-top: 0;
    }

    &__image-wrap {
        position: relative;
        // make sure that the gradient doesn't extend beyond the image width
        display: inline-block;
        margin-bottom: $spacer-small;
        width: 100%;
        flex-basis: 60%;

        @include media-query(large) {
            margin-bottom: 0;
            width: auto;
        }

        &--with-logo {
            &::before {
                content: '';
                position: absolute;
                inset: 0;
                top: auto;
                height: 50%;
                z-index: $gradient-z-index;
                background: linear-gradient(
                    180deg,
                    transparent 0%,
                    var(--color--overlay) 100%
                );

                @include media-query(large) {
                    top: 0;
                    background: linear-gradient(
                        0deg,
                        transparent 0%,
                        var(--color--overlay) 100%
                    );
                }
            }
        }
    }

    &__image {
        width: 100%;
    }

    &__logo {
        margin-bottom: $spacer-small;
    }

    &__content {
        max-width: 640px;
        margin: 0 $grid-gutters;

        @include media-query(large) {
            margin: 0;
            flex-basis: 40%;
        }

        @include media-query(x-large) {
            margin: auto 0 0;
            display: flex;
            flex-direction: column;
        }
    }

    &__title {
        @include font-size('heading-three');
        font-weight: $weight--light;

        @include media-query(x-large) {
            @include font-size('heading-two-b');
        }
    }

    &__text {
        margin-bottom: $spacer-small;

        @include media-query(large) {
            position: relative;
        }
    }

    &__link {
        display: block;
        margin-bottom: $spacer-small;

        &:focus {
            @include focus-style();

            #{$root}__arrow {
                @include arrow-focus-style();
            }
        }
    }

    &__link-text {
        @include link-styles(
            var(--color--heading),
            var(--color--heading),
            false,
            4px
        );
    }

    &__tail {
        // Keep the arrow attached to the last word so it's not orphaned on a new line
        white-space: nowrap;
        display: none;

        @include media-query(medium) {
            display: inline;
        }
    }

    &__client-info {
        display: flex;
        flex-direction: column;
    }

    &__client {
        color: var(--color--heading);
        font-weight: $weight--semibold;
    }

    &__meta {
        @include font-size(supporting);
        color: var(--color--text);
    }

    &__icon {
        @include arrow-link-icon-styles();
        margin-left: $spacer-mini-plus;
    }

    &__results-container {
        @include media-query(large) {
            position: relative;
        }
    }

    &__results-icon {
        display: none;

        @include media-query(large) {
            display: block;
            color: var(--color--heading);
            left: -140px;
            position: absolute;
            top: -5px;
            z-index: ($gradient-z-index + 1);
            overflow: visible;
        }

        @include high-contrast-mode() {
            display: none;
        }
    }

    &__results {
        display: flex;
        flex-wrap: wrap;
        gap: $spacer-small;
        margin-bottom: $spacer-small;
    }

    &__result {
        display: flex;
        flex: none;
        flex-direction: column;
    }

    &__result-number {
        @include font-size(heading-five);
        color: var(--color--heading);
        font-weight: $weight--semibold;

        @include media-query(large) {
            @include font-size(heading-four);
        }
    }

    &__company-logo {
        filter: grayscale(1) invert(1) brightness(1.5);
        position: absolute;
        bottom: 30px;
        left: 30px;
        z-index: ($gradient-z-index + 1);

        @include media-query(large) {
            bottom: auto;
            left: auto;
            top: 30px;
            right: 30px;
        }

        @include high-contrast-light-mode() {
            filter: none;
        }

        .mode-light & {
            filter: none;
        }
    }
}
