@use "config" as *;

.footer-cta {
    &__heading {
        margin-bottom: $spacer-mini;
    }

    // layout for avatar, name, role and button
    &__grid {
        display: grid;
        grid-template-columns: 72px 1fr;
        column-gap: $spacer-mini;
        row-gap: $spacer-small;
        margin-bottom: $spacer-mini-plus * 2;

        @include media-query(medium) {
            grid-template-columns: 100px 1fr;
            row-gap: $spacer-mini-minus;
            column-gap: $spacer-small;
        }

        @include media-query(large) {
            margin-bottom: 0;
        }
    }

    &__button-wrapper {
        grid-column: 1 / 3;

        @include media-query(medium) {
            grid-column: 2 / 3;
        }
    }

    &__text {
        @include font-size('heading-four');
        color: var(--color--heading);
        font-weight: $weight--light;
        margin-bottom: $spacer-small;
    }

    &__cite {
        @include font-size('body-one');
        font-style: normal;

        @include media-query(medium) {
            grid-column: 2 / 3;
        }
    }

    &__name {
        color: var(--color--heading);
        font-weight: $weight--semibold;
        display: block;

        @include media-query(medium) {
            display: inline;
        }
    }

    &__avatar {
        @include media-query(medium) {
            grid-row: 1 / 3;
        }
    }

    &__button {
        padding: 12px 20px;
    }
}
