@use 'config' as *;

.footer {
    $root: &;
    display: flex;
    flex-direction: column;
    margin-top: $spacer-medium;

    @include media-query(large) {
        margin-top: $spacer-half * 2;
    }

    &__top {
        width: 100%;
    }

    &__bottom {
        width: 100%;
        padding: $spacer-medium 0 $spacer-small 0;

        @include media-query(large) {
            padding-top: $spacer-small;
        }
    }

    &__newsletter-link {
        @include link-styles(
            $color: var(--color--heading),
            $interaction-color: var(--color--heading),
            $offset: 5px,
            $underline-color: var(--color--grey-50)
        );
        display: flex;
        align-items: center;
        gap: $spacer-mini-plus;
        padding: $spacer-mini 0 $spacer-small 0;
        border-bottom: 1px solid var(--color--border);
    }

    &__newsletter-link-text {
        display: flex;
        flex-direction: column;
        line-height: 1;
    }

    &__newsletter-link-title {
        @include font-size('size-four');
        font-weight: $weight--semibold;

        @include media-query(large) {
            line-height: 1;
            margin-bottom: 5px;
        }
    }

    &__arrow {
        @include arrow-link-icon-styles();
        color: var(--color--heading);
        // Show static version on mobile screens
        display: inline-block;
        width: 72px;
        height: 22px;
    }

    &__socials {
        display: flex;
        gap: $spacer-small-plus;
        padding: $spacer-small 0;

        @include media-query(large) {
            border-bottom: none;
        }
    }

    &__social-link {
        display: block;
        transition: color $transition-quick;
        color: var(--color--text);

        &:hover,
        &:focus {
            @include focus-style();
            color: var(--color--heading);
        }

        @include high-contrast-mode() {
            padding-bottom: 2px;
            border-bottom: 1px solid var(--color--text);

            &:hover,
            &:focus {
                border-bottom-width: 2px;
            }
        }
    }

    &__logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: $spacer-medium;
    }

    &__logo-link {
        display: flex;
        align-items: center;
        height: 100%;

        &:focus {
            @include focus-style($shadow: true);
        }
    }

    &__logo {
        max-width: $spacer-large;
        filter: grayscale(1) invert(1) opacity(0.8);

        .mode-light & {
            filter: grayscale(1) opacity(0.8);
        }

        @include high-contrast-light-mode() {
            filter: none;
        }

        &--narrow {
            max-width: 70px;
        }
    }

    &__company {
        @include font-size('size-eight');
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: $spacer-medium 0 $spacer-mini;
        color: var(--color--grey-20);

        @include media-query(large) {
            justify-content: center;
            margin: 0;
        }
    }

    &__company-address {
        font-weight: 600;

        > * {
            font-style: normal;
            display: inline;
        }
    }

    &__carbon-impact-container {
        background-color: var(--color--black);
        width: 100%;
    }

    &__carbon-impact {
        display: flex;
        flex-direction: column;
        padding: $spacer-mini-plus 0;
        width: 100%;

        @include media-query(large) {
            flex-direction: row;
            // for larger screens, the margin on separator pseudo element is used for spacing instead
            gap: 0;
        }
    }

    &__carbon-impact-link {
        @include link-styles(
            $color: var(--color--grey-10),
            $interaction-color: var(--color--white)
        );
    }

    &__carbon-impact-text {
        display: inline-block;
        color: var(--color--grey-10);

        span {
            color: var(--color--white);
            font-weight: $weight--semibold;
        }

        @include media-query(large) {
            &:first-child::after {
                content: '';
                border-right: 1px solid var(--color--border);
                margin: 0 $spacer-mini-plus;
            }
        }
    }
}
