@use 'config' as *;

.footer {
    $root: &;
    display: flex;
    flex-direction: column;
    gap: $spacer-small;
    margin-top: $spacer-medium;

    @include media-query(large) {
        margin-top: $spacer-half * 2;
        gap: $spacer-medium;
    }

    &__top {
        width: 100%;
    }

    &__bottom-container {
        background-color: var(--color--footer-background);
    }

    &__bottom {
        width: 100%;
        padding: $spacer-small 0;
    }

    &__line {
        height: 1px;
        background-color: var(--color--decoration);
        margin-bottom: $spacer-half;

        @include media-query(large) {
            margin-bottom: $spacer-medium;
        }
    }

    &__socials {
        display: flex;
        gap: $spacer-mini * 2;
        margin: $spacer-mini * 2 $spacer-mini 0 0;
    }

    &__social-link {
        display: block;
        transition: color $transition-quick;
        color: var(--color--text);

        &:hover,
        &:focus {
            @include focus-style();
            color: var(--color--heading);
        }

        @include high-contrast-mode() {
            padding-bottom: 2px;
            border-bottom: 1px solid var(--color--text);

            &:hover,
            &:focus {
                border-bottom-width: 2px;
            }
        }
    }

    &__logos {
        display: flex;
        justify-content: space-between;

        @include media-query(large) {
            justify-content: flex-start;
            gap: $spacer-medium;
        }
    }

    &__logo-link {
        display: flex;
        align-items: center;
        height: 100%;

        &:focus {
            @include focus-style($shadow: true);
        }
    }

    &__logo {
        filter: grayscale(1) invert(1) brightness(0.52);
        max-width: 70px;

        @include high-contrast-light-mode() {
            filter: none;
        }
    }

    &__company {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: $spacer-medium 0 $spacer-mini;
        color: var(--color--grey-20);

        @include media-query(large) {
            justify-content: center;
            margin: 0;
        }
    }

    &__company-address {
        font-weight: 600;

        > * {
            font-style: normal;
            display: inline;
        }
    }

    &__carbon-impact-container {
        background-color: var(--color--footer-background);
        border-top: 1px solid var(--color--border);
    }

    &__carbon-impact {
        display: flex;
        flex-direction: column;
        padding: $spacer-mini-plus 0;
        gap: $spacer-mini;
        width: 100%;

        @include media-query(medium) {
            flex-direction: row;
            // for larger screens, the margin on separator pseudo element is used for spacing instead
            gap: 0;
        }
    }

    &__carbon-impact-link {
        @include link-styles(
            $color: var(--color--grey-20),
            $interaction-color: var(--color--white)
        );
    }

    &__carbon-impact-text {
        display: inline-block;
        color: var(--color--grey-20);

        span {
            color: var(--color--footer-coloured-text);
            font-weight: $weight--semibold;
        }

        @include media-query(medium) {
            &:first-child::after {
                content: '';
                border-right: 1px solid var(--color--border);
                margin: 0 $spacer-mini-plus;
            }
        }
    }
}
