@use '../config' as *;

.footer-cta {
    background-color: var(--color--dark-background);
    padding: $spacer-medium 0;

    @include media-query(large) {
        padding: $spacer-half 0;
    }

    &__subtitle {
        @include font-size('size-four');
        color: var(--color--heading);
        font-weight: $weight--light;
        margin-bottom: $spacer-small;
    }

    &__container {
        display: flex;
        gap: $spacer-mini-plus;
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: $spacer-mini-plus;

        @include media-query(x-large) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__text {
        @include font-size('size-six');
    }

    &__name {
        display: block;
        color: var(--color--heading);
        font-weight: $weight--semibold;
    }

    &__button {
        padding: 12px 20px;
    }

    &__email {
        @include font-size('size-seven');
        @include link-styles(
            $color: var(--color--heading),
            $interaction-color: var(--color--heading)
        );
    }
}
