// Grid setup - update any changes here in the grid.md docs file too
@use 'config' as *;

.grid {
    display: grid;
    grid-template-columns: $grid-gutters repeat(4, 1fr) $grid-gutters;
    max-width: $site-width;
    margin: 0 auto;

    @include media-query(large) {
        grid-template-columns: $grid-gutters-large repeat(12, 1fr) $grid-gutters-large;
    }

    @include media-query(x-large) {
        grid-template-columns: $grid-gutters-x-large repeat(12, 1fr) $grid-gutters-x-large;
    }

    &--spacer-large {
        margin: $spacer-medium auto;

        @include media-query(large) {
            margin: $spacer-large auto;
        }
    }

    &__title {
        margin-bottom: $spacer-small;
        grid-column: 2 / span 4;

        @include media-query(large) {
            grid-column: 2 / span 9;
            margin-bottom: $spacer-small-plus;
        }
    }

    &__heading {
        margin-bottom: $spacer-mini;
        grid-column: 2 / span 4;

        @include media-query(large) {
            grid-column: 4 / span 7;
        }
    }

    &__intro {
        margin-bottom: $spacer-medium;
        grid-column: 2 / span 4;

        @include media-query(large) {
            margin-bottom: $spacer-medium-plus;
            grid-column: 2 / span 7;
        }
    }

    &__intro-with-images {
        grid-column: 1 / span 5;
        margin-bottom: $spacer-small-plus;

        @include media-query(large) {
            margin-bottom: $spacer-large;
            grid-column: 2 / span 12;
        }
    }

    &__quote {
        margin-bottom: $spacer-medium;
        grid-column: 2 / span 4;

        @include media-query(large) {
            margin-bottom: $spacer-large;
            grid-column: 4 / span 9;
        }
    }

    &__call-to-action {
        margin-bottom: $spacer-medium;
        grid-column: 2 / span 5;

        @include media-query(large) {
            margin-bottom: $spacer-large;
            grid-column: 4 / span 12;
        }
    }

    &__contact-cta {
        margin-bottom: $spacer-medium;
        grid-column: 2 / span 5;

        @include media-query(large) {
            margin-bottom: $spacer-large;
            grid-column: 4 / span 12;
        }
    }

    &__related-posts {
        grid-column: 2 / span 4;

        @include media-query(large) {
            grid-column: 5 / span 9;
        }
    }

    &__related-posts-simple,
    &__team-listing,
    &__stats-group {
        grid-column: 2 / span 4;

        @include media-query(large) {
            grid-column: 2 / span 12;
        }
    }

    &__division-signpost,
    &__featured-services {
        grid-column: 2 / span 4;
        margin-bottom: $spacer;

        @include media-query(large) {
            grid-column: 2 / span 12;
        }
    }

    &__wide-image {
        margin-bottom: $spacer-medium;
        grid-column: 2 / span 5;

        @include media-query(large) {
            margin-bottom: $spacer-large;
            grid-column: 4 / span 11;
        }
    }

    &__partners {
        margin-bottom: $spacer-medium;
        grid-column: 2 / span 4;

        @include media-query(large) {
            margin-bottom: $spacer-medium-plus;
            grid-column: 3 / span 10;
        }
    }

    &__work-image,
    &__impact-report-image {
        grid-column: 2 / span 5;

        @include media-query(large) {
            grid-column: 1 / span 13;
        }

        img {
            width: 100%;
        }
    }

    &__work-title {
        grid-column: 2 / span 4;

        @include media-query(large) {
            grid-column: 2 / span 3;
        }
    }

    &__showcase {
        margin-bottom: $spacer-medium;
        grid-column: 2 / span 4;

        @include media-query(large) {
            margin-bottom: $spacer-large;
            grid-column: 2 / span 11;
        }
    }

    &__tabbed-paragraph {
        margin-bottom: $spacer-medium;
        grid-column: 2 / span 4;

        @include media-query(large) {
            margin-bottom: $spacer-large;
            grid-column: 2 / span 12;
        }
    }

    &__team-image {
        margin-bottom: $spacer-small-plus;
        grid-column: 2 / span 4;

        @include media-query(large) {
            margin-bottom: $spacer-medium;
            grid-column: 4 / span 7;
        }
    }

    &__photo-collage {
        // right to the right-hand edge at mobile and tablet
        grid-column: 2 / span 5;
        margin-bottom: $spacer-medium;

        @include media-query(large) {
            grid-column: 2 / span 11;
            margin-bottom: $spacer;
        }
    }

    &__four-photo-collage {
        grid-column: 2 / span 5;
        margin-bottom: $spacer-medium;

        @include media-query(large) {
            grid-column: 2 / span 12;
            margin-bottom: $spacer;
        }
    }

    &__promo,
    &__event {
        grid-column: 2 / span 5;
        margin-bottom: $spacer-medium;

        @include media-query(large) {
            grid-column: 2 / span 13;
            margin-bottom: $spacer;
        }
    }

    &__values-header {
        grid-column: 2 / span 4;

        @include media-query(large) {
            grid-column: 2 / span 7;
        }
    }

    &__values {
        grid-column: 2 / span 4;
        margin-bottom: $spacer-medium;

        @include media-query(medium) {
            grid-column: 2 / span 4;
        }

        @include media-query(large) {
            grid-column: 3 / span 11;
            margin-bottom: $spacer-large;
        }
    }

    // The following components follow the same pattern of
    // spanning 7 columns on desktop and 4 columns on mobile.
    &__paragraph,
    &__raw-html,
    &__markdown,
    &__embed,
    &__stats,
    &__image,
    &__video,
    &__mailchimp,
    &__form,
    &__table {
        margin-bottom: $spacer-medium;
        grid-column: 2 / span 4;

        @include media-query(large) {
            margin-bottom: $spacer-large;
            grid-column: 4 / span 7;
        }
    }

    // if paragraph is followed by a heading or another paragraph, reduce the bottom margin
    // so that it matches headings and paragraphs within a rich-text block
    &__paragraph:has(+ .grid__heading),
    &__paragraph:has(+ .grid__paragraph) {
        margin-bottom: $spacer-small;
        @include media-query(large) {
            margin-bottom: $spacer-medium;
        }
    }

    // Footer grid elements
    &__footer-contact-container {
        grid-column: 1 / span 6;
        display: grid;
        grid-template-columns: subgrid;

        @include media-query(large) {
            grid-column: 1 / span 8;
        }
    }

    &__footer-contact {
        grid-column: 2 / span 4;

        @include media-query(large) {
            grid-column: 2 / span 6;
        }
    }

    &__footer-links {
        grid-column: 2 / span 4;

        @include media-query(large) {
            grid-column: 10 / span 4;
        }
    }

    &__footer-logos {
        grid-column: 2 / span 4;

        @include media-query(large) {
            grid-column: 2 / span 7;
        }
    }

    &__footer-company {
        grid-column: 2 / span 4;
        grid-row: 2;

        @include media-query(large) {
            grid-column: 10 / span 4;
            grid-row: auto;
        }
    }

    &__carbon-impact {
        grid-column: 2 / span 4;

        @include media-query(large) {
            grid-column: 2 / span 12;
        }
    }

    &__cookie-message {
        grid-column: 2 / span 4;

        @include media-query(large) {
            grid-column: 2 / span 12;
        }
    }

    &__header-nav {
        display: flex;
        grid-column: 2 / span 4;

        @include media-query(large) {
            grid-column: 2 / span 12;
        }
    }

    &__header-toggle {
        grid-column: 5 / span 1;
    }

    // standard page adjustments for blog chooser and work chooser
    .template-standard-page & {
        &__related-posts {
            grid-column: 2 / span 4;

            @include media-query(large) {
                grid-column: 4 / span 7;
            }
        }
    }

    // Move everything over by 1 column on the blog page and work pages
    .template-blog-page &,
    .template-work-page & {
        &__heading,
        &__intro,
        &__paragraph,
        &__image,
        &__raw-html,
        &__markdown,
        &__embed,
        &__video,
        &__table {
            @include media-query(large) {
                grid-column: 5 / span 7;
            }
        }

        &__title {
            @include media-query(large) {
                grid-column: 5 / span 9;
            }
        }

        &__call-to-action,
        &__contact-cta {
            @include media-query(large) {
                grid-column: 5 / span 10;
            }
        }

        &__quote {
            @include media-query(large) {
                grid-column: 5 / span 9;
            }
        }

        &__wide-image {
            @include media-query(large) {
                grid-column: 5 / span 11;
            }
        }

        &__stats {
            @include media-query(large) {
                grid-column: 5 / span 9;
            }
        }
    }

    &__featured-case-study {
        margin-bottom: $spacer-medium;
        grid-column: 1 / span 5;

        @include media-query(large) {
            margin-bottom: $spacer;
            grid-column: 1 / span 13;
        }
    }

    // Service page alignment
    .template-service-page & {
        &__intro,
        &__title {
            @include media-query(large) {
                grid-column: 2 / span 9;
            }
        }

        // paragraph block is indented further than other page elements
        &__paragraph,
        &__image,
        &__raw-html,
        &__markdown,
        &__embed,
        &__video,
        &__heading,
        &__table {
            @include media-query(large) {
                grid-column: 5 / span 7;
            }
        }

        &__call-to-action,
        &__contact-cta {
            @include media-query(large) {
                grid-column: 5 / span 10;
            }
        }

        &__wide-image {
            @include media-query(large) {
                grid-column: 5 / span 11;
            }
        }

        // heading 2s on the service page use the motif heading style which needs extra spacing
        &__heading--motif {
            margin-bottom: $spacer-small-plus;

            @include media-query(large) {
                grid-column: 2 / span 9;
                margin-bottom: $spacer-medium;
            }
        }

        // more spacing below intro on the service page
        &__intro {
            margin-bottom: $spacer-medium;

            @include media-query(large) {
                margin-bottom: $spacer-large;
            }
        }

        &__quote {
            @include media-query(large) {
                grid-column: 2 / span 9;
            }
        }
    }

    .template-historical-work-page & {
        &__heading,
        &__intro,
        &__paragraph,
        &__image,
        &__raw-html,
        &__markdown,
        &__embed,
        &__table {
            @include media-query(large) {
                grid-column: 2 / span 7;
            }
        }

        &__title {
            @include media-query(large) {
                grid-column: 2 / span 9;
            }
        }

        &__call-to-action {
            @include media-query(large) {
                grid-column: 2 / span 10;
            }
        }

        &__quote {
            @include media-query(large) {
                grid-column: 2 / span 9;
            }
        }

        &__wide-image {
            @include media-query(large) {
                grid-column: 2 / span 11;
            }
        }

        &__stats {
            @include media-query(large) {
                grid-column: 2 / span 9;
            }
        }
    }

    // 404 page adjustments
    .template-404-page & {
        &__paragraph {
            margin-bottom: $spacer-small;
        }

        &__wide-image {
            @include media-query(large) {
                margin-bottom: $spacer-medium;
            }
        }

        &__button,
        &__paragraph,
        &__title,
        &__wide-image {
            grid-column: 2 / span 4;

            @include media-query(large) {
                grid-column: 4 / span 8;
            }
        }
    }

    // impact report page adjustments
    .template-impact-report-page & {
        &__title {
            @include media-query(large) {
                grid-column: 2 / span 9;
            }
        }

        &__impact-report-heading {
            grid-column: 2 / span 4;

            @include media-query(large) {
                grid-column: 2 / span 12;
            }
        }

        &__heading,
        &__intro,
        &__paragraph,
        &__image,
        &__raw-html,
        &__markdown,
        &__embed,
        &__table,
        &__stats {
            @include media-query(large) {
                grid-column: 5 / span 7;
            }
        }

        &__instagram-gallery {
            margin-bottom: $spacer-medium;
            grid-column: 2 / span 4;

            @include media-query(large) {
                grid-column: 5 / span 7;
                margin-bottom: $spacer-large;
            }
        }

        &__small-image-with-text {
            margin-bottom: $spacer-small;
            grid-column: 2 / span 4;

            @include media-query(large) {
                margin-bottom: $spacer-medium;
                grid-column: 5 / span 7;
            }
        }

        // targets last div in a set of .small-image-with-text divs
        /* stylelint-disable selector-max-specificity */
        .small-image-with-text:not(:has(~ .small-image-with-text)) {
            margin-bottom: $spacer-medium;

            @include media-query(large) {
                margin-bottom: $spacer-large;
            }
        }
        /* stylelint-enable selector-max-specificity */

        // tighten space between paragraph and instagram block on the impact report page

        &__paragraph:has(+ .grid__instagram-gallery) {
            margin-bottom: $spacer-small;

            @include media-query(large) {
                margin-bottom: $spacer-medium;
            }
        }

        // increase space between the impact report heading and h3 on the impact report page
        &__impact-report-heading:has(+ .grid__heading) {
            margin-bottom: $spacer-small;

            @include media-query(large) {
                margin-bottom: $spacer-medium;
            }
        }
    }
}
