// Grid setup - update any changes here in the grid.md docs file too
@use "config" as *;

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: $grid-column-gap;
    padding-right: $grid-column-gap;
    column-gap: $grid-column-gap;
    max-width: $site-width;
    margin: 0 auto;

    @include media-query(large) {
        grid-template-columns: repeat(12, 1fr);
        padding-left: $grid-gutters-large;
        padding-right: $grid-gutters-large;
        column-gap: $grid-column-gap-large;
    }

    @include media-query(x-large) {
        padding-left: $grid-gutters-x-large;
        padding-right: $grid-gutters-x-large;
        column-gap: $grid-column-gap-x-large;
    }
}
