// Grid setup - update any changes here in the grid.md docs file too
@use "config" as *;

.grid {
    display: grid;
    grid-template-columns: $grid-gutters repeat(4, 1fr) $grid-gutters;
    max-width: $site-width;
    margin: 0 auto;

    @include media-query(large) {
        grid-template-columns: $grid-gutters-large repeat(12, 1fr) $grid-gutters-large;
    }

    @include media-query(x-large) {
        grid-template-columns: $grid-gutters-x-large repeat(12, 1fr) $grid-gutters-x-large;
    }

    &--spacer-large {
        margin: $spacer-medium 0;

        @include media-query(large) {
            margin: $spacer-large 0;
        }
    }
}
