@use "config" as *;

.icon {
    width: 20px;
    height: 20px;
    transition: fill $transition;
    fill: var(--color--text);

    &--home {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }

    &--footer-social {
        @include media-query(medium) {
            margin-right: 10px;
        }
    }

    &--broken-matchstick {
        height: 100%;
        max-width: 277px;
        width: 100%;
    }
}
