@use 'config' as *;

.image,
.wide-image {
    $root: &;

    img {
        padding: $spacer-mini-plus;
        background-color: var(--color--streamfield-background);
        width: 100%;

        @include media-query(large) {
            padding: $spacer-medium;
        }
    }

    &__caption,
    &__attribution {
        text-align: right;
        margin-right: $spacer-mini-plus;

        @include media-query(large) {
            margin-right: 0;
        }

        .grid__work-image & {
            margin-right: 0;
        }
    }

    &__caption {
        margin-top: $spacer-mini;
    }

    &__attribution {
        font-weight: $weight--semibold;
    }
}
