@use '../config' as *;

.image,
.wide-image,
.screenshot-image {
    $root: &;

    img {
        padding: $spacer-mini-plus;
        background-color: var(--color--streamfield-background);
        width: 100%;

        @include media-query(large) {
            padding: $spacer-medium;
        }
    }

    &__caption,
    &__attribution {
        text-align: right;
        margin-right: $spacer-mini-plus;

        @include media-query(large) {
            margin-right: 0;
        }

        .grid__work-image & {
            margin-right: 0;
        }
    }

    &__caption {
        margin-top: $spacer-mini;
    }

    &__attribution {
        font-weight: $weight--semibold;
    }
}

.wide-image {
    &__caption,
    &__attribution {
        @include media-query(large) {
            margin-right: $spacer-medium;
        }

        @include media-query(xxx-large) {
            margin-right: 0;
        }
    }
}

// Screenshot images don't have padding, and have a subtle border in case they need contrast
// with the background, especially in light mode
// Because they fill their natural width, the caption and attribution are aligned to the left.
.screenshot-image {
    img {
        padding: 0;
        border: 1px solid var(--color--light-border);
        width: auto;
    }

    .image__caption,
    .image__attribution {
        text-align: left;
        margin-right: 0;
    }
}
