@use 'config' as *;

.instagram-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacer-mini;
    place-items: center;

    @include media-query(medium) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.instagram-post {
    display: block;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    transition: border $transition-quick;

    &:hover {
        border: 3px solid var(--color--accent-three);
    }

    &:focus {
        @include focus-style();
        border: 0;
    }

    &__image {
        position: absolute;
        height: 100%;
        width: auto;
        max-width: none;
    }

    &__icon {
        position: absolute;
        bottom: 13px;
        right: 10px;
        width: 30px;
        height: 30px;
        color: var(--color--background);
    }
}
