@use 'config' as *;

.link-columns {
    &__header {
        margin-bottom: $spacer-half;
    }

    &__links {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: $spacer-half;

        @include media-query(medium) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-query(large) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__item {
        padding: $spacer-mini-plus 0;
        border-top: 1px solid var(--color--border);
    }

    &__link {
        @include font-size(size-six);
        color: var(--color--white);

        &:hover {
            transition: color $transition-quick;
            color: var(--color--theme-primary);

            @include reduced-motion() {
                transition: none;
            }
        }

        @include high-contrast-mode() {
            text-decoration: underline;
        }
    }

    &__tail {
        // Keep the arrow attached to the last word so it's not orphaned on a new line
        white-space: nowrap;
        display: inline;
    }

    &__arrow {
        @include arrow-link-icon-styles(
            $width: 18px,
            $interaction-color: var(--color--theme-primary)
        );
        color: var(--color--theme-primary);
    }
}
