// common styles used across multiple listings

@use "config" as *;

.listing {
    list-style-type: none;

    &__link {
        @include link-styles(var(--color--heading), var(--color--heading));
    }

    &__title {
        @include font-size('heading-four');
        margin-bottom: $spacer-mini;

        @include media-query(medium) {
            margin-bottom: $spacer-mini-plus;
        }
    }

    &__details {
        display: flex;
        align-items: flex-end;
        gap: $spacer-mini-plus;

        @include media-query(medium) {
            align-items: flex-start;
        }
    }

    &__details-group {
        margin-bottom: 4px;
    }

    &__name {
        @include font-size('body-two');
        color: var(--color--heading);
        font-weight: $weight--semibold;
    }

    &__job-title {
        @include font-size('body-two');
    }

    &__meta {
        @include font-size('supporting');
    }

    &__arrow {
        @include arrow-link-icon-styles();
        margin-left: $spacer-mini-plus;
    }

    &__tags {
        margin-top: $spacer-small;
    }
}
