// styles specific to the avatar version of the listing
@use 'config' as *;

.listing-avatar {
    &__inner {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: $spacer-mini;

        @include media-query(medium) {
            column-gap: $spacer-half;
        }
    }

    &__link {
        grid-row: 1;
        grid-column: 1 / 3;

        @include media-query(medium) {
            order: 2;
            grid-column: auto;
            grid-row: auto;
        }
    }

    &__avatar {
        @include media-query(medium) {
            order: 1;
            grid-row: 1 / 3;
        }
    }

    &__details {
        @include media-query(medium) {
            order: 3;
        }
    }

    &__tags {
        @include media-query(medium) {
            margin-left: calc(#{$avatar-size-145} + #{$spacer-half});
        }
    }
}
