// common styles used across multiple listings

@use "config" as *;

.listing {
    list-style-type: none;

    &__link {
        @include link-styles(var(--color--heading), var(--color--heading));
    }

    &__title {
        @include font-size('heading-four');
        margin-bottom: $spacer-mini;

        @include media-query(medium) {
            margin-bottom: $spacer-mini-plus;
        }
    }

    &__details {
        display: flex;
        align-items: flex-end;
        gap: $spacer-mini-plus;

        @include media-query(medium) {
            align-items: flex-start;
        }
    }

    &__details-group {
        margin-bottom: 4px;
    }

    &__name {
        @include font-size('body-two');
        font-weight: $weight--semibold;
    }

    &__job-title {
        @include font-size('body-two');
        @include link-styles(var(--color--text), var(--color--text));
    }

    &__meta {
        @include font-size('supporting');
        @include link-styles(var(--color--text), var(--color--text));
    }

    &__arrow {
        display: none;

        @include media-query(medium) {
            display: block;
            color: var(--color--link-icon);
            width: 72px;
            height: 22px;
            transition: transform, $transition-quick;

            a:hover & {
                color: var(--color--link-interaction);
                transform: translateX(8px);
            }
        }
    }

    &__tags {
        margin-top: $spacer-small;
    }
}
