// common styles used across multiple listings

@use 'config' as *;

.listing {
    $root: &;

    list-style-type: none;
    margin-bottom: $spacer-small;

    @include media-query(medium) {
        margin-bottom: 0;
    }

    &__link {
        display: block;
        margin-bottom: $spacer-mini;

        &:focus {
            @include focus-style();
            padding-right: $link-transition-gap; // without this the arrows that are only on one line overlap the focus ring

            #{$root}__arrow {
                @include arrow-focus-style();
            }
        }

        @include media-query(medium) {
            margin-bottom: 0;
        }
    }

    &__title {
        @include font-size('size-three');
        margin-bottom: $spacer-mini;

        @include media-query(medium) {
            margin-bottom: $spacer-small;
        }
    }

    &__title-text {
        @include link-styles(
            var(--color--heading),
            var(--color--heading),
            false,
            4px
        );
    }

    &__details {
        display: flex;
        align-items: center;
        gap: $spacer-mini-plus;

        @include media-query(medium) {
            align-items: flex-start;
        }
    }

    &__details-group {
        margin-bottom: 4px;
    }

    &__name {
        @include font-size('size-seven');
        color: var(--color--heading);
        font-weight: $weight--semibold;
    }

    &__job-title {
        @include font-size('size-seven');
    }

    &__meta {
        @include font-size('size-eight');
    }

    &__arrow {
        @include arrow-link-icon-styles($mobile-hidden: true);
        margin-left: $spacer-mini-plus;
    }

    &__tags {
        margin-top: $spacer-small;
    }

    &__tail {
        // Keep the arrow attached to the last word so it's not orphaned on a new line
        white-space: nowrap;
        display: none;

        @include media-query(medium) {
            display: inline;
        }
    }

    // 3 across on team page
    .streamfield__related-posts-simple & {
        @include media-query(large) {
            flex-basis: 33.33%;
        }
    }
}
