@use 'config' as *;

.logo {
    color: var(--color--heading);
    width: 100%;
    height: 100%;
    object-fit: contain;

    @include high-contrast-light-mode() {
        color: var(--color--decoration);
    }

    // define the size for each logo variant explicitly to avoid layout shift
    &--logo-torchbox {
        width: 100px;
        height: 30px;

        @include media-query(large) {
            width: 127px;
            height: 36px;
        }
    }

    &--logo-charity {
        width: 170px;
        height: 30px;

        @include media-query(large) {
            width: 217px;
            height: 36px;
        }
    }

    &--logo-public {
        width: 154px;
        height: 30px;

        @include media-query(large) {
            width: 198px;
            height: 36px;
        }
    }

    &--logo-wagtail {
        width: 216px;
        height: 30px;

        @include media-query(small) {
            width: 288px;
            height: 30px;
        }

        @include media-query(large) {
            width: 378px;
            height: 36px;
        }
    }
}
