@use '../config' as *;

.mode-switcher {
    $root: &;
    margin-left: auto;

    &__layout {
        display: flex;
        align-items: center;
    }

    &__label {
        color: var(--color--heading);

        @include media-query(menu) {
            color: var(--color--text);
        }

        &--light {
            margin-right: 8px;

            @include media-query(menu) {
                margin-right: 15px;
            }
        }

        &--dark {
            margin-left: 8px;

            @include media-query(menu) {
                margin-left: 15px;
            }
        }
    }

    &__icon {
        color: var(--color--grey-50);

        &--light {
            width: 16px;
            height: 16px;

            .mode-light & {
                color: var(--color--white);
            }
        }

        &--dark {
            width: 13px;
            height: 13px;

            .mode-dark & {
                color: var(--color--white);
            }
        }

        @include high-contrast-light-mode() {
            &--light {
                .mode-light & {
                    color: var(--color--black);
                }
            }

            &--dark {
                .mode-dark & {
                    color: var(--color--black);
                }
            }
        }
    }

    &__button {
        border: 1px solid var(--color--grey-70);
        border-radius: 21px;
        width: 49px;
        height: 26px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &::before {
            top: 3px;
            inset-inline-start: 26px;
            content: '';
            width: 18px;
            height: 18px;
            display: block;
            position: absolute;
            border-radius: 12px;
            transition: inset-inline-start 0.25s ease-out;
            background-color: var(--color--white);
            // for hcm
            border: 1px solid transparent;

            @include reduced-motion() {
                transition: none;
            }

            .mode-light & {
                inset-inline-start: 2px;
            }
        }
    }
}
