@use 'config' as *;

.motif-heading {
    @include font-size(size-two);
    font-weight: $weight--semibold;
    color: transparent;
    background-image: var(--motif-heading);
    background-clip: text;
    // background-color is essential here as a fallback for browsers that don't support background-clip
    background-color: var(--color--heading);
    background-repeat: no-repeat;
    background-size: 30%;
    background-origin: border-box;

    @include media-query('large') {
        background-size: 40%;
    }

    &--half-width {
        @include media-query('large') {
            max-width: 50%;
        }
    }
}
