@use 'config' as *;

.pagination {
    $root: &;

    &__list {
        display: flex;
        justify-content: center;
        gap: $spacer-mini;

        @include media-query(large) {
            gap: $spacer-small;
        }
    }

    &__page {
        @include font-size('size-five');
        color: var(--color--heading);
        display: block;

        @include media-query(large) {
            @include font-size('size-four');
        }

        &--current {
            background-color: var(--color--heading);
            color: var(--color--background);

            @include high-contrast-mode() {
                border: 2px solid var(--color--heading);
            }
        }
    }

    &__link,
    &__span {
        display: flex;
        width: 100%;
        height: 100%;
        line-height: 0;
        align-items: center;
        justify-content: center;
        padding: 10px 15px;

        @include media-query(large) {
            max-width: 3.125rem; // 50px
            max-height: 3.125rem;
            padding: 13px 19px;
        }
    }

    &__link {
        @include link-styles(
            $color: inherit,
            $interaction-color: var(--color--heading),
            $shadow: true
        );
        text-underline-offset: 4px;

        &:hover,
        &:active {
            border: 1px solid var(--color--heading);

            #{$root}__page--current & {
                color: var(--color--background);
            }
        }

        &--previous,
        &--next {
            max-width: none;

            &:hover,
            &:active {
                border: 0;
            }
        }
    }

    &__prev-icon,
    &__next-icon {
        width: 20px;
        height: 24px;
        fill: var(--color--heading);
        transition: $transition-quick;

        @include high-contrast-mode() {
            /* stylelint-disable value-keyword-case  */
            fill: LinkText;
            /* stylelint-enable value-keyword-case  */
        }
    }

    &__prev-icon {
        transform: rotate(180deg);

        @include media-query(medium) {
            margin-right: $spacer-small;
        }

        a:hover & {
            transform: rotate(180deg) translateX(8px);

            @include reduced-motion() {
                transform: none;
            }
        }
    }

    &__next-icon {
        @include media-query(medium) {
            margin-left: $spacer-small;
        }

        a:hover & {
            transform: translateX(8px);

            @include reduced-motion() {
                transform: none;
            }
        }
    }
}
