@use 'config' as *;

.partners {
    $root: &;

    @mixin partner-logo-sizes() {
        width: 100%;
        height: 100%;
        max-width: 100px;
        max-height: 90px;
    }

    &__logos {
        display: flex;
        flex-wrap: wrap;
        gap: $spacer-mini;
        justify-content: center;
        align-items: center;

        @include media-query(large) {
            justify-content: flex-start;
        }

        &--wide {
            @include media-query('x-large') {
                justify-content: space-between;
            }
        }
    }

    &__logo-wrapper {
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include media-query(medium) {
            width: 160px;
            height: 160px;
        }

        @include media-query(large) {
            justify-content: flex-start;
        }

        #{$root}__logos--wide & {
            @include media-query('x-large') {
                @include partner-logo-sizes();
            }
        }
    }

    &__logo {
        @include partner-logo-sizes();
        filter: grayscale(1) invert(1) brightness(1.5);
        object-fit: contain;

        @include high-contrast-light-mode() {
            filter: none;
        }
    }

    &__logo-picture {
        @include partner-logo-sizes();
    }
}
