@use 'config' as *;

.promo-block {
    display: grid;
    grid-template-columns: 1fr;

    @include media-query(large) {
        grid-template-columns: 3fr 2fr;
        min-height: 500px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--color--theme-primary-light);
        color: var(--color--light-background-text);
        padding: $spacer-small;
        order: 2;

        @include media-query(large) {
            order: 1;
            padding: $spacer-medium-plus $spacer-half $spacer-half
                $spacer-medium-plus;
        }
    }

    &__title {
        color: var(--color--light-background-text);
        margin-bottom: $spacer-mini;

        @include media-query(large) {
            margin-bottom: $spacer-small;
        }
    }

    &__description {
        @include font-size(size-five);
        margin-bottom: $spacer-small;

        @include media-query(large) {
            margin-bottom: $spacer-small-plus;
        }
    }

    &__button {
        width: fit-content;
        color: var(--color--light-background-text);
        border-color: var(--color--light-background-text);

        &:hover,
        &:focus {
            color: var(--color--heading);
            background-color: var(--color--background);
        }
    }

    &__divider {
        margin: $spacer-small 0;
        color: rgba($color--grey-70, 0.2);

        @include media-query(large) {
            margin: $spacer-medium 0 $spacer-small;
        }
    }

    &__link {
        @include link-styles(
            var(--color--light-background-text),
            var(--color--light-background-text)
        );
        width: fit-content;
    }

    &__picture-wrapper {
        order: 1;
        height: 320px;
        position: relative;

        @include media-query(large) {
            order: 2;
            height: 100%;
        }
    }

    &__picture {
        @include media-query(large) {
            position: absolute;
            inset: 0;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
