@use 'config' as *;

.report-in-page-nav {
    $root: &;
    @include z-index(in-page-nav);
    margin: 0 auto $spacer-small;
    background-color: var(--color--background);
    // padding left and right matches the grid gutters as this element sits outside the grid positioning
    padding: $spacer-mini-plus $grid-gutters 25px;
    max-width: $site-width;
    position: sticky;
    top: 0;

    @include media-query(large) {
        padding-left: $grid-gutters-large;
        padding-right: $grid-gutters-large;
    }

    @include media-query(x-large) {
        padding-left: $grid-gutters-x-large;
        padding-right: $grid-gutters-x-large;
    }

    &__container {
        width: 100%;
        list-style: none;
        padding-left: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        padding-right: $spacer-mini;

        @include media-query(medium) {
            padding-right: $spacer-small;
        }

        @include media-query(x-large) {
            padding-right: $spacer-medium;
        }
    }

    &__link {
        @include link-styles(
            $color: var(--color--heading),
            $interaction-color: var(--color--heading),
            $offset: 4px,
            $underline-color: var(--color--decoration),
            $underline-hover-color: var(--color--heading)
        );
        @include font-size('supporting');
        padding-top: 20px;

        @include media-query(medium) {
            @include font-size('heading-six');
        }

        @include media-query(large) {
            padding-top: 0;
        }
    }

    &__icon {
        width: 11px;
        height: 16px;
        display: inline-block;
        color: var(--color--accent-three);
        transform: translateY(-2px);
        margin-left: 7px;
        transition: transform $transition-quick;

        @include media-query(large) {
            transform: translateY(-3px);
        }

        #{$root}__link:hover & {
            transform: translateY(0);
        }
    }
}
