@use "config" as *;

.rich-text {
    @include font-size(body);

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: $weight--light;

        b {
            // <b> tags were used in the legacy CMS within headings
            // so we're resetting the font-style here
            font-weight: inherit;
        }
    }

    h2 {
        @include font-size(heading-two-b);
        @include rich-text-heading-spacing();

        // if the h2 comes after a work section heading, remove top margin
        .work-sections__title + &:first-child {
            margin-top: 0;
        }
    }

    h3 {
        @include font-size(heading-three);
        @include rich-text-heading-spacing();

        // if the h3 comes after a work section heading, remove top margin
        .work-sections__title + &:first-child {
            margin-top: 0;
        }
    }

    h4 {
        @include font-size(heading-four);
        @include rich-text-heading-spacing();
        font-weight: $weight--semibold;
    }

    // overide top heading margins for the first child
    > *:first-child {
        margin-top: 0;
    }

    ul {
        list-style: inside disc;
        margin-bottom: $spacer-small;
    }

    ol {
        list-style: inside decimal;
        margin-bottom: $spacer-small;
    }

    li {
        margin-bottom: $spacer-mini;
    }

    a {
        @include link-styles($shadow: true);
    }

    p {
        margin-bottom: $spacer-small;

        &:last-child {
            margin-bottom: 0;
        }
    }

    b,
    strong {
        font-weight: $weight--semibold;
    }
}
