@use "config" as *;

.section-title {
    &--related-posts {
        margin-bottom: $spacer-small;
        margin-top: $spacer-medium;
        grid-column: 2 / span 4;

        @include media-query(large) {
            margin-top: $spacer-x-large;
            margin-bottom: $spacer-half;
            grid-column: 2 / span 2;
        }

        &::first-letter {
            @include drop-cap(72px, 90px);
        }
    }
}
