@use 'config' as *;

.section-title {
    &--related-posts {
        margin-bottom: $spacer-mini;
        margin-top: $spacer-medium;
        grid-column: 2 / span 4;

        @include media-query(large) {
            margin-top: $spacer-medium;
            grid-column: 2 / span 12;
        }
    }

    &--large-gap {
        @include media-query(large) {
            margin-top: $spacer-x-large;
        }
    }
}
