@use "config" as *;

// used for both the showcase block and the homepage showcase block
.showcase {
    $root: &;

    &__title {
        margin-bottom: $spacer-medium;

        @include media-query(large) {
            margin-bottom: $spacer-large;
        }

        #{$root}--home & {
            margin-bottom: $spacer-mini;
        }
    }

    // home page showcase block only
    &__intro {
        @include font-size('heading-five');
        margin-bottom: $spacer-medium;

        @include media-query(large) {
            margin-bottom: $spacer-large;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        gap: $spacer-small;

        @include media-query(large) {
            grid-template-columns: 1fr 1fr;
            gap: $spacer-half;
        }
    }

    &__item {
        display: flex;
        align-items: flex-start;
        gap: $spacer-small;

        &--link {
            &:focus {
                @include focus-style($shadow: true);
            }

            &:focus,
            &:hover {
                #{$root}__arrow {
                    transform: translate3d($link-transition-gap, 0, 0);
                }

                #{$root}__heading {
                    text-decoration-thickness: $link-underline-thickness-interaction;
                }

                #{$root}__ring--one {
                    @include ring-one-hover();
                }

                #{$root}__ring--two {
                    @include ring-two-hover();
                }
            }
        }
    }

    &__rings {
        @include rings();
    }

    &__ring {
        @include ring();

        &--one {
            @include ring-one();
        }

        &--two {
            @include ring-two();
        }
    }

    // home page showcase block only
    &__icon {
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        flex-grow: 0;
    }

    &__heading {
        @include font-size(heading-four);
        font-weight: $weight--semibold;
        margin-bottom: $spacer-mini;

        &--with-icon {
            display: flex;
            align-items: flex-start;
            text-decoration: underline;
            text-decoration-thickness: $link-underline-thickness;
            text-underline-offset: 2px;
            gap: $spacer-mini;
        }

        &--with-tail {
            display: block;
        }

        #{$root}--home & {
            @include font-size('heading-three');
        }
    }

    &__title-text {
        @include link-styles(
            var(--color--heading),
            var(--color--heading),
            false,
            8px
        );
    }

    &__tail {
        display: inline;
        white-space: nowrap;
    }

    &__arrow {
        transition: transform $transition-quick;
        transform: translate3d(0, 0, 0);
        flex-shrink: 0;
        margin-top: 8px;

        @include reduced-motion() {
            transition: none;
        }

        &--tail {
            width: 72px;
            margin-left: $spacer-mini;
            display: inline-block;
        }
    }

    &__summary {
        @include font-size(body-one);
    }
}
