@use 'config' as *;

.skip-link {
    position: absolute;
    top: -200px;
    left: 0;
    color: var(--color--light-background-text);
    background-color: var(--color--light-background);
    padding: $spacer-mini;

    &:focus {
        @include focus-style();
        top: 0;
    }
}
