@use '../config' as *;

.skip-link {
    @include z-index('header');
    position: absolute;
    top: -200px;
    left: 0;
    color: var(--color--light-background-text);
    background-color: var(--color--theme-primary-light);
    padding: $spacer-mini;

    &:focus {
        @include focus-style();
        top: 0;
    }
}
