@use 'config' as *;

.small-image-with-text {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: $spacer-mini;

    @include media-query(medium) {
        grid-template-columns: 62px 1fr;
        gap: $spacer-small-plus;
    }

    &__image {
        margin-top: 6px;
        max-width: 50px;

        @include media-query(medium) {
            max-width: 62px;
            margin-top: 12px;
        }
    }

    &__title {
        font-weight: $weight--semibold;
        margin-bottom: $spacer-mini-plus;
    }

    &__text {
        @include font-size('size-six');
    }
}
