@use 'config' as *;

.streamfield {
    &__intro {
        color: var(--color--heading);
        font-weight: $weight--light;

        a {
            @include link-styles(var(--color--heading), var(--color--heading));
        }

        p {
            margin-bottom: $spacer-small;

            &:last-child {
                margin-bottom: 0;
            }
        }

        // override the rich-text font-size
        &.rich-text {
            @include font-size(intro);
        }
    }

    &__embed {
        iframe {
            width: 100%;
            aspect-ratio: 16 / 9;
            height: auto;
        }
    }

    &__related-posts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $spacer-small;

        @include media-query(large) {
            gap: $spacer-half;
        }
    }

    &__related-posts-simple {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $spacer-small;

        @include media-query(large) {
            gap: $spacer-half;
            flex-direction: row;
        }
    }

    &__video {
        @include z-index(zero);
        display: flex;
        justify-content: center;
        width: 100%;

        video {
            width: 100%;
            height: auto;
        }

        &--original video {
            width: initial;
            max-width: 100%;
        }
    }

    .template-work-page &,
    .template-historical-work-page & {
        &__intro {
            margin-top: $spacer-small;
            margin-bottom: $spacer-medium;

            @include media-query(large) {
                margin-bottom: 0;
                margin-top: 0;
            }
        }
    }

    .template-person-page & {
        &__intro {
            margin-bottom: $spacer-small-plus;
        }
    }
}
