@use "config" as *;

.streamfield {
    &__intro {
        a {
            @include link-styles(var(--color--heading), var(--color--heading));
        }
    }

    &__embed {
        iframe {
            width: 100%;
            aspect-ratio: 16 / 9;
            height: auto;
        }
    }

    &__related-posts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $spacer-small;

        @include media-query(large) {
            gap: $spacer-half;
        }
    }

    .template-work-page & {
        &__intro {
            margin-bottom: $spacer-mini;
        }
    }

    &__partners {
        margin-bottom: $spacer-medium;
        grid-column: 2 / span 4;

        @include media-query(large) {
            margin-bottom: $spacer-large;
            grid-column: 2 / span 12;
        }
    }
}
