@use "config" as *;

.streamfield {
    &__intro {
        a {
            @include link-styles(var(--color--heading), var(--color--heading));
        }
    }

    &__embed {
        iframe {
            width: 100%;
            aspect-ratio: 16 / 9;
            height: auto;
        }
    }

    &__related-posts {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $spacer-small;

        @include media-query(large) {
            gap: $spacer-half;
        }
    }

    .template-work-page &,
    .template-historical-work-page {
        &__intro {
            margin-bottom: $spacer-mini;
        }
    }
}
