@use "config" as *;

.streamfield {
    &__title {
        margin-bottom: $spacer-small;
        grid-column: 2 / span 4;

        @include media-query(large) {
            grid-column: 4 / span 9;
        }
    }

    &__heading {
        margin-bottom: $spacer-mini;
        grid-column: 2 / span 4;

        @include media-query(large) {
            grid-column: 4 / span 7;
        }
    }

    &__quote {
        margin-bottom: $spacer-medium;
        grid-column: 2 / span 4;

        @include media-query(large) {
            margin-bottom: $spacer-large;
            grid-column: 4 / span 9;
        }
    }

    // The following components follow the same pattern of
    // spanning 7 columns on desktop and 4 columns on mobile.
    &__intro,
    &__paragraph,
    &__image,
    &__raw-html,
    &__markdown {
        margin-bottom: $spacer-medium;
        grid-column: 2 / span 4;

        @include media-query(large) {
            margin-bottom: $spacer-large;
            grid-column: 4 / span 7;
        }
    }
}
