@use 'config' as *;

.swirls {
    position: absolute;
    display: none;

    @include media-query(large) {
        @include z-index(under);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }

    &__container {
        position: absolute;
        width: 100%;
        aspect-ratio: 1512 / 1239;
    }

    &__icon {
        position: absolute;

        @include high-contrast-mode() {
            display: none;
        }
    }
}
