@use 'config' as *;

.tabbed-paragraph {
    &__heading {
        margin-bottom: $spacer-mini;

        @include media-query('large') {
            margin-bottom: $spacer-small;
            max-width: 50%;
        }

        // Exra bottom margin if the intro is omitted
        &--no-intro {
            margin-bottom: $spacer-medium;

            @include media-query('large') {
                margin-bottom: $spacer-half;
            }
        }
    }

    &__intro {
        @include font-size('size-five');
        margin-bottom: $spacer-medium;

        @include media-query('large') {
            margin-bottom: $spacer-half;
            max-width: 60%;
        }
    }
}
