@use "config" as *;

.tab-nav-item {
    margin-right: 25px;
    position: relative;
    white-space: nowrap;

    &:last-child {
        padding-right: 20px;
    }

    &--active {
        outline: 1px solid transparent;
    }
}
