@use "config" as *;

.tabs-nav {
    &__layout {
        padding-right: 0;
        padding-left: 0;
    }

    &__container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        grid-column: 1 / span 2;
        padding: 10px 20px;
        overflow-x: auto;
    }
}
