@use 'config' as *;

// used for the tabs in the tabbed paragraph block - at desktop only
.tabs {
    $root: &;
    display: none;
    gap: $spacer-half;

    @include media-query('large') {
        display: flex;
    }

    &__nav-container {
        flex-basis: 40%;
        color: var(--color--heading);
    }

    &__nav-item {
        @include font-size('size-four');
        @include link-styles(
            $color: var(--color--heading),
            $interaction-color: var(--color--heading),
            $shadow: false
        );
        font-weight: $weight--semibold;
        display: flex;
        align-items: center;
        outline-offset: 10px;
        margin-bottom: $spacer-small;

        &:focus {
            outline: $focus-width solid var(--color--theme-primary-muted);
        }

        &--active {
            // for high contrast mode
            outline: 1px solid transparent;
        }
    }

    &__rings {
        @include rings();
        top: -20px;
        margin-right: $spacer-small;
    }

    &__ring {
        @include ring();

        &--one {
            @include ring-one();

            #{$root}__nav-item:focus &,
            #{$root}__nav-item:hover & {
                @include ring-one-hover();
            }
        }

        &--two {
            @include ring-two();

            #{$root}__nav-item:focus &,
            #{$root}__nav-item:hover & {
                @include ring-two-hover();
            }
        }
    }

    &__nav-text {
        flex-basis: calc(100% - 182px);
        opacity: 0.8;

        #{$root}__nav-item:focus &,
        #{$root}__nav-item:hover & {
            opacity: 1;
        }
    }

    &__nav-arrow {
        flex-basis: 130px;
        flex-grow: 0;
        flex-shrink: 0;
        width: 130px;
        height: 22px;
        opacity: 0;
        transition: opacity $transition-quick;
        color: var(--color--text);

        @include reduced-motion() {
            transition: none;
        }

        #{$root}__nav-item--active & {
            opacity: 1;
        }
    }

    &__panel {
        // for high contrast mode
        outline: 1px solid transparent;
        flex-basis: 60%;

        &--hidden {
            display: none;

            @media (scripting: none) {
                display: block;
            }
        }
    }

    &__panel-summary {
        @include font-size('size-four');
        font-weight: $weight--light;
        color: var(--color--heading);
        margin-bottom: $spacer-small;
    }

    &__panel-text {
        @include font-size('size-six');
    }

    &__panel-button {
        margin-top: $spacer-medium;
    }
}
