@use '../config' as *;

// used for the tabs in the tabbed paragraph block - at desktop only
.tabs {
    $root: &;
    display: none;
    gap: $spacer-half;

    @include media-query('large') {
        display: flex;
    }

    &__nav-container {
        flex-basis: 40%;
        color: var(--color--heading);
    }

    &__nav-item {
        @include font-size('size-six');
        font-weight: $weight--semibold;
        display: flex;
        align-items: center;
        position: relative;
        padding: $spacer-mini $spacer-mini-plus;
        background-color: var(--color--dark-background);
        border: 1px solid transparent; // prevents layout shift when active
        border-bottom: 1px solid var(--color--background);

        &:hover {
            background-color: var(--color--background);
        }

        &:focus {
            @include focus-style(
                $outline-color: var(--color--theme-primary-muted),
                $keyboard-only: true
            );
        }

        &--active {
            border: 1px solid var(--color--text);
            border-right: none;

            // border extension
            &::after {
                content: '';
                position: absolute;
                bottom: -1px;
                right: -25px;
                width: 25px;
                border-bottom: 1px solid var(--color--text);
            }
        }
    }

    &__rings {
        @include rings();
        top: -20px;
        margin-right: $spacer-small;
    }

    &__ring {
        @include ring();

        &--one {
            @include ring-one();

            #{$root}__nav-item:focus &,
            #{$root}__nav-item:hover &,
            #{$root}__nav-item--active & {
                @include ring-one-hover();
            }
        }

        &--two {
            @include ring-two();

            #{$root}__nav-item:focus &,
            #{$root}__nav-item:hover &,
            #{$root}__nav-item--active & {
                @include ring-two-hover();
            }
        }
    }

    &__nav-text {
        opacity: 0.8;

        #{$root}__nav-item:focus &,
        #{$root}__nav-item:hover &,
        #{$root}__nav-item--active & {
            opacity: 1;
        }
    }

    &__nav-arrow {
        color: var(--color--text);
        position: absolute;
        top: calc(100% - 10px);
        right: -32px;
        width: 20px;
        height: 20px;
        opacity: 0;
        transition: opacity $transition-quick;

        #{$root}__nav-item--active & {
            opacity: 1;
        }
    }

    &__panel {
        // for high contrast mode
        outline: 1px solid transparent;
        flex-basis: 60%;

        &--hidden {
            display: none;

            @media (scripting: none) {
                display: block;
            }
        }
    }

    &__panel-headline {
        color: var(--color--theme-primary);
    }

    &__panel-summary {
        @include font-size('size-four');
        font-weight: $weight--light;
        color: var(--color--heading);
        margin-bottom: $spacer-small;
    }

    &__panel-text {
        @include font-size('size-six');
    }

    &__panel-button {
        margin-top: $spacer-medium;
    }
}
