@use "config" as *;

.tags {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 15px;

    &--with-title {
        margin-top: $spacer-small;
    }
}

.tag {
    padding: 5px $spacer-mini;
    border-radius: 50px;
    border: 1px solid var(--color--text);

    &:hover,
    &:active,
    &--active {
        color: var(--color--background);
        background-color: var(--color--heading);
        border-color: var(--color--heading);
    }

    &:focus {
        @include focus-style(var(--color--heading), $shadow: true);
    }

    @include high-contrast-mode() {
        &:hover,
        &:active,
        &--active {
            outline: 2px solid var(--color--heading);
        }
    }
}
