@use '../config' as *;

.team-listing {
    display: flex;
    flex-wrap: wrap;
    column-gap: $spacer-small;
    row-gap: $spacer-small-plus;
    margin-bottom: $spacer-medium;

    @include media-query(large) {
        max-width: 1270px;
        margin-bottom: $spacer-large;
    }

    &__item {
        width: 370px;

        @include media-query(medium) {
            width: calc(33% - #{$spacer-small});
        }

        @include media-query(large) {
            width: 230px;
        }
    }

    &__image {
        width: 100%;
        height: auto;
        object-fit: cover;
        margin-bottom: $spacer-mini;
    }

    &__link {
        @include link-styles(
            $color: var(--color--heading),
            $interaction-color: var(--color--heading)
        );
        @include font-size('size-four');
        font-weight: $weight--semibold;
        display: block;
        margin-bottom: 5px;
    }

    &__role {
        @include font-size('size-four');

        @include media-query(medium) {
            @include font-size('size-eight');
        }
    }
}
