@use 'config' as *;

.team-page-meta {
    display: flex;
    flex-direction: column;
    margin: $spacer-mini 0 $spacer-small;

    @include media-query(medium) {
        flex-direction: row;
        align-items: center;
    }

    @include media-query(large) {
        margin-top: $spacer-small;
    }

    &__role {
        @include font-size('size-six');
        color: var(--color--text);
        display: flex;
        align-items: center;
        margin-top: $spacer-mini;

        @include media-query(medium) {
            margin-top: 0;
        }

        &::before {
            content: '';
            display: inline-block;
            width: 25px;
            height: 1px;
            border-bottom: 1px solid var(--color--decoration);
            margin: 0 15px;
        }
    }
}
