@use 'config' as *;

.title-filters {
    $root: &;
    grid-column: 2 / span 4;
    display: flex;
    flex-direction: column;
    margin-bottom: $spacer-half;
    justify-content: space-between;

    @include media-query(large) {
        grid-column: 2 / span 12;
        flex-direction: row;
        margin-bottom: $spacer-large;
    }

    &::before {
        @include media-query(large) {
            content: '';
            display: block;
            width: 150px;
            height: 1px;
            background-color: var(--color--decoration);
            margin-right: 30px;
            position: relative;
            top: 17px;
        }
    }

    &--team {
        @include media-query(large) {
            padding-top: 200px;
            background-image: url('../images/map-dark.webp');
            background-repeat: no-repeat;
            background-size: 735px 405px;
            background-position: right 30px top;
        }

        &::before {
            display: none;
        }

        .mode-light & {
            @include media-query(large) {
                background-image: url('../images/map-light.webp');
            }
        }
    }

    &__title {
        margin-bottom: $spacer-small;

        @include media-query(large) {
            flex-grow: 0;
            margin-bottom: 0;
            margin-right: $spacer-half;

            #{$root}--team & {
                flex-basis: 50%;
            }
        }
    }

    // team page only
    &__strapline {
        @include font-size('size-four');
        font-weight: $weight--light;
        color: var(--color--heading);
        margin-top: $spacer-small-plus;
    }

    &__tags {
        @include media-query(large) {
            flex-grow: 1;
            align-self: flex-end;
        }

        #{$root}--team & {
            flex-basis: 50%;
        }
    }
}
