@use "config" as *;

// These are used in the body streamfield for the work page
.work-sections {
    &__title {
        @include font-size('heading-five');
        font-weight: $weight--semibold;
        display: flex;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: $spacer-medium;

        @include media-query(large) {
            margin-bottom: 0;
        }
    }

    &__rings {
        @include rings($width: 33px);
        display: block;
    }

    &__ring {
        @include ring($diameter: 30px, $opacity: 0.75);

        &--one {
            @include ring-one($top: 3px, $color: var(--color--accent-two));
        }

        &--two {
            @include ring-two($top: 3px, $color: var(--color--accent-three));
        }
    }
}
