@use "config" as *;

.work-hero {
    @include media-query(large) {
        align-items: end;
    }

    &__left {
        grid-column: 2 / span 4;

        @include media-query(large) {
            grid-column: 2 / span 8;
        }
    }

    &__right {
        grid-column: 2 / span 4;

        @include media-query(large) {
            grid-column: 11 / span 3;
            grid-row: 1 / span 2;
            margin-bottom: 7px; // aligns better with the bottom of the intro, accounting for line height
        }
    }

    &__client {
        @include font-size('body-two');
        font-weight: $weight--semibold;
    }

    &__meta {
        @include font-size('supporting');
        margin-bottom: $spacer-mini;

        @include media-query(large) {
            margin-bottom: $spacer-small;
        }
    }

    &__divider {
        margin: 0 7px;
    }
}
