@use 'config' as *;

.work-page-authors {
    grid-column: 2 / span 4;
    margin-bottom: $spacer-medium;

    @include media-query(large) {
        grid-column: 5 / span 7;

        .template-historical-work-page & {
            grid-column: 2 / span 8;
        }
    }
}
