{% load wagtailcore_tags cache navigation_tags %}
{% wagtail_site as current_site %}
<header>
    <div>
        {# commented out for now to stop it looking huge while it is unstyled #}
        {% comment %} {% include "patterns/atoms/logo/logo.html" %} {% endcomment %}
        <nav role="navigation" aria-label="Main navigation">
            {% cache 600 primarynav current_site.pk request.is_preview is_pattern_library %}
                <ul>
                    {% primarynav %}
                </ul>
            {% endcache %}
        </nav>
    </div>
</header>
