{% load wagtailcore_tags wagtail_cache navigation_tags %}
{% wagtail_site as current_site %}
<header class="header">
    {% include "patterns/atoms/skip-link/skip-link.html" %}
    <div class="grid">
        <div class="grid__header-nav header__bar">
            <div class="header__logo">
                <a
                    href="{% pageurl current_site.root_page %}"
                    class="header__logo-link"
                    aria-label="Homepage"
                >
                    {% if page.final_division and page.final_division.logo %}
                        {% with class_name="logo logo--"|add:page.final_division.logo %}
                            {% include "patterns/atoms/icons/icon.html" with name=page.final_division.logo classname=class_name %}
                        {% endwith %}
                    {% else %}
                        {% include "patterns/atoms/icons/icon.html" with name="logo-torchbox" classname="logo logo--logo-torchbox" %}
                    {% endif %}
                </a>
            </div>

            {# Primary desktop navigation #}
            <nav aria-label="Main navigation" class="primary-nav-desktop" data-primary-desktop-menu>
                <ul class="primary-nav-desktop__list">
                    {% primarynav %}
                </ul>
            </nav>

            {# Mobile menu #}
            <div class="header__mobile-controls">
                <div class="header__primary-menu-toggle-wrapper">
                    <span class="sr-only">Menu</span>
                    <button
                        aria-expanded="false"
                        aria-haspopup="true"
                        aria-controls="primary-mobile-menu"
                        aria-label="Open main menu"
                        class="button-menu-toggle"
                        data-primary-mobile-menu-toggle
                    >
                        <span class="button-menu-toggle__line"></span>
                        <span class="button-menu-toggle__line"></span>
                        <span class="button-menu-toggle__line"></span>
                        <span class="button-menu-toggle__line"></span>
                    </button>
                </div>
            </div>

            {# Primary mobile navigation #}
            <nav
                aria-label="Main navigation"
                class="primary-nav-mobile"
                data-primary-mobile-menu
                id="primary-mobile-menu"
            >
                <div class="primary-nav-mobile__scroll">
                    <ul class="primary-nav-mobile__list">
                        {% primarynavmobile %}
                    </ul>
                </div>
                <div class="primary-nav-mobile__footer">
                    {% include "patterns/molecules/mode_switcher/mode_switcher.html" %}
                </div>
            </nav>

            <div class="header__end">
                {# Mode switcher desktop #}
                <div class="header__mode-switcher">
                    {% include "patterns/molecules/mode_switcher/mode_switcher.html" %}
                </div>

                {# Header CTA #}
                {% wagtailcache 600 headeractions current_site.pk is_pattern_library %}
                    {% headeractions %}
                {% endwagtailcache %}
            </div>
        </div>
    </div>
</header>
