// CSS from external vendors (available as npm)
@use '../../../node_modules/lite-youtube-embed/src/lite-yt-embed.css';

// Base
@use 'base/base';
@use 'base/typography';
@use 'base/fonts';

// Components
@use 'components/icon'; // Icon at the top to be able to override
@use 'components/author';
@use 'components/authors-wide';
@use 'components/avatar';
@use 'components/button';
@use 'components/blog-meta';
@use 'components/call-to-action';
@use 'components/contact-cta';
@use 'components/cookie-message';
@use 'components/employee-owned-icon';
@use 'components/event-block';
@use 'components/featured-case-study';
@use 'components/footer';
@use 'components/footer-cta';
@use 'components/form';
@use 'components/grid';
@use 'components/header';
@use 'components/home-page-hero';
@use 'components/image';
@use 'components/instagram-gallery';
@use 'components/link';
@use 'components/listing';
@use 'components/listing-avatar';
@use 'components/listing-event';
@use 'components/listing-image';
@use 'components/logo';
@use 'components/mailchimp';
@use 'components/markdown-block';
@use 'components/mode-switcher';
@use 'components/motif-heading';
@use 'components/pagination';
@use 'components/partners';
@use 'components/photo-collage';
@use 'components/pullquote';
@use 'components/responsive-object';
@use 'components/report-in-page-nav';
@use 'components/report-section';
@use 'components/rich-text';
@use 'components/page-listing';
@use 'components/promo';
@use 'components/section-title';
@use 'components/showcase';
@use 'components/skip-link';
@use 'components/small-image-with-text';
@use 'components/sprites-preview-icons';
@use 'components/stats';
@use 'components/streamfield';
@use 'components/team-page-meta';
@use 'components/tabbed-paragraph';
@use 'components/table';
@use 'components/tabs';
@use 'components/tabs-mobile';
@use 'components/tag';
@use 'components/team-listing';
@use 'components/title-filters';
@use 'components/values';
@use 'components/work-hero';
@use 'components/work-sections';
@use 'components/youtube-embed';

// Navigation
@use 'components/navigation/breadcrumbs-nav';
@use 'components/navigation/footerlinks-nav';
@use 'components/navigation/primary-nav-desktop';
@use 'components/navigation/primary-nav-mobile';
@use 'components/navigation/sub-nav-desktop';
@use 'components/navigation/sub-nav-desktop-mini';
@use 'components/navigation/sub-nav-mobile';

// Layout

@tailwind base;
@tailwind components;
@tailwind utilities;
