{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block content %}
    <div class="grid streamfield">
        <div class="grid__title">
            {% include "patterns/atoms/motif-heading/motif-heading.html" with heading=page.statement classes="motif-heading--one" %}
        </div>
        <div class="grid__intro heading heading--six">
            {{ page.introduction }}
        </div>

        {% include "patterns/molecules/partner_logos/partner_logos.html" with partner_logos=page.logos.all %}

        {% include_block page.body %}
    </div>
{% endblock %}

