{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block extra_jsonld %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Torchbox",
            "url": "https://torchbox.com/",
            "logo": "https://torchbox.com/android-chrome-512x512.png",
            "sameAs": [
                "https://bsky.app/profile/torchbox.com",
                "https://www.linkedin.com/company/torchbox",
                "https://www.instagram.com/torchboxltd/"
            ]
        }
    </script>
{% endblock extra_jsonld %}

{% block content %}

    <div class="swirls">
        <div class="swirls__container">
            {% include "patterns/atoms/icons/background-swirls.html" %}
        </div>
    </div>

    <div class="grid streamfield">
        {% include "patterns/molecules/home-page-hero/home-page-hero.html" %}

        <div class="grid__intro home-page-intro">
            {{ hero_introduction|richtext }}
        </div>

        <div class="grid__partners">
            {% if page.partner_logos|length > 5 %}
                {% include "patterns/molecules/partner_logos/partner_logos.html" with partner_logos=page.partner_logos classes="partners__logos--wide" %}
            {% else %}
                {% include "patterns/molecules/partner_logos/partner_logos.html" with partner_logos=page.partner_logos %}
            {% endif %}
        </div>

        {% include_block page.body %}
    </div>
{% endblock %}

