{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags navigation_tags static %}

{% block extra_jsonld %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Torchbox",
            "url": "https://torchbox.com/",
            "logo": "https://torchbox.com/android-chrome-512x512.png",
            "sameAs": [
                "https://bsky.app/profile/torchbox.com",
                "https://www.linkedin.com/company/torchbox",
                "https://www.instagram.com/torchboxltd/"
            ],
            "contactPoint": [
                {
                    "@type" : "ContactPoint",
                    "url" : "https://webforms.pipedrive.com/f/1wBo1TMSCoUGjcLXm4S3mytIvFK9dbHK2AtMmlQMH1mRXvN5EHKNK6zNIIiMQzR87",
                    "contactType" : "Public Sector inquiries"
                },
                {
                    "@type" : "ContactPoint",
                    "url" : "https://webforms.pipedrive.com/f/1FSsqNMztCY877GQZGKbmN8PV7aLBxcato52LhmYRE12Ru3bu0ulYQcGUmksUKUx5",
                    "contactType" : "Charity Sector inquiries"
                },
                {
                    "@type" : "ContactPoint",
                    "url" : "https://webforms.pipedrive.com/f/2TB7NWfH9NVkWYrodsllHksfoO69IKUYDW9K8oWHExXTN0CxmgRxh22qAYTbPYyC7",
                    "contactType" : "Wagtail CMS services"
                }
            ],
            "diversityPolicy": "https://torchbox.com/about/diversity-and-inclusion-policy/",
            "vatID": "752981011",
            "companyRegistration": [
                {
                    "@type": "Certification",
                    "certificationIdentification": "3983354",
                    "issuedBy": {
                        "@type": "GovernmentOrganization",
                        "name": "Companies House"
                    },
                    "certificationStatus": "CertificationActive"
                },
                {
                    "@type": "Certification",
                    "about": "ISO 27001:2022",
                    "certificationIdentification": "357732021",
                    "issuedBy": {
                        "@type": "Organization",
                        "name": "Citation ISO Certification Limited"
                    },
                    "certificationStatus": "CertificationActive",
                    "datePublished": "2021-10-18",
                    "validFrom": "2026-01-27",
                    "expires": "2026-10-17"
                }
            ]
        }
    </script>
{% endblock extra_jsonld %}

{% block content %}

    <div class="swirls">
        <div class="swirls__container">
            {% include "patterns/atoms/icons/background-swirls.html" %}
        </div>
    </div>

    <div class="grid streamfield">
        {% include "patterns/molecules/home-page-hero/home-page-hero.html" %}

        <div class="grid__intro home-page-intro">
            {{ hero_introduction|richtext }}
        </div>

        <div class="grid__partners">
            {% if page.partner_logos|length > 5 %}
                {% include "patterns/molecules/partner_logos/partner_logos.html" with partner_logos=page.partner_logos classes="partners__logos--wide" %}
            {% else %}
                {% include "patterns/molecules/partner_logos/partner_logos.html" with partner_logos=page.partner_logos %}
            {% endif %}
        </div>

        {% include_block page.body %}
    </div>
{% endblock %}

