{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="grid streamfield">
        <div class="grid__title">
            <h1 class="heading heading--one">{{ page.title }}</h1>
        </div>

        {% if page.intro %}
            <div class="grid__intro streamfield__intro">
                <div class="heading heading--five">{{page.intro|richtext}}</div>
            </div>
        {% endif %}

        {% include_block page.body %}
    </div>
{% endblock %}
