{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="grid grid--spacer-large streamfield">
        <div class="grid__title">
            {% include "patterns/atoms/motif-heading/motif-heading.html" with heading=page.title classes="motif-heading--one" %}
        </div>

        {% if page.intro %}
            {% include "patterns/molecules/intro/intro.html" with intro_text=page.intro %}
        {% endif %}

        {% include_block page.body %}
    </div>
{% endblock %}
