{# Animated wagtail head icon - use as a child of a <a> tag #}
<div class="animated-icon animated-icon--wagtail-head">
    {% include "patterns/atoms/icons/icon.html" with name="wagtail-head-outline" classname="animated-icon__head" %}
    {% include "patterns/atoms/icons/icon.html" with name="wagtail-circle" classname="animated-icon__circle" %}
    {% include "patterns/atoms/icons/icon.html" with name="wagtail-top-beak" classname="animated-icon__top-beak" %}
    {% include "patterns/atoms/icons/icon.html" with name="wagtail-bottom-beak" classname="animated-icon__bottom-beak" %}
</div>
