
<h2 class="heading heading--two  streamfield__heading">Build, consultancy and support from the creators of Wagtail.</h2>

<div class="streamfield__paragraph">
    <div class="rich-text">
        <p>Whether you're looking to migrate to Wagtail, get expert support for your in-house team or sponsor a Wagtail feature, we can help.</p>
    </div>
</div>

{% include "patterns/molecules/streamfield/blocks/image_block.html" %}

<h2 class="heading heading--two streamfield__heading">Work with the creators of Wagtail.</h2>
<div class="streamfield__paragraph">
    <div class="rich-text">
        <p>We have the biggest Wagtail team in Europe and many of the founding developers of Wagtail still work at Torchbox. And, we're all business owners, 100% engaged in the quality of our work. Meet the team.</p>
    </div>
</div>

{% include "patterns/molecules/streamfield/blocks/call_to_action.html" %}

<h2 class="heading heading--two streamfield__heading">Our Clients</h2>
<!-- Include "patterns/molecules/streamfield/blocks/partners_block.html" when ready - currently in development -->


<h3 class="heading heading--three streamfield__heading">What our clients have to say about us</h3>
{% include "patterns/molecules/streamfield/blocks/pullquote_block.html" with value=blockquote_client_data %}

<h3 class="heading heading--three streamfield__heading">Our Other Services</h3>
{% include "patterns/molecules/streamfield/blocks/showcase_block.html" %}

<h3 class="heading heading--three streamfield__heading">We're Industry Leaders</h3>
<div class="streamfield__paragraph">
    <div class="rich-text">
        <p>How we can help</p>
        <ul>
            <li><a href="#">Sponsor a Wagtail feature or enhancement</a></li>
            <li><a href="#">Get expert developer support for your team</a></li>
            <li><a href="#">Supercharge your output with staff aug</a></li>
            <li><a href="#">Outsourced Wagtail builds</a></li>
            <li><a href="#">Wagtail developer training</a></li>
            <li><a href="#">24/7 application support & hosting</a></li>
        </ul>
    </div>
</div>





{% include "patterns/molecules/streamfield/blocks/contact_call_to_action.html" %}
