{% load wagtailcore_tags wagtailimages_tags %}
    {% include "patterns/atoms/section-title/section-title.html" with title=title %}
    <h2>
        {{ intro|richtext }}
    </h2>
    <ul>
        {% for item in items %}
            {% include "patterns/molecules/list-item/list-item.html" with item=item %}
        {% endfor %}
    </ul>

{% if contact %}
    {% image contact.image fill-100x100 %}

    {% if contact_reasons %}
        <h2>
            {{ contact_reasons.heading }}
        </h2>
    {% else %}
        <h2>
            Get in touch about your project
        </h2>
    {% endif %}

    <a href="mailto:{{ contact.email_address }}" aria-label="Email our New Business Director Will on {{ contact.email_address }}">
        {{ contact.email_address }}
    </a>

    {% if contact.phone_number %}
        <a href="tel:{{ contact.phone_number }}" aria-label="Phone our New Business Director Will on {{ contact.phone_number }}">
            {{ contact.phone_number }}
        </a>
    {% endif %}
{% endif %}
