{% load wagtailcore_tags wagtailimages_tags %}

<a href="{% firstof item.url item.link_external %}">
    <h2>{{ item.title }}</h2>

    {% if item.intro %}
        <p>{{ item.intro }}</p>
    {% endif %}

    {% if item.description %}
        <div>{{ item.description|richtext }}</div>
    {% endif %}

    {% if item.author %}
        {% image item.author.image fill-100x100 format-webp %}
        {{ item.author.name }}
        {{ item.author.role }}
        {% if item.event_type %}
            {{ item.event_type }}
        {% endif %}
        {% if item.date and item.type != "BLOG POST" %}
            {{ item.date }}
        {% endif %}
    {% endif %}

    <div>
        {% if item.read_time %}
            {{ item.read_time }} min read
        {% endif %}
    </div>

    <div>
        {% for tag in item.related_services %}
            {% include "patterns/atoms/tag/tag.html" with item=tag small=True tag_link_base=blog_index_url %}
        {% endfor %}
    </div>

</a>
