{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="grid grid--spacer-large streamfield">
        <div class="grid__title">
            {% include "patterns/atoms/motif-heading/motif-heading.html" with heading=page.title classes="motif-heading--one" %}

            <div class="team-page-meta">
                <div class="tags">
                    {% for tag in page.teams %}
                        {% include "patterns/atoms/tag/tag.html" with tag_name=tag.name tag_slug=tag.slug tag_link_base="../" %}
                    {% endfor %}
                </div>
                <span class="team-page-meta__role">{{ page.role }}</span>
            </div>
        </div>

        <div class="image grid__team-image">
            {% srcset_image page.image format-webp width-{400,650,950} sizes="(max-width: 598px) 400px, (max-width: 1022px) 950px, (min-width: 1023px) 650px" %}
        </div>

        {% if page.intro %}
            {% include "patterns/molecules/intro/intro.html" with intro_text=page.intro %}
        {% endif %}

        <div class="grid__paragraph rich-text">
            {{ page.biography|richtext }}
        </div>

        {% if page.author_posts %}
            {% include "patterns/atoms/motif-heading/motif-heading.html" with heading_level=2 heading=page.title.split.0|add:"'s thinking" classes="motif-heading--two motif-heading--static section-title--related-posts" %}

            <ul class="grid__related-posts-simple streamfield__related-posts-simple">
                {% for post in page.author_posts %}
                    {% pageurl post.get_parent as blog_index_url %}
                    {% pageurl post as post_url %}
                    {% include "patterns/molecules/listing/listing--simple.html" with link=post_url title=post.title name=post.author.name job_title=post.author.role date=post.date reading_time=post.read_time tags=post.tags tag_link_base=blog_index_url %}
                {% endfor %}
            </ul>
        {% endif %}

        {% if page.related_works %}
            {% include "patterns/atoms/motif-heading/motif-heading.html" with heading_level=2 heading=page.title.split.0|add:"'s work" classes="motif-heading--two motif-heading--static section-title--related-posts" %}

            <ul class="grid__related-posts streamfield__related-posts">
                {% pageurl page.work_index as work_index_url %}
                {% for work_page in page.related_works %}
                    {% pageurl work_page as work_page_url %}
                    {% include "patterns/molecules/listing/listing--image.html" with title=work_page.title name=work_page.client link=work_page_url date=work_page.date reading_time=work_page.read_time tags=work_page.tags listing_image=work_page.listing_image tag_link_base=work_index_url tags_screenreader_text="See more work posts in this category" %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>

{% endblock %}
