{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block meta_tags %}
    {{ block.super }}
    {% if 'filter' in request.GET or 'page' in request.GET %}
        <link rel="canonical" href="{% fullpageurl self %}">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="grid">
        {% include "patterns/molecules/title-filters/title-filters--team.html" with tags=tags item=page strapline=page.strapline %}

        <ul class="team-listing grid__team-listing">
            {% for member in people %}
                <li class="team-listing__item">
                    {# lazy load after the first five #}
                    {% if forloop.counter > 5 %}
                        {% srcset_image member.image fill-{230x230,370x370} format-webp sizes="(max-width: 598px) 370px, (min-width: 599px) 230px" class="team-listing__image" alt="" loading="lazy" %}
                    {% else %}
                        {% srcset_image member.image fill-{230x230,370x370} format-webp sizes="(max-width: 598px) 370px, (min-width: 599px) 230px" class="team-listing__image" alt="" %}
                    {% endif %}
                    <a class="team-listing__link" href="{% pageurl member %}">
                        {{ member.title }}
                    </a>
                    <p class="team-listing__role">{{ member.role }}</p>
                </li>
            {% endfor %}
        </ul>

        <div class="page-listing__pagination">
            {% include "patterns/molecules/pagination/pagination.html" with pages=people %}
        </div>
    </div>
{% endblock %}
