{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    <div class="grid">
        {% include "patterns/molecules/title-filters/title-filters--team.html" with tags=tags item=page strapline=page.strapline %}

        <ul class="team-listing grid__team-listing">
            {% for member in people %}
                <li class="team-listing__item">
                    {# lazy load after the first five #}
                    {% if forloop.counter > 5 %}
                        {% srcset_image member.image format-webp fill-{230x230,370x370} sizes="(max-width: 598px) 370px, (min-width: 599px) 230px" class="team-listing__image" alt="" loading="lazy" %}
                    {% else %}
                        {% srcset_image member.image format-webp fill-{230x230,370x370} sizes="(max-width: 598px) 370px, (min-width: 599px) 230px" class="team-listing__image" alt="" %}
                    {% endif %}
                    <a class="team-listing__link" href="{{ member.url }}">
                        {{ member.title }}
                    </a>
                    <p class="team-listing__role">{{ member.role }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
