{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
    {% include "patterns/molecules/title-block/title-block.html" with item=page meta=page.role %}

    {% image page.image width-1280 %}

    {{ page.intro|richtext }}
    {{ page.biography|richtext }}

    {% if page.author_posts %}
        {% include "patterns/atoms/section-title/section-title.html" with title="More of "|add:page.title.split.0|add:"'s thinking" %}
        {% for post in page.author_posts %}
            {% include "patterns/molecules/blog-item/blog-item.html" with item=post %}
        {% endfor %}
    {% endif %}

    {% if page.related_works %}
        {% include "patterns/atoms/section-title/section-title.html" with title="More of "|add:page.title.split.0|add:"'s work" %}
        {% include "patterns/organisms/work-listing/work-listing.html" with works=page.related_works %}
        {% pageurl page.work_index as work_index_url %}
        {% include "patterns/atoms/see-more/see-more.html" with link=work_index_url text="See more case studies" %}
    {% endif %}

    {% include_block page.call_to_action %}

{% endblock %}
