{% extends "patterns/base_page.html" %}
{% load wagtailcore_tags static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/division-page.css' %}">
{% endblock %}

{% block content %}
    <div class="grid grid--spacer-large streamfield">
        <h1 class="sr-only">{{ page.title }}</h1>

        <div class="grid__dynamic-hero">{% include_block page.hero %}</div>

        {% include_block page.body %}
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/division-page.js' %}"></script>
{% endblock %}
