{% extends "patterns/base_page.html" %}

{% block title %}Password required{% endblock %}

{% block body_class %}template-password-required{% endblock %}

{% block content %}




    <div class="grid grid--spacer-large streamfield">
        <div class="grid__title">
            {% include "patterns/atoms/motif-heading/motif-heading.html" with heading="Password required" classes="motif-heading--one" %}
        </div>

        <div class="grid__paragraph">
            <p class="heading heading--four">Please enter the password to proceed.</p>
        </div>

        <form action="{{ action_url }}" method="post"  class="grid__form form">
            {% csrf_token %}

            {{ form.non_field_errors }}

            {{ form.password.errors }}
            {{ form.password.label_tag }}
            {{ form.password }}

            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            <input type="submit" value="Continue" class="button" />
        </form>
    </div>
{% endblock %}
