<div class="grid__footer-contact-container footer-cta">
    <div class="grid__footer-contact">
        <h2 class="heading heading--two-b heading--semibold">{{ contact_heading }}</h2>
        <p class="footer-cta__subtitle">{{ contact_text }}</p>
        <div class="footer-cta__container">
            {% include "patterns/atoms/avatar/avatar.html" with avatar=contact_image classes="footer-cta__avatar avatar--cta" %}
            <div class="footer-cta__content">
                <div class="footer-cta__text">
                    <p><span class="footer-cta__name">{{ contact_name }} </span>{{ contact_role }}</p>
                    {% if contact_email %}
                        <p><a class="footer-cta__email" href="mailto:{{ contact_email }}">{{ contact_email }}</a></p>
                    {% endif %}
                </div>
                <p><a href="{{ contact_link }}" class="button footer-cta__button">{{ contact_action }}</a></p>
            </div>
        </div>
    </div>
</div>
