{% load wagtailcore_tags wagtailimages_tags %}

<div class="author{% if classes %} {{ classes }}{% endif %}">

    {% include "patterns/atoms/avatar/avatar.html" with avatar=author.image classes="avatar--"|add:avatar_size|add:" author__avatar" %}

    <div>
        {% if author_attribution %}
            <p class="author__attribution">{{ author_attribution }}</p>
        {% endif %}
        {% if author.person_page.live %}
            <p class="author__name">
                <a class="author__link" href="{% pageurl author.person_page %}" aria-label="By {{ author.name }}. View {{ author.name }}'s team profile page">
                    {{ author.name }}
                </a>
            </p>
        {% else %}
            <p class="author__name">
                {{ author.name }}
            </p>
        {% endif %}

        {% if author.role %}
            <p class="author__role">{{ author.role }}</p>
        {% endif %}
    </div>
</div>
